<% include ../../add_ins/begin-user_data.ejs %>

<div class='title'>Community Dendrogram</div>

<div id='dataviz-container' class=''><%- html %></div>


</div>  <!-- end grid_9  content -->
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/jquery.tooltip.js"></script>
<script type="text/javascript" src="/javascripts/global.js"></script>


    <div class="center" id="footer">
      <% include ../../add_ins/footer.html %>
    </div>
  </div>    <!-- end container_12 -->
</body>
</html>

