<% include ../../add_ins/begin-user_data.ejs %>

<div class='title'  >Metadata Table</div>

For Selected Datasets: <span id='md_select_phrase1'>Showing Selected Metadata Only</span><br>
<input type='checkbox' id='toggle_metadata' name='md_ckbx_toggle'  value='all' \><span id='md_select_phrase2'>Show All Metadata</span>

<div id='metadata_table_div'><%- html %></div>


<script src="/javascripts/jquery-2.1.1.min.js" defer></script>>
<script type='text/javascript' src='/javascripts/tablesort.min.js' defer></script>>
<script defer>
  new Tablesort(document.getElementById('metadata_table'));
</script>
<script type="text/javascript" src="/javascripts/global.js" defer></script>>
<script type="text/javascript" src="/javascripts/metadata.js" defer></script>>

<div class="center" id="footer">
      <% include ../../add_ins/footer.html %>
    </div>
</div>    <!-- end container_12 -->
</body>
</html>