<% include ../../add_ins/begin-user_data.ejs %>

<div class='title'  >Principal Components Analysis (PCoA)</div>

<div><%- html %></div>

<span id='chart_tooltip' >
  <table style='margin:0'>      
    
    <tr>      
      <td class='ds'>Dataset:</td>
      <td id='ds'></td>
    </tr>
    <tr>      
      
      <td id='mdata' colspan='2'></td>
    </tr>
    
     
  </table>  
</span>

<script src="/javascripts/jquery-2.1.1.min.js" defer></script>>
<script src="/javascripts/jquery.tooltip.js" defer></script>>
<script type="text/javascript" src="/javascripts/global.js" defer></script>>

<script type='text/javascript'>
  


$(document).ready(function() {  

    $(".tooltip").tooltip({
         
             
          tip: "#chart_tooltip",          
          position: 'center below',          
          offset: [-35,10],
          opacity: 0.8,          
          delay: 0,

          onBeforeShow: function(){
           
            var passthru = this.getTrigger().attr("id");
            
            
            var stuff = passthru.split('-|-')
            //dname = stuff[0];
            ds = stuff[0];
            metadata_name    = stuff[1];
            metadata_value   = stuff[2];  
            mdata =    'Name: '+metadata_name+' :: Value: '+metadata_value;       
                       
            $("#chart_tooltip table td#ds").text(ds);
            $("#chart_tooltip table td#mdata").text(mdata); 
            //$("#chart_tooltip table td#mvalue").text(metadata_value);                    
        
          },        
          
         onHide: function(){
             //this.getTrigger().parents("tr").children().eq("2").css('background-color', 'grey');          
         
         }          
      
      });         
      
      $(".tooltip").hover(function() {
         
         var cell = $(this);
         //test = cell.parents("tr").cells;
         //alert ('test= '+test)
  
    });
  
 });


</script> 



  <div class="center" id="footer">
      <% include ../../add_ins/footer.html %>
    </div>
  </div>    <!-- end container_12 -->
</body>
</html>