<% include ../add_ins/begin.ejs %>
<div class="title fa fa-anchor">Website Administration</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<br>
<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<div class="well">	
	<ul>
		
		<li>Project Aministration:
		<ul>
            <li><a href='/admin/public_status'>Grant/Revoke Public Status for Projects</a></li>
            <li><a href='/admin/alter_project'>Change Project Information</a></li>
            <li><a href='/admin/delete_project'>Delete Projects</a> -- TODO</li>
		</ul>
		</li>
		
		<li>User Administartion:
		<ul>
            <li><a href='/admin/admin_status'>User Security Levels</a></li>
            <li><a href='/admin/permissions'>User Project Permissions</a></li>
            <li><a href='/admin/users_index'>View User List</a></li>
            <li><a href='/admin/new_user'>Create New User</a></li>
            <li><a href='/admin/reset_user_password'>Reset Users Password</a></li>
           <!--  <li><a href='/admin/inactivate_user'>Inactivate Users</a></li>   -->
            <li><a href='/admin/update_metadata_object'>Re-Create JSON Metadata Object from File</a></li>          
		</ul>
		</li>
		<li>Other:
		<ul>
		    <li><a href='/admin/update_json_files'>Re-Install JSON Files</a> --TODO</li>
		    <li><a href='/admin/update_metadata'>Update/Upload Metadata</a>  --TODO</li>
		    <li><a href='/admin/all_files_retrieval'>Users' Files Retrieval</a></li>
		    <li><a href='' onclick=create_dco_file()>Create All CoDL Metadata File</a></li>
		    <li><a href='/admin/kill_cluster_jobs'>Kill (qdel) VAMPS Cluster Jobs as vamps(dev)httpd User</a></li>
		    <li><a href='/admin/cleanup_tmp_dirs'>Cleanup /tmp directories (should happen on normal user login)</a></li>
		    
		</ul>
		</li>
	</ul>
</div>
</div>	
</div>
<% include ../add_ins/end.ejs %>
   <script type="text/javascript" src="/javascripts/admin.js"></script>
 </body>
 </html>