<% include ../add_ins/begin.ejs %>

<% uinfo = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	
	<div class="hero-unit center">
	            <h2>Website Administration</h2>
				<h3>Grant/Revoke Admin Status</h3>
		             
	</div>

	<br>
	<br>
	<a href='admin_index'><--back</a> | <a href='admin_status'>refresh</a>
	<hr>
<center>


 All Users (sortable)
<br>
	
<div style='width:70%;height:500px;overflow:auto'>
<table border='1' class='admin_table table sortable'>
		<tr><thead><th>Last, First (userID)</th><th>Username</th><th data-defaultsort='disabled'>User Status</th><th data-defaultsort='disabled'></th><th data-defaultsort='disabled'>Msg</th></thead></tr>
		<tbody>
		<% for(i in uinfo) { %>
		
					<form name='admin_form_<%= uinfo[i].uid %>' id='admin_form_<%= uinfo[i].uid %>' method='POST' action=''>
						<tr>
							<td><%= uinfo[i].last_name %>, <%= uinfo[i].first_name %><small> (<%= uinfo[i].uid %>)</small></td>
							<td><%= uinfo[i].username %></td>
							<td style='white-space: nowrap;padding:8px 3px 0 3px;'>

		<% 		if(uinfo[i].status === 1) { %>
							<input checked type='radio' name='admin_radio_<%= uinfo[i].uid %>' value='1'> Admin&nbsp;&nbsp;
							<input         type='radio' name='admin_radio_<%= uinfo[i].uid %>' value='50'> Unprivileged
		<% 		}else{ %>
							<input         type='radio' name='admin_radio_<%= uinfo[i].uid %>' value='1'> Admin&nbsp;&nbsp;
							<input checked type='radio' name='admin_radio_<%= uinfo[i].uid %>' value='50'> Unprivileged
		<% 		} %>
					</td>
					<td>
						<a href='#' onclick="change_admin('<%= uinfo[i].uid %>')">update</a>
					</td>
					<td><div id='msg_div_<%= uinfo[i].uid %>'></div></td>
					</tr>
					</form>
		<% } %>
</tbody>
</table>

</div>
</center>




	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js"></script> 
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>     
 </body>
 </html>