<% include ../add_ins/begin.ejs %>
<div class="title fa fa-anchor">Website Administration</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<br>
<div class="well">

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	<table>
		
		<tr><td><a href='/admin/public'>Grant/Revoke Public Status for Projects</a></td></tr>
		<tr><td><a href='/admin/alter_admin_for_user'>Grant/Revoke Admin Status for Users</a> --TODO</td></tr>
		<tr><td><a href='/admin/update_json_files'>Re-Install JSON Files</a> --TODO</td></tr>
		<tr><td><a href='/admin/alter_project'>Change Project Information</a></td></tr>
		<tr><td><a href='/admin/delete_project'>Delete Projects</a></td></tr>
		<tr><td><a href='/admin/permissions'>User Permissions</a></td></tr>
		<tr><td><a href='/users/users_index'>View User List</a></td></tr>
		<tr><td><a href='/admin/new_user'>Create New User</a></td></tr>
		<tr><td><a href='/admin/reset_user_password'>Reset Users Password</a></td></tr>
		<tr><td><a href='/admin/update_metadata'>Update Metadata</a></td></tr>
		
	</table>
</div>
</div>	
</div>
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>