<% include ../add_ins/begin.ejs %>

<% pinfo = JSON.parse(project_list) %>
<% uinfo = JSON.parse(user_info) %>


<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
	
	
	
	<div class="hero-unit center">
	    <h2>Website Administration</h2>
			<h3>Change Project Information</h3>
		             
	</div>

	<br>
	<br>
	<% if(proj_to_open != 0){ %>
			<a href='admin_index'><--back</a> | <a id='refresh_div' href="alter_project?pid=<%= proj_to_open.pid %>">refresh</a>
	<% }else{ %>
			<a href='admin_index'><--back</a> | <a id='refresh_div' href="alter_project">refresh</a>
	<% } %>
	<hr>
	<center>
	
	<table border='0'>
		<tr>
			<td valign='top' align='center'>
				Select Project:<br>
					<select id='select_project_alter' >
						<option value='.....'>.....</option>
						<% for(i in pinfo) { %>						
						<% 		if(parseInt(proj_to_open.pid) === parseInt(pinfo[i].pid)){ %>
										<option selected='selected' value='<%= pinfo[i].pid %>'><%= pinfo[i].project %></option>
						<% 		}else{ %>
										<option value='<%= pinfo[i].pid %>'><%= pinfo[i].project %></option>
						<% 		} %>
						<% } %>
					</select>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
			
				<div id='current_info'>
					
					<% if(proj_to_open != 0){ %>
                        <center>
						    	<table class='admin_table' border='1'>
						      <tr><th></th><th>Current Value</th><th>Enter or Select New Value</th><th></th><th>msg</th></tr>
						      
						      <tr>
						      <form id='' name='update_pname_form' method='POST' action='update_pname'>
						      <td>Project Name (pid)</td><td><%= proj_to_open.project %> <small>(<%= proj_to_open.pid %>)</small></td>
						      <td><input type='edit' id='new_pname' name='new_pname' value='<%= proj_to_open.project %>' width='200' style='width: 200px' /></td>
						      <td><input id='new_pname_btn' type='button' value='Update' onclick="update_project('pname', '<%= proj_to_open.pid %>')"></td>
						      <td><div id='new_pname_response_id'></div></td>
						      </form>
						      </tr>
						      
						      <tr>
						      <form id='' name='update_powner_form' method='POST' action='update_powner'>
						      <td>Owner (username-uid)</td><td><%= proj_to_open.last %>, <%= proj_to_open.first %> <small>(<%= proj_to_open.username %>-<%= proj_to_open.oid %>)</small></td>
						      <td>
						       <select id='new_oid' name='new_oid' width='200' style='width: 200px'>    
						      <% for(uid in uinfo) { %>
						      <%     if(uinfo[uid].username !== 'guest'){ %>
						      <%       if(uinfo[uid].username === proj_to_open.username){ %>
						              		<option selected value='<%= uid %>'><%= uinfo[uid].last_name %>,<%= uinfo[uid].first_name %>
						                   <small>(<%= uinfo[uid].username %>)</small></option>
						      <%       }else{ %>
						                  <option value='<%= uid %>'><%= uinfo[uid].last_name %>,<%= uinfo[uid].first_name %>
						                   <small>(<%= uinfo[uid].username %>)</small></option>
						      <%       }   %>
						      <%     }    %>     
						      <% }  %>
						       </select>
						       </td>
						       <td><input id='new_powner_btn' type='button' value='Update' onclick="update_project('powner', '<%= proj_to_open.pid %>')"></td>
						       <td><div id='new_powner_response_id'></div></td>
						      </form>
						      </tr>
						      
						      
						      <tr>
						      <form id='' name='update_ptitle_form' method='POST' action='update_ptitle'>
						       <td>Project Title</td><td><span><%= proj_to_open.title %></span></td>
						       <td><input type='edit' id='new_ptitle' name='new_ptitle' value='<%= proj_to_open.title %>' width='200' style='width: 200px'/></td>
						       <td><input id='new_ptitle_btn' type='button' value='Update' onclick="update_project('ptitle', '<%= proj_to_open.pid %>')"></td>
						       <td><div id='new_ptitle_response_id'></div></td>
						      </form>
						      </tr>
						      
						      <tr>
						      <form id='' name='update_pdesc_form' method='POST' action='update_pdesc'>
						       <td>Project Description</td><td><span><%= proj_to_open.description %></span></td>
						       <td><textarea id='new_pdesc' name='new_pdesc'  value='<%= proj_to_open.description %>' rows='2' cols='28'><%= proj_to_open.description %></textarea></td>
						       <td><input id='new_pdesc_btn' type='button' value='Update' onclick="update_project('pdesc', '<%= proj_to_open.pid %>')"></td>
						       <td><div id='new_pdesc_response_id'></div></td>
						      </form>
						      </tr>
						      
						      

						      <tr>
						      <% if(proj_to_open.public === 1){ %>
						        <td>Public</td><td>True</td>
						      <% }else{ %>
						        <td>Public</td><td>False</td>
						      <% } %>
						      
						      
						      <td><a href="public">View or Change</a></td>
						      <td></td>
						      <td></td>
						      </tr>
						      
						      <tr>
						      <td>Permissions</td><td><%= proj_to_open.permissions %></td>
						      <td><a href="permissions">View or Change</a></td>
						      <td></td>
						      <td></td>
						      </tr>
						      
						      <tr>
						      <td>Datasets</td><td></td>
						      <td><a href="alter_datasets?pid=<%= proj_to_open.pid %>">View or Change</a></td>
						      <td></td>
						      <td></td>
						      </tr>
						      
						      <table>
                        <center>
					<% } %>
				</div>
		</td>

	</tr>

	</table>
</center>


      



	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js" defer></script>>
 </body>
 </html>