<% include ../add_ins/begin-no_menu.ejs %>
<% pinfo = JSON.parse(project_info) %>
<% uinfo = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	
	<div class="hero-unit">
	      <h2>VAMPS: Website Administration</h2>
				<h3>Assign Permissions</h3>
		             
	</div>

	<br>
	<br>
	<div id='info_div'></div>
	<hr>
	
	<table>
		
		<tr><td>Select User:<br>
			<select id='select_user' >
				<option>.....</option>
				<% for(uid in uinfo) { %>
					<option value='<%= uid %>'><%= uinfo[uid].last_name %>, <%= uinfo[uid].first_name %> <small>(<%= uinfo[uid].username %>)</small></option>
				<% } %>
			</select>
		</td><td>&nbsp;</td>
		<td>
				<div id='select_projects_div' style='visibility:hidden;'>
					Select Project:<br>
					<select id='select_project' >
						<option value='.....'>.....</option>
						<% for(pid in pinfo) { %>
							<% if(pinfo[pid].public !== 1){ %>
								<option value='<%= pid %>'><%= pinfo[pid].project %></option>
							<% } %>
						<% } %>
					</select>

				</div> 

		</td><td>&nbsp;</td>
		<td><br>
				<div id='assign_access_div' style='visibility:hidden;'>
					<button id='grant_access_btn' name='' >Grant Access</button>
				</div> 

		</td>

	</tr>
</table>

	<div id='user_info_div'></div>    
      




<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js"></script>   
 </body>
 </html>