<% include ../add_ins/begin.ejs %>
<% info = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
<div class="container">
<br><br>
	<div class="hero-unit">
	       <h3>Admin: Change User Password</h3>    
	</div>
	
  <br><br>
<div id='new_user_div' class='table' >
		<form id='' name='' method='POST' action='reset_user_password'>
		  
		  <select name='user_id' id='user'>
		  	<option id='' value='' >...</option>
		  	<% for(uid in info){ %>
		  	<option id='' value='<%= uid %>'><%= uid %> - <%= info[uid].last_name %>, <%= info[uid].first_name %> (<%= info[uid].username %>)</option>
		  	<% } %>
		  </select> Select User
		  <br><br>
		  <input id=''   type="text" name='password' \> Enter New Password <span class='tiny_font'>(between 3 and 20 characters.)</span>
		  <br><br><input id=''   type="submit"  \>
		</form>
</div>
</div>





	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>