<% include ../add_ins/begin.ejs %>
<% info = JSON.parse(user_info) %>

<% if (messages.success) { %>
    <div class="message alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="message alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
	
	
<div class="hero-unit center">
	    <h2>Website Administration</h2>
	    <h3>Change User Password</h3>    
</div>
	
 <br><br>
	<a href='admin_index'><--back</a> | <a href='reset_user_password'>refresh</a>
 <hr>
 <div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-5">
        <div id='new_user_div' class='table' >
                <form id='' name='' method='POST' action='reset_user_password'>
          
                  <select name='user_id' id='user'>
                    <option id='' value='' >...</option>
                    <% for(u in info){ %>
                    <option id='' value='<%= info[u].uid %>'><%= info[u].uid %> - <%= info[u].last_name %>, <%= info[u].first_name %> (<%= info[u].username %>)</option>
                    <% } %>
                  </select> Select User
                  <br><br>
                  <input id=''   type="text" name='password' \> Enter New Password <span class='tiny_font'>(between 3 and 20 characters.)</span>
                  <br><br><input id=''   type="submit"  \>
                </form>
        </div>
</div>
</div>





	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>