<% include ../add_ins/begin.ejs %>


<% if(new_user){ %>	
    <%  fname = new_user.firstname %>
    <%  lname = new_user.lastname %>
    <%  uname = new_user.username %>
    <%  pass = new_user.password %>
    <%  email = new_user.email %>
    <%  inst = new_user.institution %>
<% } %>

<div class="hero-unit center">
	            <h2>Website Administration</h2>
				<h3>Create New User</h3>     
</div>
	
<a href='admin_index'><--back</a> | <a href='new_user'>refresh</a>

<div class="row">
<div class="col-lg-3">
    <% if (messages.success) { %>
        <div class="alert_flash_message_success"><%= messages.success %></div>
    <% }else if(messages.fail){ %>
        <div class="alert_flash_message_fail"><%= messages.fail %></div>
    <% } %>
</div>
<div class="col-lg-6">

<div class="well">


<br>
   <div id='new_user_div' class='table' >All fields are required -- <a class='button' href='new_user'>Clear Form</a>
        <form id='' name='newuser_form' method='POST' action='new_user' >          
          <ul>
          <li> <input id='username'       name='username'       type="text"  value='<%= uname %>'     \> Username <span class='tiny_font'>(alphanumeric only. no spaces.)</span></li>
          <li> <input id='password'       name='password'       type="passwordX"  value='<%= pass %>' \> Password <span class='tiny_font'>(between 3 and 20 characters.)</span></li>
          <li> <input id='userfirstname'  name='userfirstname'  type="text"  value='<%= fname %>'     \> First Name</li>
          <li> <input id='userlastname'   name='userlastname'   type="text"  value='<%= lname %>'     \> Last Name</li>
          <li> <input id='useremail'      name='useremail'      type="text"  value='<%= email %>'     \> Email <span class='tiny_font'>(must be correct email format)</span></li>  
          <li> <input id='userinstitution'name='userinstitution'type="text"  value='<%= inst %>'      \> Institution</li>
          <li> <input id=''   type="submit" value='Enter' \></li>
          </ul>
        </form>
   </div>
</div>
</div>
</div>
	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>