<% include ../add_ins/begin.ejs %>

<% pinfo = JSON.parse(project_info) %>
<% uinfo = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	
				<div class="hero-unit center">
				      <h2>Website Administration</h2>
							<h3>Permissions</h3>  
				</div>

	<br>
	<br>
	<a href='admin_index'><--back</a> | <a href='permissions'>refresh</a> | <a href='/projects/projects_index'>View Public Projects</a><div class='pull-right' id='response_info'></div>
	<hr>
<div class="container">

<div class='col-md-6'>


			 By Project (only showing private projects)
			<br>
			<div class='admin_table_div'>
			<table border='1'  class='admin_table table sortable' style=''>
				<tr><thead><th>Project Name <small>(sortable)</small></th><th>Owner</th><th data-defaultsort='disabled'>Access</th><th data-defaultsort='disabled'>Add User?</th></thead></tr>
				<tbody>
				<% for(pid in pinfo) { %>
				<% 		formname = 'by_project_'+pid; %>
							<form id='<%= formname %>' name='<%= formname %>' method='POST' action='/admin/grant_access'>
				<% 		if(pinfo[pid].public !== 1) { %>			
				
					<tr>
					<td><%= pinfo[pid].project %><br><small>(<%= pid %>)</small>


					</td>
					<td><%= pinfo[pid].username %></td>
					<td>
						<div id='' style='height:50px;overflow:auto;padding-left:5px;'>
				<% 			for(n in pinfo[pid].permissions) { %>
				<% 				user_id = pinfo[pid].permissions[n] %>
				<% 				user    = uinfo[user_id].username %>
									<%= user %><br>
				<% 			} %>
						</div>

					</td>

					<td>


							<select id='by_project_select'  >
									<option value='0'>.....</option>
				<% for(uid in uinfo) { %>
				<% 		if(uinfo[uid].username !== 'guest') { %>
									<option value='<%= uid %>'><%= uid %> <%= uinfo[uid].last_name %>, <%= uinfo[uid].first_name %> <small>(<%= uinfo[uid].username %>)</small></option>
				<% 		} %>		
				<% 	} %>			
							</select>
							<input id='new_permission_btn' type='button' class='btn btn-link' value='add' onclick="grant_access('by_project','<%= pid %>')">
					</td>
					</tr>
				<% 		} %>
					</form>


				<% } %>
			</tbody>
			</table>
			</div>

</div>
<div class='col-md-6'>


		By User
		<br>
		<div class='admin_table_div' >
		<table border='1' class='admin_table table sortable' style=''>
		<tr><thead><th>User <small>(sortable)</small></th><th data-defaultsort='disabled'>Access</th><th data-defaultsort='disabled'>Add Project?</th></thead></tr>
		<tbody>
		<% for(uid in uinfo) { %>
		<%    if(uinfo[uid].last_name != 'guest' && uinfo[uid].first_name != 'guest' ) { %>
		<% 	var plist = [] %>
		<%  formname = 'by_user_'+uid; %>
		<form id='<%= formname %>' name='<%= formname %>' method='POST' action='/admin/grant_access'>			

			<tr>
			<td>
				<%= uinfo[uid].last_name %>, <%= uinfo[uid].first_name %><br><small>(<%= uinfo[uid].username %>-<%= uid %>)</small>
			</td>

			<td>

		<% 			for(pid in pinfo) { %>
		<%					if(pinfo[pid].permissions.length > 0 ){ %>
		<%						if(pinfo[pid].permissions.indexOf(parseInt(uid)) !== -1) { %>
		<%								plist.push(pinfo[pid].project); %>		
		<%						} %>
		<%					} %>
		<% 			} %>	
					<div id='' style='height:50px;overflow:auto;'>
		<%			if(plist.length > 0 ){ %>
							
		<%				for(p in plist){ %>									
									<%= plist[p] %><br>									
		<%				} %>
		<%			} %>
					</div>	
			</td>

			<td>
				<select id='by_user_select' name='by_user_select' >
							<option value='0'>.....</option>
		<% 				for(pid in pinfo) { %>		
		<%					if(pinfo[pid].public == 0){ %>
									<option value='<%= pid %>'><%= pinfo[pid].project %> <small>(<%= pid %>)</small></option>
		<% 					} %>	
		<% 				} %>			
				</select>
				<input id='new_permission_btn' type='button' class='btn btn-link' value='add' onclick="grant_access('by_user','<%= uid %>')" >
			</td>

			</tr>
			<input type='hidden' name='uid' value='<%= uid %>'>
		</form>
		
		<% } %>
		<% } %>
	</tbody>
	</table>
	</div>   
      
</div>
</div>


	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js"></script>  
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>   
 </body>
 </html>