<% include ../add_ins/begin.ejs %>

<% //pinfo = JSON.parse(project_info) %>
<% uinfo = JSON.parse(user_info) %>
<% porder = JSON.parse(project_order) %>
<% uorder = JSON.parse(user_order) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	
				<div class="hero-unit center">
				      <h2>Website Administration</h2>
							<h3>Permissions</h3>  
				</div>

	<br>
	<br>
	<a href='admin_index'><--back</a> | <a href='permissions'>refresh</a> | <a href='/projects/projects_index'>View Public Projects</a><div class='pull-right' id='response_info'></div>
	<hr>
<div class="container">

<div class='col-md-6'>


			 By Project (only showing private projects)
			<br>
			<div class='admin_table_div'>
			<table border='1'  class='admin_table table sortable' style=''>
				<tr><thead><th>Project Name <small>(sortable)</small></th><th>Owner</th><th data-defaultsort='disabled'>Access</th><th data-defaultsort='disabled'>Add User?</th></thead></tr>
				<tbody>
				<% for(p in porder) { %>
				<% 		formname = 'by_project_'+porder[p].pid; %>
							<form id='<%= formname %>' name='<%= formname %>' method='POST' action='/admin/grant_access'>
				<% 		if(porder[p].public !== 1) { %>			
				
					<tr>
					<td><%= porder[p].project %><br><small>(<%= porder[p].pid %>)</small>


					</td>
					<td><%= porder[p].username %></td>
					<td>
						<div id='' style='height:50px;overflow:auto;padding-left:5px;'>
				<% 			for(n in porder[p].permissions) { %>
				<% 				user_id = porder[p].permissions[n] %>
				<% 				user    = uinfo[user_id].username %>
									<%= user %><br>
				<% 			} %>
						</div>

					</td>

					<td>

						<%  selectuname = 'by_project_'+porder[p].pid+'_select' %>
							<select id='<%= selectuname %>' name='<%= selectuname %>'  >
									<option value='0'>.....</option>
				<% for(u in uorder) { %>
				<% 		if(uorder[u].username !== 'guest') { %>
							<option value='<%= uorder[u].uid %>'> <%= uorder[u].last_name %>, <%= uorder[u].first_name %> <small>(<%= uorder[u].username %>; uid=<%= uorder[u].uid %>)</small></option>
				<% 		} %>		
				<% 	} %>			
							</select>
							<input id='new_permission_btn' type='button' class='btn btn-link' value='add' onclick="grant_access('by_project','<%= porder[p].pid %>')">
					</td>
					</tr>
				<% 		} %>
					</form>


				<% } %>
			</tbody>
			</table>
			</div>

</div>
<div class='col-md-6'>


		By User
		<br>
		<div class='admin_table_div' >
		<table border='1' class='admin_table table sortable' style=''>
		<tr><thead><th>User <small>(sortable)</small></th><th data-defaultsort='disabled'>Access</th><th data-defaultsort='disabled'>Add Project?</th></thead></tr>
		<tbody>
		<% for(u in uorder) { %>
		<%    if(uorder[u].last_name != 'guest' && uorder[u].first_name != 'guest' ) { %>
		<% 	var plist = [] %>
		<%  formname = 'by_user_'+uorder[u].uid; %>
		<form id='<%= formname %>' name='<%= formname %>' method='POST' action='/admin/grant_access'>			

			<tr>
			<td>
				<%= uorder[u].last_name %>, <%= uorder[u].first_name %><br><small>(<%= uorder[u].username %>-<%= uorder[u].uid %>)</small>
			</td>

			<td>

		<% 			for(p in porder) { %>
		<%					if(porder[p].permissions.length > 0 ){ %>
		<%						if(porder[p].permissions.indexOf(parseInt(uorder[u].uid)) !== -1) { %>
		<%								plist.push(porder[p].project); %>		
		<%						} %>
		<%					} %>
		<% 			} %>	
					<div id='' style='height:50px;overflow:auto;'>
		<%			if(plist.length > 0 ){ %>							
		<%				for(p in plist){ %>									
									<%= plist[p] %><br>									
		<%				} %>
		<%			} %>
					</div>	
			</td>

			<td>
				<%  selectpname = 'by_user_'+uorder[u].uid+'_select' %>
				<select id='<%= selectpname %>' name='<%= selectpname %>' >
							<option value='0'>.....</option>
		<% 				for(p in porder) { %>		
		<%					if(porder[p].public == 0){ %>
									<option value='<%= porder[p].pid %>'><%= porder[p].project %> <small>(<%= porder[p].pid %>)</small></option>
		<% 					} %>	
		<% 				} %>			
				</select>
				<input id='new_permission_btn' type='button' class='btn btn-link' value='add' onclick="grant_access('by_user','<%= uorder[u].uid %>')" >
			</td>

			</tr>
			<input type='hidden' name='uid' value='<%= uorder[u].uid %>'>
		</form>
		
		<% } %>
		<% } %>
	</tbody>
	</table>
	</div>   
      
</div>
</div>


	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js"></script>  
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>   
 </body>
 </html>