<% include ../add_ins/begin-no_menu.ejs %>

<% pinfo = JSON.parse(project_info) %>
<% uinfo = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	
	<div class="hero-unit">
	            <h2>VAMPS: Website Administration</h2>
				<h3>Public Projects</h3>
		             
	</div>

	<br>
	<br>
	
	<hr>

<table><tr>

<td>

 All Projects (sortable)
	<br>
	<div style=''>
	<table border='1' class='admin_table table sortable'>
		<tr><thead><th>Project Name</th><th data-defaultsort='disabled'></th><th data-defaultsort='disabled'></th><th data-defaultsort='disabled'>Msg</th></thead></tr>
		<tbody>
		<% for(pid in pinfo) { %>
		
		
					<form name='public_form_<%= pid %>' id='public_form_<%= pid %>' method='POST' action=''>
						<tr><td><%= pinfo[pid].project %> <small>(<%= pid %>)</small></td>
		<% 		if(pinfo[pid].public === 1) { %>
						
						<td style='white-space: nowrap;padding:0 2px;'>
							<input checked type='radio' name='public_radio_<%= pid %>' value='1'>Public
							<input         type='radio' name='public_radio_<%= pid %>' value='0'>Private
						</td>
						
		<% 		}else{ %>
						
						<td style='white-space: nowrap;padding:0 2px;'>
							<input         type='radio' name='public_radio_<%= pid %>' value='1'>Public
							<input checked type='radio' name='public_radio_<%= pid %>' value='0'>Private
						</td>						
								
		<% 		} %>
					<td>
						<input id='public_btn' type='button' class='btn btn-link' value='update' onclick="change_public('<%= pid %>')">
					</td>
					<td><div id='msg_div_<%= pid %>'></div></td>
					</tr>
					</form>
		<% } %>
	</tbody>
	</table>

</td>


</tr>
</table>




	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/admin.js"></script> 
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>     
 </body>
 </html>