/** For home_pageSpec.js
* From http://www.hugeinc.com/ideas/perspective/test-based-coding-in-node-js-with-mocha with AS changes
*/

Requirement 1: Home page functionality
1.1 Need to see text on the home page.
1.2 Need to see the link to the login page.

Requirement 2: Login page functionality
2.1 Need to see text on the login page.
2.2 Need to be able to login with user/password "TEST"/"TEST".
2.3 Need to not be able to login with user/password not "TEST"/"TEST".
2.3.1 If logging in with user/password not "TEST"/"TEST", redirect to the login page.

Requirement 3: Register page functionality
3.1 Need to see text on the register page ("/users/signup").
3.1.1 Need to be able to see the text for the input box. (Username
 Password
 First Name
 Last name
 Email
 Institution)
3.1.2 Need to be able to see all the previous inputs listed.
3.2 Need to be able enter userfirstname / userlastname / useremail / userinstitution values.
3.2.1 Need to be able to see entry in the database.
3.2.2 Need to be able to see entry on the page.
3.3 Succsessful registration should redirect to users/profile
3.3.1 users/profile should have "Profile Page" and all user info + UserID
3.4 Need to see the link to the login page.
3.5 If the username exists should see a message and redirect back to "/users/signup"