/** For home_pageSpec.js
* From http://www.hugeinc.com/ideas/perspective/test-based-coding-in-node-js-with-mocha with AS changes
*/

Requirement 1: Home page functionality
1.1 Need to see text on the home page.
1.2 Need to see the link to the login page.

Requirement 2: Login page functionality
2.1 Need to see text on the login page.
2.2 Need to be able to login with user/password "TEST"/"TEST".
2.3 Need to not be able to login with user/password not "TEST"/"TEST".
2.3.1 If logging in with user/password not "TEST"/"TEST", redirect to the login page.

Requirement 3: Register page functionality ("/users/signup")
*) The register page should show a register form
(Username
 Password
 First Name
 Last name
 Email
 Institution)
*) The register page should refuse empty submissions
*) The register page should refuse partial submissions
*) The register page should keep values on partial submissions
*) The register page should refuse invalid emails
*) The register page should accept complete submissions (userfirstname / userlastname / useremail / userinstitution)
*) The register page succsessful registration should redirect to users/profile
*) The profile page (users/profile) should have "Profile Page" and all user info + UserID
*) The register page should give a message and redirect back to "/users/signup" if the username exists
*) The register page should have the link to the login page.
