.sql
*.fa
*.fna
*.fasta
public/scripts/*.pyc
*.pyc
!db_schema.sql
!db_config.sql.gz
!db_schema_w_test_data.sql
!db_schema_w_test_data.sql.gz
config/db-connection*
config/config*
config/db_vamps_node.sql.gz
config/old/*
node_modules/
colony/

colony-npm/
*log.txt
*.log

# keeping empty dirs
logs/*
!logs/.gitignore
tmp/*
!tmp/.gitignore
user_data/*
!user_dir/.gitignore
!user_dir/read.me
public/json/*
!public/json/.gitignore
public/tmp_images/*
!public/tmp_images/.gitignore
public/blast/*
!public/blast/.gitignore

# ignore public/databases directory
public/databases/*

# eclipse
.jshintrc
.npmignore
.project
.settings/
coverage/
npm-debug.log

views/visuals/partials/tax_silva108_custom.html
views/visuals/partials/tax_silva108_simple.html

grep_code.sh

public/scripts/*.json
visuals_testing/
.DS_Store
*.pyc
.~lock.*.csv#
