*.sql
db.sql
config/database-dev.js
config/database-test.js
config/db_vamps_node.sql.gz
node_modules/
colony/
colony-npm/

# eclipse
.jshintrc
.npmignore
.project
.settings/
coverage/
npm-debug.log

views/visuals/partials/tax_silva108_custom.html
views/visuals/partials/tax_silva108_simple.html

grep_code.sh
temp/
downloads/*
tmp/
public/tmp_images/
public/scripts/*.json
public/json/*.json
visuals_testing/
.DS_Store

.~lock.*.csv#
