*.sql
!db_schema.sql
config/db-connect*
config/db_vamps_node.sql.gz
config/old/*
node_modules/
colony/
colony-npm/
*log.txt
*log
# eclipse
.jshintrc
.npmignore
.project
.settings/
coverage/
npm-debug.log

views/visuals/partials/tax_silva108_custom.html
views/visuals/partials/tax_silva108_simple.html

grep_code.sh
temp/*
downloads/*
user_data/*
tmp/*
public/tmp_images/
public/json/*/
public/json/*-taxcounts/*
public/scripts/*.json
public/json/*.json
public/json/vamps*/*
visuals_testing/
.DS_Store

.~lock.*.csv#
