<% include ../add_ins/begin.ejs %>

<% if (user_submits) {
} else {
var user_submits = {}
} %>

<% if (regions) {
} else {
var regions = {}
} %>

<% if (pi_list) { %>
<% } else { %>
<% var pi_list = {} %>
<% } %>

<link href="/stylesheets/submissions.css" rel="stylesheet" \>
<% if (messages.success) { %>
<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
<div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>


<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3>Submission Request and Form Download</h3>
            You must first fill out this form if you plan to have samples sequenced in the MBL's Keck facility (Illumina
            HiSeq or MiSeq).
            <br>We need to know about your samples (e.g. how many, which rRNA domain is targeted, what the sample
            concentration is, metadata for each sample) and about your project (description, PI information, cost center
            to be charged).
            <br>The information is used at various points in the sequencing process, from sample preparation through
            upload to VAMPS.
            <br>Requests to change information should be addressed to <a href='mailto:morrison@mbl.edu'>Hilary
            Morrison</a>.
            <br>Once the form is submitted the information can still be recalled and viewed by loading the submission
            code below.
            <p><a href=''>Form Help</a> | <a href=''>Upload and Validate completed form</a> | <a href=''>Reset Form</a>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="previous_submissions">Load Previous Submissions for viewing:</label>
        <select id="previous_submissions" name="previous_submissions" class="form-control">
            <option>Select</option>
            <% for (var i in user_submits){ %>
            <option value='<%= user_submits[i].submit_code %>'><%= user_submits[i].submit_code %></option>
            <% } %>
        </select>
    </div>

    <div class="form-group">

        <label for="select_pi">Select PI for submission to be submitted under:</label>
        <select id="select_pi" name="select_pi" class="form-control">
            <% pi_list.forEach(function(value){ %>
            <option value="<%= value.pid %>"><%= value.PI %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="project_name">Project Name (This name may be adjusted by the MBL)</label>
        <input type="text" id="project_name1" name="project_name1" maxlength="4" size="4" value="">_<input type="text"
                                                                                                           id="project_name2"
                                                                                                           name="project_name2"
                                                                                                           maxlength="4"
                                                                                                           size="4"
                                                                                                           value="">_<input
            type="text" id="project_name3" name="project_name3" maxlength="4" size="5" value="" readonly>
    </div>

    <div class="form-group">

        <label for="project_title">Project Title (max length: 60 chars)</label>
        <input type="text" id="project_title" name="project_title" maxlength="60" size="60" value="">
    </div>

    <div class="form-group">
        <label for="project_description">Project Description (max length: 1000 chars)</label>
        <input type="text" id="project_description" name="project_description" maxlength="1000" value="">
    </div>


    <div class="form-group">

        <div id="select_domain_region-legend">Domain and Region:</div>
        <!--Domain and Region:<br/>-->
        <% for (var i in domain_regions["domain_regions"]){ %>
        <div class="row">
            <label class="control-label col-sm-1"><%= domain_regions["domain_regions"][i]["domain"] %></label>
            <div class="col-sm-11">
                <% var regions = domain_regions["domain_regions"][i]["regions"] %>

                <% for (var k in regions){ %>

                <% if(typeof(regions[k].length) != 'undefined') %>
                <% { %>
                <% regions[k].length %>
                <% } %>


                <%= // JSON.stringify(domain_regions["domain_regions"][i]) %>
                <input id="d_region" name="d_region" type='radio'
                       value='<%= regions[k] %>'> <%= regions[k] %> </input><br/>

                <% }; %>

            </div>
        </div>
        <% }; %>


    </div>
    <div class="form-group">
        <label for="funding_code">Funding Code (numeric only)</label>
        <input type="number" id="funding_code" name="funding_code" maxlength="10" value="">
    </div>

    <div class="form-group">
        How many individual samples will be submitted?
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>

</div>

<script type="text/javascript" src="/javascripts/submissions.js"></script>
<% include ../add_ins/end.ejs %>

</body>
</html>