<% include ../add_ins/begin.ejs %>

<% if (user_submits) {
} else {
var user_submits = {}
} %>

<% if (regions) {
} else {
var regions = {}
} %>

<% if (pi_list) { %>
<% } else { %>
<% var pi_list = {} %>
<% } %>

<link href="/stylesheets/submissions.css" rel="stylesheet" \>
<% if (messages.success) { %>
<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
<div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>


<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3>Submission Request and Form Download</h3>
            You must first fill out this form if you plan to have samples sequenced in the MBL's Keck facility (Illumina
            HiSeq or MiSeq).
            <br>We need to know about your samples (e.g. how many, which rRNA domain is targeted, what the sample
            concentration is, metadata for each sample) and about your project (description, PI information, cost center
            to be charged).
            <br>The information is used at various points in the sequencing process, from sample preparation through
            upload to VAMPS.
            <br>Requests to change information should be addressed to <a href='mailto:morrison@mbl.edu'>Hilary
            Morrison</a>.
            <br>Once the form is submitted the information can still be recalled and viewed by loading the submission
            code below.
            <br><a href=''>Form Help</a> | <a href=''>Upload and Validate completed form</a> | <a href=''>Reset Form</a>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <label for="previous_submissions">Load Previous Submissions for viewing:
            <select id="previous_submissions" name="previous_submissions">
                <option>Select</option>
                <% for (var i in user_submits){ %>
                <option value='<%= user_submits[i].submit_code %>'><%= user_submits[i].submit_code %></option>
                <% } %>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <label for="select_pi">Select PI for submission to be submitted under:</label>
            <select id="select_pi" name="select_pi">
                <% pi_list.forEach(function(value){ %>
                <option value="<%= value.pid %>"><%= value.PI %></option>
                <% }); %>
            </select>
        </div>
    </div>

    <label for="select_domain_region">Domain and Region:</label>

    <% for (var i in domain_regions["domain_regions"]){ %>
    <div class="row">
        <div class="col-lg-12">
            <%= JSON.stringify(domain_regions["domain_regions"][i]["domain"]) %>
                <input id="select_domain_region" name="select_domain_region" type='radio' value='<%= domain_regions[i] %>'> <%= domain_regions[i] %>
        </div>
    </div>
    <% }; %>

</div>

<script type="text/javascript" src="/javascripts/submissions.js"></script>
<% include ../add_ins/end.ejs %>

</body>
</html>