<% include ../add_ins/begin.ejs %>

<link href="/stylesheets/submissions.css" rel="stylesheet">

<%= messages %>
<% if (messages.success){ %>
<div class="alert_flash_message_success"><%- messages.success %></div>
<% } if(messages.fail) { %>
<div class="alert_flash_message_fail">
    <ul>
        <% messages.fail.forEach(function(value){ %>
        <li>
            <%= value %>
        </li>
        <% }) %>
    </ul>
</div>
<% }%>
<br>

<form id='submissions_edit_form' method='POST' action='/submissions/submission_request' class="form-horizontal">


    <div class="col-sm-12">
        <h3>Submission Request and Form Download</h3>
        <p>You must first fill out this form if you plan to have samples sequenced in the MBL's Keck facility
            (Illumina HiSeq or MiSeq).</p>
        <p>We need to know about your samples (e.g. how many, which rRNA domain is targeted, what the sample
            concentration is, submissions for each sample) and about your project (description, PI information, cost
            center
            to be charged).</p>
        <p>The information is used at various points in the sequencing process, from sample preparation through
            upload to VAMPS.</p>
        <p>Requests to change information should be addressed to <a href='mailto:morrison@mbl.edu'>Hilary
            Morrison</a>.</p>
        <p>Once the form is submitted the information can still be recalled and viewed by loading the submission
            code below.</p>
        <p class="center">
            <a href="/submissions/submission_form_faq">Form Help</a>
            | <a href=''>Upload and Validate completed form</a> | <a href=''>Reset
            Form</a>
        </p>
    </div>

    <div class="submission_form_field">
        <div class="form-group">
            <label class="control-label col-sm-4" for="submit_code">Load Previous Submissions for
                viewing:</label>
            <div class="col-sm-3">
                <select id="submit_code" name="submit_code">
                    <option selected="true" disabled>Load&hellip;</option>
                    <% for (var i in user_submits){ %>
                    <option value='<%= user_submits[i].submit_code %>'><%= user_submits[i].submit_code %></option>
                    <% } %>

                </select>

            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-sm-4" for="pi_id_name">Select PI for submission to be submitted
                under:</label>
            <div class="col-sm-3">
                <select id="pi_id_name" name="pi_id_name" class="form-control">
                    <% pi_list.forEach(function(val){ %>
                    <option value="<%= val.pid %>#<%= val.PI %>"
                    <% if (val.pid == pi_id) {%>
                    selected
                    <% } %>
                    ><%= val.PI %></option>
                    <% }); %>
                </select>
                <% if (!typeof val == 'undefined') {%>
                <% } %>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="project_name">Project Name (This name may be adjusted by the
                MBL)</label>
            <div class="col-sm-8">

                <input type="text" id="project_name1" name="project_name1" maxlength="4" size="4" value="<%=
                       project_name1 %>">_<input
                    type="text"
                    id="project_name2"
                    name="project_name2"
                    maxlength="4"
                    size="4"
                    value="<%= project_name2 %>">_<input
                    type="text" id="project_name3" name="project_name3" maxlength="4" size="5"
                    value="<%= d_region[2] %>">
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-sm-4" for="project_title">Project Title (max length: 60 chars)</label>
            <div class="col-sm-8">

                <input type="text" id="project_title" name="project_title" maxlength="60" size="60"
                       value="<%= project_title %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="project_description">Project Description (max length: 1000
                chars)</label>
            <div class="col-sm-8">

                <input type="text" id="project_description" name="project_description" maxlength="1000" size="60"
                       value="<%= project_description %>">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label id="domain_regions-legend">Domain and Region:</label>
            </div>
            <!--Domain and Region:<br/>-->
            <% for (var i in domain_regions["domain_regions"]){ %>
            <% var cur_domain = domain_regions["domain_regions"][i]["domain"] %>
            <div class="form-group">
                <label class="control-label col-sm-4 overrides"><%= cur_domain %></label>
                <div class="col-sm-8">
                    <% var regions = domain_regions["domain_regions"][i]["regions"] %>

                    <% for (var k in regions){ %>
                    <% var short_d_r = domain_regions.domain_regions[i].d_r[k] %>
                    <% var cur_region = regions[k] %>
                    <!--<% if(typeof(regions[k].length) != 'undefined') %>-->
                    <!--<% { %>-->
                    <!--<%= regions[k].length %>-->
                    <!--<% } %>-->
                    <!--<br/><% short_d_r %>-->
                    <!--d_region: Bacterial,v6,Bv6-->

                    <input id="d_region" name="d_region" type='radio'
                    <% if ((cur_domain == d_region[0]) && (regions[k] == d_region[1])) {%>
                    checked="checked"
                    <% } %>
                    value=<%= cur_domain %>#<%= cur_region %>#<%= short_d_r %>> <%= regions[k] %> </input><br/>

                    <% }; %>

                </div>
            </div>
            <% }; %>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="funding_code">Funding Code (numeric only)</label>
            <div class="col-sm-8">
                <input type="number" id="funding_code" name="funding_code" maxlength="10" size="10" value="<%=
                       funding_code %>">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="samples_number">How many individual samples will be
                submitted?</label>
            <div class="col-sm-8">
                <input type="number" id="samples_number" name="samples_number" size="3" value="<%= samples_number %>">
            </div>
        </div>

        <% if (samples_number > 0){ %>
        <% for (var i = 0; i < Number(samples_number); i++) { %>
                <div class="form-row">
                    <div class="form-group col-sm-5">
                        <label for="dataset_name<%= i+1%>"><%= i+1%>) Dataset name</label>
                        <input type="text" class="form-control" id="dataset_name<%= i+1%>" name="dataset_name[]"
                               placeholder="Alphanumeric and '_' only and must start with a letter, less than 30 characters" value="">
                    </div>
                    <div class="form-group col-sm-7">
                        <label for="tube_label<%= i+1%>">Tube Label #<%= i+1%></label>
                        <input type="text" class="form-control" id="tube_label<%= i+1%>" name="tube_label[]"
                               placeholder="What is written on the sample tube for identification." value="">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-sm-3 paragraph_no_pad" for="dataset_description<%= i+1%>">Sample (Dataset)
                        Description</label>
                    <div class="col-sm-9">
                <textarea rows="2" cols="30" type="text" class="form-control" id="dataset_description<%= i+1%>" name="dataset_description[]"
                          placeholder="A short (1-2 sentances) description of the sample." value="">
                </textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="sample_concentration<%= i+1%>">Sample Concentration
                            (ng/ul):</label>
                        <input type="number" class="form-control" id="sample_concentration<%= i+1%>" name="sample_concentration[]"
                               maxlength="10" size="10" value="" placeholder="Numeric only (ng/ul)">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="adaptor<%= i+1%>">Adaptor</label>
                        <select id="adaptor<%= i+1%>" class="form-control">
                            <option selected name="adaptor[]">Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
        <% } %> <!--for-->
        <% } %> <!--if-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submissions_edit_form_btn" name="<%= button_name %>" type="submit" class="btn btn-default">
                    <%= button_name %>
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js" defer></script>
<script type="text/javascript" src="/javascripts/submissions.js" defer></script>
<% include ../add_ins/end.ejs %>

</body>
</html>