<html>
<head>
  <title>VAMPS HEATMAP</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/960.css">

</head>

<body onload="">
<div id='header' class='header'></div>
<div class='main_menu' ><%=  include ../add_ins/main_menu.html %></div>
<div class='login_link' ><%=  include ../add_ins/login_line.html %></div>
<div class='title'  >VAMPS Heatmap</div>
<div class='subtitle'  ></div>
<div class='container_12'>
  <div class="grid_3">&nbsp;</div>
  <div class="grid_9">
    Put Content Here
  </div>  <!-- end grid_9 -->
</div>    <!-- end container_12 -->
<script type="text/javascript" src="/javascripts/global.js"></script>
</body>
</html>