<html>
<head>
  <title><%- title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/visualization.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/960.css">
</head>
<body onload="initialize('<%= JSON.stringify( user ) %>');load_visualization_items_p1('<%= rows %>');">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div id='login_link' class=''></div>

<div id='title'>Community Visualization</div>

<div id='subtitle'>Dataset Selection Page</div>

<div class='container_12'>  
  <div class="grid_3">
    &nbsp;
  </div>
  <div class="grid_9"> 
    <!-- autocomplete="off" clears the checkboxes on page refresh -->
    <form id='dataset_select_form' class='' name='dataset_select_form' method='POST' action='visuals/unit_selection' autocomplete="off">
      
      <table border='1'><tr>
      <td>
          Dataset Selection
      </td>
      <td>
        <input type='button' value='Next: Unit Selection' onclick='check_for_no_datasets(this.form);return false'>
      </td>
      </tr>
      <tr>
      <td>
        <div id='projects_select_div'></div>
      </td>
      </tr>
      </table>
      <input type='hidden' id='' value='SeCrEt' name='my_hidden_var' />
    </form>
  </div>  <!-- end grid_9 -->
</div>    <!-- end container_12 -->

<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/visualization.js"></script>
</body>
</html>