<% include ../add_ins/begin.ejs %>

<div class='title'>Community Visualization</div>

<div class='subtitle'>Dataset Selection Page</div>


    <!-- autocomplete="off" clears the checkboxes on page refresh -->
    <form id='dataset_select_form' class='' name='dataset_select_form' method='POST' action='/visuals/unit_selection' autocomplete="off">

      <table border='1'>
        <tr>
          <td>
              Dataset Selection
          </td>
          <td>
            
            <input type='button' value='Next: Unit Selection' id="unit_selection" >
          </td>
          </tr>
          <tr>
          <td>
            <div id='projects_select_div'><% include all_projects_datasets_list.html %></div>
          </td>
        </tr>
      </table>
    </form>
    <a href="#" class="back">Go back</a> to the previous page.      
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/visualization.js"></script>
<script type="text/javascript" src="/javascripts/project_dataset_tree.js"></script>
<% include ../add_ins/end.ejs %>
