
	
<img class='pull-left' src='/images/visuals/oligotyping-logo.png' height='60'>
<div class='' style='height:450px'>
	<div class="row"> 
		<div class="col-lg-2">
			
		</div> 
		<div class='pull-right'>
			For more information: Visit the <a href='http://merenlab.org/software/oligotyping/'>Oligotyping Home Page</a> (<a href='http://merenlab.org'>merenlab</a>)
		</div>
		<div class="col-sm-10"><br><br>
				<strong>From the <a href='http://merenlab.org/software/oligotyping/'>Oligotyping home page</a>:</strong>
				<br>
				<strong>In a nutshell:</strong> 
				Oligotyping is a computational method that helps microbial ecologists to investigate concealed diversity within their operational taxonomic units at an extremely precise level by utilizing very subtle variations among 16S Ribosomal RNA gene sequences. 
				
				<center><strong>and from the <a href='http://merenlab.org/2013/11/04/oligotyping-best-practices/'>Best Practices page</a>:</strong></center>
				Oligotyping is a supervised method, which makes it a method that welcomes its users with a learning curve. To make things a little clearer, in this article you will find the flowchart of a generic oligotyping analysis and a realistic analysis of a mock dataset.
		</div>
	</div>

	<form id='' class='' method='post' action=''>
		<div class="row">  
			<div class="col-lg-12">
				
				<h4>for a VAMPS Oligotyping Analysis:</h4>
				Select a genus (or family) that you know are present in the selected datasets.
				This uses silva119 taxonomy (the default) regardless of what was selected on the previous page.
				

				<div class="dropdown col-md-3">
				  Type: <input id="tax_search_id" class="" autocomplete="off" data-toggle="dropdown" type="text"  onkeyup="showOligotypingTaxResult(this.value)"/>
				  <ul id='livesearch_tax_dropdown' class="dropdown-menu" aria-labelledby="dropdownMenu1" style='visibility:hidden;'>
				    <div id="livesearch_taxonomy" class=""></div>
				  </ul>		
				</div>
				<div class='col-md-8'>Selected (silva119) Taxonomy String: 
					<input type='text' id='livesearch_result_div' value='' name='tax_string' maxlength='150' size='100'  />
					<input type='hidden' id='hidden_item' value='ajax' name='tax_obj'  />
					<button id='oligotyping_start_btn' class='btn btn-xs' type='button' value='Go' onclick='get_oligotype_seqs()'>Go</button>
				</div>
			
			</div>					
		</div>
	</form>
	
</div>

	
