<% include ../add_ins/begin.ejs %>
<% var file_info = JSON.parse(finfo) %>

  <div class='title'>Saved Elements</div>
  <div class='subtitle'></div>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<div class='left_justify'>
<br>
<br>
<table class='table sortable'>
	<thead>
	<tr><th></th>
		<th>Your saved files:</th>
		<th data-defaultsort='disabled'></th>
		<th data-defaultsort='disabled'></th>
		<th>size</th>
		<th>creation time</th>
		
	</tr>
  </thead>
  <tbody>
<% for(t in times){ %>
	<% var filename = file_info[times[t]].filename %>
	<% var datatype = filename.split('-')[0] %>
	<% var fileSizeInBytes = file_info[times[t]].size %>
	<% var fileSize = (fileSizeInBytes).toFixed(1) %>
	<% var sizer = 'Bytes' %>
	<% if(fileSizeInBytes > 1000) { %>
		<% fileSize = (fileSizeInBytes / 1000.0).toFixed(1) %>
		<% sizer = 'KB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000.0).toFixed(1) %>
		<% sizer = 'MB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000000.0).toFixed(1) %>
		<% sizer = 'GB' %>
	<% } %>

	<% parts = filename.split('_') %>
	
		<tr>
		<td>
			<%= parseInt(t)+1 %>
		</td>
		<td>
			<%= filename %>
		</td>
		<td>						
			<% if(datatype == 'configuration'){ %>
				<form id='' method='POST' action='view_selection'>
					<input type='submit' class='btn btn-xs btn-link' value='Visualizations' />
					<input type='hidden'  name='from_configuration_file' value='1' />
					<input type='hidden'  name='filename' value='<%= filename %>' />
				</form>
				<!-- <a href='#' onclick="load_configuration('<%= filename %>','<%= user.username %>')">Visualizations</a> -->
			<% }else{ %>
				<div class="dropdown">
				  <button class="btn btn-xs btn-success dropdown-toggle" type="button" id='<%= filename %>_open_btn_id' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  onClick="view_datasets_ajax('<%= filename %>','<%= user.username %>','view')" value="closed">
				    toggle open <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-your-datasets" aria-labelledby="dropdownMenu1">
				    <div id='<%= filename %>_div'></div>
				  </ul>
				</div>
			<% } %>
		
		</td>
		
		<td>
		<a href='/user_data/file_utils?fxn=delete&user=<%= user.username %>&type=elements&filename=<%= filename %>' >delete</a>
		</td>
		
		<td>		
			
			<%= fileSize %> <%= sizer %>
		</td>
		<td> 
					<%= file_info[times[t]].mtime %>
		</td>
		
		
		
		
		</tr>
			

<% } %>
</tbody>
</table>
</div>



<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/saved_elements.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
</body>
</html>
