<% include ../add_ins/begin.ejs %>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/mktree.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"> -->
<%  var items  = JSON.parse(chosen_id_name_hash); %>
<script>
  var ds_local  = JSON.parse('<%- chosen_id_name_hash %>');
  var user_local  = '<%= user.username %>';
</script>
  <div class='title'>Community Visualization</div>
  <div class='subtitle'>Units Selection Page</div>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>      
<div id='show_selected_datasets_div' class='div_border table'>
                <% include partials/show_selected_datasets.html %>
</div>
<br>
<div id='' class=''>
<!-- autocomplete="off" clears the checkboxes on page refresh -->
<form id='get_graphics_form' class='' method='POST' action='/visuals/view_selection' >

  <table  class='center_table table' >
    <tr><td colspan='2' class='center'>
        <span class='bold_font'>Next:</span> 
        <input type='button' id="get_graphics" name='get_graphics' value='Show Available Graphics' >
        <hr>
    </td></tr>
    <tr>
      <td>
           <% include partials/unit_selection_choices.html %>
      </td>
      <td>
        <span class='bold_font'>Metadata Selection:</span>
      </td>
      </tr>
      <tr>
      <td class='td_top small_font'>
        <div id='units_select_choices_div' class='unit_selection_page_div_border table'>
          
          <% include partials/tax_silva108_simple.html %>

        </div>
      </td>
      <td class='td_top small_font'>
        <div id='metadata_select_choices_div' class='metadata_selection_page_div_border '>
          <% include partials/show_metadata_choices.html %>
        </div>
      </td>
    </tr>
  </table>
</form>
</div>



  <div id='DEBUG_div'></div>
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/common_selection.js"></script>
  <script type="text/javascript" src="/javascripts/unit_selection.js"></script>
<% include ../add_ins/end.ejs %>
