<% var CONSTS = JSON.parse(constants) %>
<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" href="/stylesheets/dhtmlx/dhtmlxtree.css" >
<!-- <link rel="stylesheet" href="/stylesheets/fancytree/skin-lion/ui.fancytree.css" > -->
<%  var items  = JSON.parse(chosen_datasets); %>
<%  var referer = 'unit_selection'; %>
<script>
  var ds_local       = JSON.parse('<%- chosen_datasets %>');
  var unit_choice = '<%= unit_choice %>';
  var user_local     = '<%= user.username %>';
</script>
<div id='info_bar' class='navbar-fixed-top ' >
  <small>
    
      <div id='view_selection_links'>
        <ul>
          <li><a href='#' class='link_black' onclick='javascript:window.history.back();return false;'>&lt;&lt;--back</a></li>
        
        </ul>
      </div>
    
  </small>   
  

</div>
<br>
<div class='title title_color_viz'>Community Visualization</div>
<div id='flash_message_id'>
<% if (messages.success) { %>
    <div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
</div>
<div class='subtitle'>Select Units, Taxonomic Depth and Metadata</div>




<div class='well'>
  <div class="row">
    <div  id='show_selected_datasets_div'  class="col-md-6">
                  <% include ../partials/show_selected_datasets.html %>
    </div> <!-- End  show_selected_datasets_div -->
  </div>
</div>


<div id='' class=''>

<form id='get_graphics_form' class='' method='POST' action='/visuals/view_selection' >
  <div id='' class='row'>
    <button type='button' class='btn pull-right btn-sm btn-warning' id="get_graphics_btn" name='get_graphics_btn'>
      next: Show Available Graphics <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> 
    </button>
  </div>
  <table  class='table' >
  <tr><td>
    <table style='width:700px' >
      <tr>
        <td>
          <span class='pull-right' ><% include partials/unit_selection_choices.html %></span>
          <br>
          <!-- <div id='units_select_choices_div' class='unit_selection_page_div_border table' ></div>  -->
          <div id="simple_treebox" style="width:200;height:200;display:block;">Simple Tax</div>
          <div id="rdp_treebox" style="width:200;height:200;display:none;">RDP Tax</div>
          <div id="generic_treebox" style="width:200;height:200;display:none;">Generic Tax</div>
          <div id='custom_tax_div' style="display:none;">
            <span class='lg_font'>Silva (v119) Custom Taxonomy Selection</span>
            <br>
            <input type='button' class='btn btn-xs btn-primary' name='' value='Reset Tree' onclick='reset_tree_dhtmlx()'> |
            Tree Selection Mode:
            <input type='radio' name='select_type' id='select_type_individual' value='individual' onclick="change_mode_dhtmlx('individual')"> Individual&nbsp;
            <input type='radio' name='select_type' id='select_type_clade' value='clade' onclick="change_mode_dhtmlx('clade')"> Clade |
            <small>(double-click taxon names to expand deeper levels.)</small>
            <div id="custom_treebox" style=''></div>

          </div>
          <!-- 
          <div id="custom_treebox_fancytree" style="width:200;height:200;display:none;">fancytree</div>
          <div id="custom_treebox_dhtmlx" style="width:200;height:200;display:none;">dhtmlx</div> 
          -->
          

          <!-- <div>Selected keys: <span id="echoSelection">-</span></div> -->

        </td>
        </tr>
    </table>
  </td><td>
    <table>    
        <tr>
        <td class='td_top'>
          <span class='lg_font'>Metadata Selection:</span>
          <br>
          <div id='metadata_select_choices_div' class='metadata_selection_page_div_border '>
            <% include partials/show_metadata_choices.html %>
          </div>
        </td>
      </tr>
    </table>
  </td></tr>
  </table>
  <!-- <input type='submit' value='go'> -->
</form>
</div>



 
  
 <% include ../add_ins/end.ejs %>

  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/common_selection.js"></script>
  <script type="text/javascript" src="/javascripts/unit_selection.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>

  <script type="text/javascript" src="/javascripts/dhtmlx/dhtmlxtree.js" ></script>
  
  <!-- <script type="text/javascript" src="/javascripts/fancytree/jquery.fancytree-all.min.js" ></script> -->
   
 
 </body>
 </html>