<% include ../add_ins/begin.ejs %>

  <div class='title'>Community Visualization</div>
  <div class='subtitle'>Units Selection Page</div>
      <!-- autocomplete="off" clears the checkboxes on page refresh -->
      <form id='get_graphics_form' class='' method='POST' action='/visuals/view_selection' autocomplete="off">

        <table class='single_border' border='1'>
          <tr>
            <td class='center'>
              <div id='units_select_choices_div'>
                <% include partials/unit_selection_choices.html %>
              </div>
            </td>
            <td class='center'>
              <input type='button' id="get_graphics" value='Next: Get Graphics'>
            </td>

          </tr>
          <tr>
            <td class='small_font general_table'>
              <div id='units_select_div'>
                <!-- Start with default: taxa_silva108_simple-->
                <% include partials/tax_silva108_simple.html %>
              </div>
            </td>
            <td class='td_top'>
              <table class='single_border' border='0'>
                <tr>
                  <td class='small_font'>
                    <div id='show_selected_datasets_div' class='general_table' >
                      <% include partials/show_selected_datasets.html %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class='small_font'>
                    <div id='show_normalization_div' class='general_table' >
                      <% include partials/show_normalization_choices.html %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class='small_font'>
                    <div id='visuals_output_choices_div' class='general_table' >
                      <% include partials/show_visual_output_choices.html %>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <input type='hidden' value='<%= chosen_id_name_hash %>' name='chosen_id_name_hash'  >
        <input type='hidden' value='<%= selection_obj %>'       name='selection_obj'/>
      </form>
  <div id='DEBUG_div'></div>
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js" defer></script>>
  <script type="text/javascript" src="/javascripts/global.js" defer></script>>
  <script type="text/javascript" src="/javascripts/unit_selection.js" defer></script>>
  <script type="text/javascript" src="/javascripts/taxonomy_tree.js" defer></script>>
<% include ../add_ins/end.ejs %>
