<% include ../add_ins/begin-no_menu.ejs %>

<%  var items  = JSON.parse(chosen_id_name_hash); %>
<%  var referer = 'unit_selection'; %>
<script>
  var ds_local  = JSON.parse('<%- chosen_id_name_hash %>');
  var user_local  = '<%= user.username %>';
</script>
  <div class='title'>Community Visualization</div>
  <div class='subtitle'>Units Selection Page</div>

<a href='' onclick='javascript:window.history.back();return false;'>&lt;&lt;--back</a>
<% if(messages.info){ %>
  <div class="alert_flash_message"><%= message %></div>
<% } %> 

<div class='well'>
  <div class="row">
    <div  id='show_selected_datasets_div'  class="col-md-6">
                  <% include partials/show_selected_datasets.html %>
    </div> <!-- End  show_selected_datasets_div -->
  </div>
</div>






<div id='' class='row'>
    <button type='button' class='btn pull-right btn-sm btn-warning' id="get_graphics" name='get_graphics'>
	
	next: Show Available Graphics <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> 
	</button>
</div>

<div id='' class=''>

<form id='get_graphics_form' class='' method='POST' action='/visuals/view_selection' >
  
  <table  class='center_table table' >
    <tr>
      <td>
           <% include partials/unit_selection_choices.html %>
      </td>
      <td>
        <span class='bold_font'>Metadata Selection:</span>
      </td>
      </tr>
      <tr>
      <td class='td_top small_font'>
        <div id='units_select_choices_div' class='unit_selection_page_div_border table'>
          
          <% include partials/tax_silva108_simple.html %>

        </div>
      </td>
      <td class='td_top small_font left_justify'>
        <div id='metadata_select_choices_div' class='metadata_selection_page_div_border '>
          <% include partials/show_metadata_choices.html %>
        </div>
      </td>
    </tr>
  </table>
</form>
</div>



 
  
 <% include ../add_ins/end.ejs %>
  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/common_selection.js"></script>
  <script type="text/javascript" src="/javascripts/unit_selection.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>
 
 </body>
 </html>