<% include ../add_ins/begin.ejs %>
  <div class='title'>Community Visualization</div>
  <div class='subtitle'>Display Output Page</div>

      <table border='1'>
        <tr>
          <th>Input Items</th>
          <th>Things to do here</th>
          <th>Selected Visuals<br><span class='small_font'>(pages load in a separate window)</span></th>

        </tr>
        <tr>
          <td>
            <div id='show_what_is_chosen_div'>
              <table>
                <tr>
                  <td class='small_font'>
                    <div id='show_selected_datasets_div' class='general_table' >
                      <% include partials/show_selected_datasets.html %>
                    </div><hr>
                  </td>
                </tr>
                <tr>
                  <td class='small_font'>
                    Normalization: <%= JSON.parse(body).normalization %>
                    <hr>
                  </td>
                </tr>
                <tr>
                  <td class='small_font'>
                    Units Selected: <%= JSON.parse(body).unit_choice %>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div id='show_download_buttons_div'>
              <input type='button', id='' name='' value='Download Fasta File' /><br>
              <input type='button', id='' name='' value='Download Counts Matrix' />
            </div>
          </td>
          <td>
            <div id='show_visuals_links_div'>
              <% b = JSON.parse(body) %>
              <% ts = timestamp %>
              <% for (var i in b.visuals) { %>
                <% link = 'user_data/'+b.visuals[i]+'?ts='+ts  %>                
                <% title = b.visuals[i] %>                
                <a href='<%= link %>' target='_blank' ><%= b.visuals[i] %></a><br>
              <% } %>
             
            </div>
          </td>

        </tr>
      </table>
      <a href="#" class="back">Go back</a> to the previous page.      
  <div id='DEBUG_div'></div>
<% include ../add_ins/end.ejs %>
