<% include ../add_ins/begin-no_menu.ejs %>

<%  var cnsts  = JSON.parse(constants) %>
<%  var mtx    = JSON.parse(matrix); %>
<%  var pi     = JSON.parse(post_items); %>
<%  var md     = JSON.parse(metadata); %>
<%  var items  = JSON.parse(chosen_id_name_hash); %>
<%  var referer = 'view_selection'; %>
<%  console.log('items') %>
<%  console.log(items) %>
<%  //console.log(cnsts.VISUAL_THUMBNAILS.visuals)%>
<%  var disable_thumbs = false; %>
<script>
  var pi_local  = JSON.parse('<%- post_items %>');
  var mtx_local = JSON.parse('<%- matrix %>');
  var md_local  = JSON.parse('<%- metadata %>');
  var ds_local  = JSON.parse('<%- chosen_id_name_hash %>');
  var user_local  = '<%= user.username %>';
</script>


<div class='title'>Community Visualization</div>
<div class='subtitle'>Display Choices</div>
<!-- Need a form here for the back button to retain state -->
<!-- TODO add state for tax selection and metadata selection -->
<form id='back_form_id' name='' method='POST' action='unit_selection'>
			<a href='' onclick="document.getElementById('back_form_id').submit();return false;">&lt;&lt;--back</a>
			<input type='hidden' name='retain_data' value='1' >
			<input type='hidden' name='dataset_ids' value='<%= JSON.stringify(items.ids) %>' >
</form>	

<% if(message){ %>
  <div class="alert_flash_message"><%= message %></div>
<% } %>

<div class='well'>
  <div class="row">
    <div  id='show_selected_datasets_div'  class="col-md-4">
                  <% include partials/show_selected_datasets.html %>
    </div> <!-- End  show_selected_datasets_div -->
  
  
    <div id='show_selected_metadata_div'  class="col-md-4">
                   <% include partials/show_selected_metadata.html %>
    </div> <!-- End  show_selected_metadata_div -->
 
    <div  id='show_select_items_div' class="col-md-4">
                <% include partials/show_visual_output_choices.html %>
    </div> <!-- End  show_select_items_div -->  
  </div>
</div>



<table class='button_row'><tr>
	<% if(mtx.data == '') { %>
	  <td>
          <% disable_thumbs = true %>
    	  <div id='' class='no_data'>
    	        <h3>No Sequences Found</h3>
    	  </div>
      </td>
	<% } else { %>
	    <!-- This form should run in the background and place the files 
	          in a 'downloads' directory where it can be retrieved.
	          The user should get an email when its ready.
	     -->
        <td>
  			<form id='download_fasta_form_id' method='POST' action=''>
  		    <button type='button' id='download_fasta_btn' class="btn btn-xs btn-success">Create Fasta File</button>
  		    <input type='hidden' name='download_type' value='partial_project' />
  		    <input type='hidden' name='datasets' value='<%= chosen_id_name_hash %>' />
  			  <input type='hidden' name='referer' value='/visuals/view_selection' />
		  	</form>
        
		</td><td>
		    <form id='download_metadata_form_id' method='POST' action=''>
          <button type='button' id='download_metadata_btn' class="btn btn-xs btn-success">Create Metadata File</button>
		      <input type='hidden' name='download_type' value='partial_project' />
		      <input type='hidden' name='datasets' value='<%= chosen_id_name_hash %>' />
			    <input type='hidden' name='referer' value='/visuals/view_selection' />
		    </form>	
        
		</td>
    <td><div id='download_confirm_id'></div> </td>
	<% } %>
</tr></table>  <!-- button.row -->
 
<table border='1' class='table'>
        <tr>
          <% for(n in cnsts.VISUAL_THUMBNAILS.visuals) {                                              %>
          <%    var thumb = cnsts.VISUAL_THUMBNAILS.visuals[n].thumb                                  %>
          <%    var name = cnsts.VISUAL_THUMBNAILS.visuals[n].name                                    %>
          <%    var link = cnsts.VISUAL_THUMBNAILS.visuals[n].link                                    %>
          <%    var link_id = cnsts.VISUAL_THUMBNAILS.visuals[n].id                                   %>
          <%    var cols = 5 %>
          <%    if(mtx.shape[1] === 1  && (name.substring(0,16) === 'Distance Heatmap' || name.substring(0,10) === 'Dendrogram' || name.substring(0,17) === 'Frequency Heatmap' || name.substring(0,13) === 'PCoA Analyses' )) { %>
                    <td class='td_top'><%= name %><br><br>Not Available<br>(single dataset)</td>
          <%    } else { %>
          <%        if(disable_thumbs) {                                                              %>
                      <td class='td_top'><%= name %><br>
                        <img src='<%= thumb %>' border='0' alt='<%= name %>' class='thumb_img' >
                      </td>
          <%        }else{                                                                            %>
                  <td class='td_top'>
               <!--     <a href='<%= link %>?ts=<%= pi.ts %>' target='<%= pi.ts %>_<%= name %>' >  -->
                    <center><a href='#' id='<%= link_id %>'  ><%= name %><br>
               <!-- <input type='button' id='<%= link_id %>' value='pushme'> -->
                      <img src='<%= thumb %>'  border='0' alt='<%= name %>' class='thumb_img' >
                    </a></center>  
                 </td>
          <%        }                                                                                 %>              
          <%    }                                                                                     %>
            
          <%    if( n % cols === (cols - 1) ) {                                                       %>
                  </tr><tr>
          <%    }                                                                                     %>
          <% }                                                                                        %>
        </tr>
      </table>
       

	 
	
  <!-- Counts -->
  <nav id='pre_counts_table_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	    
	  <span id='counts_table_title' class="navbar-brand table_title" >Frequency Table</span>  
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='counts_table_hide_btn' class='close_open_btn btn btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='counts_table_download_btn' class='visualization_download_btn btn btn-default'>download</button>
  </nav>
  <div id='tax_table_div'   class='display_none well overflow_500'>Working....</div>
  
  <!-- Metadata -->
  <br>
  <nav id='pre_metadata_table_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	  <span id='metadata_title' class="navbar-brand table_title" >Metadata Table</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='metadata_table_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='metadata_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='metadata_local_table_div' class='display_none well overflow_500'>Working....</div>
  
  
  <!-- Distance Heatmap -->
  <br>
  <nav id='pre_dheatmap_div' class="navbar navbar-inverse viz_hidden_div display_none">
    <div class="navbar-header">	      
      <span id='dheatmap_title' class="navbar-brand table_title" >Distance Heatmap</span> 
    </div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
 	<button type='button' id='dheatmap_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
 	<button type='button' disabled='disabled' id='dheatmap_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='reorder_div' class=''><div id='dheatmap_div' class='display_none well'>Working....</div></div>
  

<!-- Frequency Heatmap -->
  <br>
  <nav id='pre_fheatmap_div' class="navbar navbar-inverse viz_hidden_div display_none">
    <div class="navbar-header">	      
      <span id='fheatmap_title' class="navbar-brand table_title" >Frequency Heatmap</span> 
    </div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
 	<button type='button' id='fheatmap_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
 	<button type='button' disabled='disabled' id='fheatmap_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='fheatmap_div' class='display_none well'>Working....</div>


  <!-- BarCharts -->
  <br>
  
  <nav id='pre_barcharts_table_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	    <span id='barcharts_title' class="navbar-brand table_title" >Bar Charts</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='barcharts_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='barcharts_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <center><div id='barcharts_div' class='well display_none'></div></center>

  
  <!-- PieCharts -->
  <br>
  <nav id='pre_piecharts_table_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	  <span id='piecharts_title' class="navbar-brand table_title" >Pie Charts</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='piecharts_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='piecharts_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <center><div id='piecharts_div' class='well display_none'></div></center>
  
  <!-- Dendrogram 1 phylogram -->
  <br>
  <nav id='pre_dendrogram1_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	  <span id='dendrogram1_title' class="navbar-brand table_title" >Dendrogram</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='dendrogram1_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='dendrogram1_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='dendrogram1_div'        class='display_none well '>Working....</div>
  
  <!-- Dendrogram 2 phylonator -->
  <br>
  <nav id='pre_dendrogram2_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	  <span id='dendrogram2_title' class="navbar-brand table_title" >Dendrogram</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='dendrogram2_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='dendrogram2_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='dendrogram2_div'        class='display_none well '>Working....</div>
  
  <!-- Dendrogram pdf-->
  <br>
  
  <nav id='pre_dendrogram_pdf_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
	  <span id='dendrogram_pdf_title' class="navbar-brand table_title" >Dendrogram</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='dendrogram_pdf_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='dendrogram_pdf_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='dendrogram_pdf_div'        class='display_none well'>Working....</div>

  <!-- PCoA 2D Python -->
  <br>
  <nav id='pre_pcoa_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
		  <span id='pcoa_title' class="navbar-brand table_title" >PCoA 2D</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='pcoa_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='pcoa_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='pcoa_div'                    class='display_none well'>Working....</div> 

  <!-- PCoA 3D Emperor -->
  <br>
  <nav id='pre_pcoa_3d_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
		  <span id='pcoa_3d_title' class="navbar-brand table_title" >PCoA 3D</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='pcoa_3d_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='pcoa_3d_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='pcoa_3d_div'                 class='display_none well'>Working....</div> 
  
  <!-- GEOSPATIAL -->
  <br>
  <nav id='pre_geospatial_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
		  <span id='geospatial_title' class="navbar-brand table_title" >GeoSpatial</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='geospatial_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='geospatial_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
  </nav>
  <div id='map-canvas'      class='display_none well'>Working....</div> 
  
  <!-- KRONA (Data Browser) -->
 <br>
 <nav id='pre_dbrowser_div' class="navbar navbar-inverse viz_hidden_div display_none">
	<div class="navbar-header">	      
		  <span id='dbrowser_title' class="navbar-brand table_title" >Data Browser</span> 
	</div>
	<a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
	<button type='button' id='dbrowser_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
	<button type='button' disabled='disabled' id='dbrowser_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
 </nav>
 <div id='dbrowser_div'      class='display_none well'>Working....</div>
  
  <!-- ALPHA DIVERSITY -->
 <br>
 <nav id='pre_adiversity_div' class="navbar navbar-inverse viz_hidden_div display_none">
  <div class="navbar-header">       
      <span id='adiversity_title' class="navbar-brand table_title" >Alpha Diversity</span> 
  </div>
  <a class='btn pull-right' href="javascript:scroll(0,0)"><img border="0" alt="Top" src="/images/up_arrow.png" width="30" height="30"></a>
  <button type='button' id='adiversity_hide_btn' class='close_open_btn btn pull-right btn-default' value='hide'>hide</button>
  <button type='button' disabled='disabled' id='adiversity_download_btn' class='visualization_download_btn btn pull-right btn-default'>download</button>
 </nav>
 <div id='adiversity_div'      class='display_none well'>Working....</div>

  <div id='counts_tooltip_div' class=''></div>
  <div id='piebarcharts_tooltip_div' class=''></div>
  <div id='metadata_tooltip_div' class=''></div>

  

 
 
  <% include ../add_ins/end.ejs %>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
 <script type="text/javascript" src="/javascripts/tablesort.min.js"></script>
 <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
 <script type="text/javascript" src="/javascripts/jquery.tablednd.js"></script>
 <script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8"></script>
 <script type="text/javascript" src="/javascripts/d3pie.min.js" charset="utf-8"></script>
 <script type="text/javascript" src="/javascripts/newick.js" charset="utf-8"></script>
 <script type="text/javascript" src="/javascripts/drag_rows_heatmap.js"></script>
 <script type="text/javascript" src="/javascripts/global.js"></script>
 <script type="text/javascript" src="/javascripts/common_selection.js"></script>
 <script type="text/javascript" src="/javascripts/view_selection.js"></script>
 <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>
</body>
</html>


