
<% include ../add_ins/begin.ejs %>
<% var info = JSON.parse(proj_info) %>
<% var env_sources = JSON.parse(constants).ENV_SOURCE %>
<% var targets = JSON.parse(constants).TARGETS %>
<% if(filtering == undefined){ %>
<%  filtering = 0 %>
<% } %>
<script>

  var datasets_local  = JSON.parse('<%- data_to_open %>');
  var portal_local  = "<%= portal_to_show %>";

</script>

<div class='title'>Community Visualization</div>
<% if(subtitle == 'Dataset Selection Page'){ %>
  <div class='subtitle' style=''><%= subtitle %></div>
<% }else{ %>
  <div class='subtitle' style='padding:3px;background:#BDEDFF;'><%= subtitle %></div>
<% }%>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>

    <!-- autocomplete="off" clears the checkboxes on page refresh -->
    <form id='dataset_select_form' class='' name='dataset_select_form' method='POST' action='/visuals/unit_selection' autocomplete="off">

      <table class='table table-bordered'>
        <tr>
        <td>
           <a  id='clear_filters_btn_id' type='button' value='' class='btn btn-xs btn-primary' >Clear Filters/Reset Tree</a> 

        </td>
        <td>
             
              <a href='/visuals/saved_elements' type="button" class="btn btn-xs btn-primary pull-right"  id="">View Saved Datasets</a>
			     <h4>Select Datasets Below:<br><small>selected count: <span id='selected_ds_count_id'>0</span></small></h4>
			  
			  
        </td>
        
        <td>            
      			<button type="button" class="btn btn-sm btn-warning pull-right" name='Next' id="unit_selection"> 
      			  next: Unit Selection <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> 
      			</button>
            <h4>                
                <span class="label label-default">To save your dataset selections go to the next page.</span>  
            </h4>
        </td>
        </tr>

        <tr>
        <td style='width:100px;'>Filter Projects
          <!-- FILTER -->
          <div id='' class=''>
            <table id='filters_table' border='1' width=''>
              <tr>
                <td>by substring:<br>
                  <input id="pname_search_id" class="" autocomplete="off"  type="text"  onkeyup="showLiveProjectNames(this.value)"/>
                </td>
              </tr>
              <tr>
                <td>
                  by env source<br>
                  <select id='env_source_select' >
                    <option>.....</option>
                    <% for(n in env_sources) { %>
                      <option value='<%= n %>'>(<%= n %>) <%= env_sources[n] %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  by domain/target<br>
                  <select  id='target_select'>
                    <option>.....</option>
                    <% for(n in targets) { %>
                      <option value='<%= targets[n] %>'><%= targets[n] %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              
            </table>
            
          </div>
        </td>
        <td>
            <div id='projects_select_div'>
				      <!-- project tree is first loaded on document.ready{ clear_filters() } see below-->
			     </div>
        </td>
      
		    <td class='td_top'>
                - The projects to the left include all the public projects and any
            <br>&nbsp;&nbsp;&nbsp;others that you have permissions to access. 
            <br><br>- Selecting the project name will take you to that project's profile.
            <br><br>- Click on the checkbox or plus(+) box to view and select datasets.
            <br><br>- Once you select your datasets you can save your list on the next page
            <br>&nbsp;&nbsp;&nbsp;where you also can select the units (taxonomy or OTUs)
            <br>&nbsp;&nbsp;&nbsp;and metadata for the visualizations.
            <br><br>- Move to the next page
            <br>&nbsp;&nbsp;&nbsp;by selecting the orange 'next' button in the upper right.
			  
		    </td>
        </tr>
      </table>
	  
       <input type='hidden' name='Next2' value='Next: Unit Selection2' id="unit_selection2" >
    </form>
   



<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/visuals_index.js"></script>
<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/check_form_pg1.js"></script>
<script type="text/javascript" src="/javascripts/project_dataset_tree.js"></script>

<script>

    // code for tooltips
    var $liveTip_pjds = $('<div id="livetip_pjds"></div>').hide().appendTo('body'),
        $win = $(window),
        showTip;
    
    var tip = {
      title: '',
      offset: 12,
      //delay: 300,
      position: function(event) {
        var positions = {x: event.pageX, y: event.pageY};
        var dimensions = {
          x: [
            $win.width(),
            $liveTip_pjds.outerWidth()
            
          ],
          y: [
            $win.scrollTop() + $win.height(),
            $liveTip_pjds.outerHeight()
            
          ]
        };
     
        for ( var axis in dimensions ) {
     
          if (dimensions[axis][0] <dimensions[axis][1] + positions[axis] + this.offset) {
            positions[axis] -= dimensions[axis][1] + this.offset;
          } else {
            positions[axis] += this.offset;
          }
     
        }
     
        $liveTip_pjds.css({
          top: positions.y,
          left: positions.x
        });
        
      }
    };


    $("body").delegate(".tooltip_pjds_list", "mouseover mouseout mousemove", function (event) {
          var link = this,
          html = '';
          $link = $(this);
         
          if (event.type == 'mouseover') {
            tip.id = link.id;
            link.id = '';
            id_items = tip.id.split('-|-');
            html = "<table><tr>";
            if(id_items[0] == 'project') {
              html += "<td>Name: "+id_items[1]+"</td>";
              html += "</tr><tr>";
              html += "<td>Title: "+id_items[2]+"</td>";  
              html += "</tr><tr>";
              html += "<td>Status: "+id_items[3]+"</td>";             
            }else if(id_items[0] == 'dataset'){
              html += "<td>Project: "+id_items[1]+"</td>";
              html += "</tr><tr>";
              html += "<td>Dataset: "+id_items[2]+"</td>";
              html += "</tr><tr>";
              html += "<td>Description: "+id_items[3]+"</td>";
            }
            html += "</tr><table>";

            showTip = setTimeout(function() {
         
              $link.data('tipActive', true);
              
              tip.position(event);
         //alert(event.pageX)
              $liveTip_pjds
              .html('<div>' + html  + '</div>')
              .fadeOut(0)
              .fadeIn(0);

         
            }, tip.delay);
          }
         
          if (event.type == 'mouseout') {
            link.id = tip.id || link.id;
            if ($link.data('tipActive')) {
              $link.removeData('tipActive');
              $liveTip_pjds.hide();
              
            } else {
              clearTimeout(showTip);
            }
          }
         
          if (event.type == 'mousemove' && $link.data('tipActive')) {
            tip.position(event);
          }
                  
     });              
</script>
 </body>
 </html>
