<% include ../add_ins/begin.ejs %>
<% config = JSON.parse(config) %>

<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<script defer>
	var rando = Math.floor(Math.random() * (99999 - 10000 + 1)) + 10000;
</script>

	<div class="hero-unit">
	       <h2>OTU Project: <%= code %></h2>
	</div>
	<a href='/otus/project_list/'><<--back</a>&nbsp;&nbsp;<a href='/otus/project/<%= code %>' class='btn btn-xs btn-primary ' >Refresh Page</a>
	<br><br>
	
	<% //JSON.stringify(config) %>
<table class='' border='1'>
	
	<tr>
        <td style='padding:3px'>Unique ID:</td><td style='padding:3px'><%= config.MAIN.code %></td>
	</tr>
	<tr>
        <td style='padding:3px'>Method:</td><td style='padding:3px'><%= config.MAIN.otu_method %></td>
	</tr>
	<tr>
        <td style='padding:3px'>Similarity:</td><td style='padding:3px'><%= config.MAIN.otu_size %> %</td>
	</tr>
	<tr>
        <td style='padding:3px'>Status:</td><td style='padding:3px'></td>
	</tr>
	<tr>
        <td colspan='2' style='padding:3px'>Download Fasta File</td>
	</tr>
	<tr>
		<td colspan='2' style='padding:3px'>
					
                <form id='' class='' method='POST' action='/otus/create_otus_step2/<%= code %>'>
                    <input type='submit' id=''  class='btn btn-xs btn-primary' value='Start OTU Calculation' />
                    <input type='hidden' name='directory' value='<%= config.MAIN.directory %>' />
                </form>
		</td>
	</tr>
	<!-- -------------------------------------------------------------------------------------------- -->



</table>


<% include ../add_ins/end.ejs %>
 <script type="text/javascript" src="/javascripts/otus.js" defer></script>
 </body>
 </html>
