

<div class="container">	
<center><img src='/images/portals/header_plastisphere.jpg' height='150'></center>
<p class='title'>Plastisphere Portal</p>	
	<p class='subtitle'></p>	
	
	<div class="row marketing">
        <div class="col-lg-12">
          
        <p>
	 			The Plastisphere portal on VAMPS is dedicated to providing a platform for comparative molecular analyses of next-generation amplicon data of communities 
        living on Plastic Debris from a variety of environments.  A taxonomy-driven approach allows for comparisons of samples targeting different variable regions 
        of the SSU rRNA marker gene while also providing the tools for further exploring collections of data from a given project or group.  
        Plastic has recently been classified as a major pollutant in the ocean and plastic debris has become omnipresent in our everyday lives. 
        Despite the fact that oceanographers first reported floating plastic in the open ocean over 40 years ago, studies of plastic-associated aquatic 
        microbial communities are few, and we know little about the impact of this anthropogenic substrate and its attached community on the oligotrophic 
        open ocean gyres and other areas where it is accumulating. This new anthropogenic substrate is physically and chemically distinct from natural 
        substrates and could support distinct microbial communities that are fundamentally changing the nature of the marine environment.
        </p>
        <p>
            <ul>
                <li><a href='/portals/projects/PSPHERE'>Plastisphere Projects</a>	- The individual projects with descriptions and metadata.
                <li><a href='/portals/visuals_index/PSPHERE'>Visualization and Analysis</a>	- Dataset selection.														
                <li><a href='/portals/metadata/PSPHERE'>View Metadata -TODO</a>	- A list of the metadata for the projects in this portal.
                <li><a href='/portals/geomap/PSPHERE'>Map Locations</a> - Sample Distribution
            </ul>
		    </p>

      </div>
  </div>
</div>

