<% menu_section='OVERVIEW' %>
<% include ../add_ins/begin.ejs %>
		<div id='' class='pull-right' style=''>
    		<a href='/help/faq' class='btn btn-primary' target='_blank'>FAQ Page</a>
    </div>
    <h2>
		Publications 
	</h2> <h4>Also see <a href='#bymethod'>Citations by Method</a></h4>
	

<p class="standard">
	The following is a list of publications that may be of interest for anyone wishing to perform similar data analysis: 
<br>
</p>

<ul>
<li class="standard">
    Huse, S. M., D. Mark Welch, H. G. Morrison, and M. L. Sogin. (2010). 
    <a href='http://onlinelibrary.wiley.com/doi/10.1111/j.1462-2920.2010.02193.x/full'>Ironing out the wrinkles in the rare biosphere through improved OTU clustering</a>. Environmental Microbiology 12:1889-1898.
<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;Template sequences used for analysis:  <a href='/static/IroningWrinkles_fasta.tar.gz'>IroningWrinkles_fasta.tar.gz</a>
</p>

</li>
<li class="standard">
    Amaral-Zettler L.A., McCliment E.A., Ducklow H.W., Huse S.M. (2009) <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0006372" target='_blank'>A Method for Studying Protistan Diversity Using Massively Parallel Sequencing of V9 Hypervariable Regions of Small-Subunit Ribosomal RNA Genes. </a>PLoS ONE 4(7): e6372. doi:10.1371/journal.pone.0006372 
<br />
<br />
</li>
<li class="standard">
    Huse, S.M., L. Dethlefsen, J.A. Huber, D. Mark Welch, D.A. Relman, M.L. Sogin (2008).  
	<a href="http://www.plosgenetics.org/article/info%3Adoi%2F10.1371%2Fjournal.pgen.1000255" target='_blank'>
	Exploring microbial diversity and taxonomy using SSU rRNA hypervariable tag sequencing. </a>PLoS Genetics.4(11): e1000255 doi:10.1371/journal.pgen.1000255.
<br />
<br />
</li>
<li class="standard">
	Binladen J, Gilbert MTP, Bollback JP, Panitz F, Bendixen C et al. (2007). <a href="http://www.plosone.org/article/fetchArticle.action;jsessionid=C0CD127386784D5EAB9F31ED59F59471?articleURI=info%3Adoi%2F10.1371%2Fjournal.pone.0000197">The Use of Coded PCR Primers Enables High-Throughput Sequencing of Multiple Homolog Amplification Products by 454 Parallel Sequencing. </a> PLoS ONE 2(2): e197. 
<br />
<br />
</li>
<li class="standard">
Huber JA, Mark Welch DB, Morrison HG, Huse SM, Neal PR et al. (2007). <a href="http://www.sciencemag.org/cgi/content/full/318/5847/97"> Microbial Population Structures in the Deep Marine Biosphere.</a> Science 318(5847): 97-100. 
<br />
<br />
</li>
<li class="standard">
<a name="huse">Huse</a> S, Huber J, Morrison H, Sogin M, Welch D (2007). <a href="http://genomebiology.com/2007/8/7/R143">Accuracy and quality of massively parallel DNA pyrosequencing.</a> Genome Biology 8(7): R143. 
<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;Additional data file 4.  Text translation of the original GS20 binary output (sff) file for the second
<br>&nbsp;&nbsp;&nbsp;&nbsp;of three regions (compressed file corrupted on Genome Biology website).  <a href='/static/D8YAWCR02.gz'>Download File</a>
</p>
</li>
<li class="standard">
<a name="pruesse">Pruesse</a> E, Quast C, Knittel K, Fuchs BM, Ludwig W et al. (2007). <a href="http://nar.oxfordjournals.org/cgi/content/abstract/gkm864v2">SILVA: a comprehensive online resource for quality checked and aligned ribosomal RNA sequence data compatible with ARB.</a> Nucleic Acids Research: gkm864. 
<br />
<br />
</li>
<li class="standard">
<a name="wang">Wang</a> Q, Garrity GM, Tiedje JM, Cole JR (2007). <a href="http://aem.asm.org/cgi/content/abstract/AEM.00062-07v1 ">A Naive Bayesian Classifier for Rapid Assignment of rRNA Sequences into the New Bacterial Taxonomy.</a> Applied and Environmental Microbiology: AEM.00062-00007. 
<br />
<br />
</li>
<li class="standard">
Sogin ML, Morrison HG, Huber JA, Welch DM, Huse SM et al. (2006). <a href=" http://www.pnas.org/cgi/reprint/0605127103v1">Microbial diversity in the deep sea and the underexplored "rare biosphere". </a>Proceedings of the National Academy of Sciences 103(32): 12115-12120. 
<br />
<br />
</li>
<li class="standard">
Schloss PD, Handelsman J (2005). <a href="http://aem.asm.org/cgi/content/abstract/71/3/1501">Introducing DOTUR, a Computer Program for Defining Operational Taxonomic Units and Estimating Species Richness.</a> Applied and Environmental Microbiology 71(3): 1501-1506. 
<br />
<br />
</li>
<li class="standard">
Edgar RC (2004). <a href="http://nar.oxfordjournals.org/cgi/content/abstract/32/5/1792 ">MUSCLE: multiple sequence alignment with high accuracy and high throughput.</a> Nucleic Acids Research 32(5): 1792-1797. 
<br />
<br />
</li>
</ul>
<br />
<br />
<br />

<h4><strong><a name='bymethod'>Citations By Method:</a></strong></h4>

<ul>

<strong>Illumina Bv6: </strong>

    <li class="standard">
    Eren, A. M., Vineis, J. H., Morrison, H. G., and Sogin, M. L. (2013). “A filtering method to generate high quality short reads using illumina paired-end technology.” PLoS One, 8(6), e66643.
    </li>
<br>
<strong>Illumina Av6:  </strong>

    <li class="standard">
    Meyer, J. L., Akerman, N. H., Proskurowski, G., and Huber, J. A. (2013). “Microbiological characterization of post-eruption “snowblower” vents at Axial Seamount, Juan de Fuca Ridge.” Front Microbiol, 4, 153.
    </li>
<br>
<strong>Illumina Bv4v5:  </strong>
    <li class="standard">
    Newton R.J., McLellan S.L., Dila D.K., Vineis J.H., Morrison H.G., Eren A.M., Sogin M.L. (2015). Sewage reflects the microbiomes of human populations. mBio 6(2):e02574-14. doi:10.1128/mBio.02574-14.
    </li>
    <br>
    <li class="standard">
    Nelson, M. C., Morrison, H. G., Benjamino, J., Grim, S. L., and Graf, J. (2014). “Analysis, optimization and verification of Illumina-generated 16S rRNA gene amplicon surveys.” PLoS One, 9(4), e94249.
    </li>
    <br>
    <li class="standard">
    Huse, S. M., Young, V. B., Morrison, H. G., Antonopoulos, D. A., Kwon, J., Dalal, S., Arrieta, R., Hubert, N. A., Shen, L., Vineis, J. H., Koval, J. C., Sogin, M. L., Chang, E. B., and Raffals, L. E. (2014). “Comparison of brush and biopsy sampling methods of the ileal pouch for assessment of mucosa-associated microbiota of human subjects.” Microbiome, 2(1), 5.
    </li>
    
    
</ul>


<% include ../add_ins/end.ejs %>
</body>
</html>
