
<% include add_ins/begin.ejs %>

<p class='title'>Export Data</p>
<br><strong>Your Downloads</strong>
<ol>

<% for(f in files){ %>
	<% var filename = files[f] %>
	<% var fileSizeInBytes = size[filename] %>
	<% var fileSize = (fileSizeInBytes).toFixed(1) %>
	<% var sizer = 'Bytes' %>
	<% if(fileSizeInBytes > 1000) { %>
		<% fileSize = (fileSizeInBytes / 1000.0).toFixed(1) %>
		<% sizer = 'KB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000.0).toFixed(1) %>
		<% sizer = 'MB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000000.0).toFixed(1) %>
		<% sizer = 'GB' %>
	<% } %>

	<% parts = filename.split('_') %>
	<% if(user == parts[0]) { %> 
			
				<li>
					<ul>
						<li>File: <%= filename %><% sizer %>
						<li><%= fileSize %> <%= sizer %> | <%= mtime[filename] %>
						 
						<li><a href='file_utils?fxn=download&filename=<%= filename %>' >download</a> | <a href='file_utils?fxn=delete&filename=<%= filename %>' >delete from the server</a>
					</ul>
				</li>
			
	<% } %>
<% } %>
</ol>

<% include add_ins/end.ejs %>


