
<% //include ./add_ins/nav-bar.html %>
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/visualization.css">  
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
	 
	
</head>
<body>
  	<!-- Fixed navbar at top -->
		
		<!-- Fixed navbar at top -->
	
	<div class="container-fluid">				<!-- ends in end.ejs -->
	  <div class="row-fluid">  						<!-- ends in end.ejs -->
	    <div  class='header' id='header'>
	      
	    </div>

	   <div class="col-lg-12" id="">  			<!-- ends in end.ejs -->



<br>

<div class="hero-unit">
            
			<h3><i><u>V</u>isualization and <u>A</u>nalysis of <u>M</u>icrobial <u>P</u>opulation <u>S</u>tructures</i></h3>
	       An integrated collection of tools for researchers to visualize and analyze data for microbial population structures and distributions.
            
</div>
	
    
<h4>There are two essential elements to VAMPS:</h4>    
<ul>
	

	<li><strong>Visualization and Analysis</strong> - Community Visualization including heat maps and comparative pie charts, as well as diversity estimates, rarefaction curves and spreadsheet-style output provide researchers with analytical tools for assessing individual microbial populations, based on either taxonomic assignments or independently-derived operational taxonomic units (OTUs). 

	<li><strong>Data Ramp</strong> - Researchers who want to use the VAMPS tools with their own data can enter their sequence or taxonomy data to the VAMPS website and merge it with the existing shared datasets for individual or comparative analyses. Researchers will be given a user name and password, and their data will be visible only to registered users of their choice. 
</ul>
</p>

<center><h2 class='red'> VAMPS will be down for maintenance until Monday 4-3-2017</h2></center>
   
</body>
</html>