
<html>
<head>
	<title>VAMPS</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript" src="javascripts/global.js"></script>
</head>
<body onload="load_main_menu();">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div id='title'  class=''>VAMPS (Node.js)</div>
<div id='subtitle'  class=''>The Visualization and Analysis 
    of Microbial Population Structures
</div>
<div class='content'> 
<div id='' class='login_link'>
    <a href="/users/login"  class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/users/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
</div>
    
    <p>content
    <ul>
    <li>
    <li>
    <li>
    </ul>
    </p>
</div>
</body>
</html>