
<html>
<head>
	<title>VAMPS</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript" src="javascripts/global.js"></script>
</head>
<body>
<div id='main_menu' class='main_menu'>
    <% include main_menu.html %>
</div>

<div id='header' class='header'>
   
</div>
<div class='content'> 
    <div id='title'>
    <h1>VAMPS (Node.js)</h1>
    The Visualization and Analysis 
    of Microbial Population Structures 
    </div>
    <p>Links
    <ul>
    <li> <a href="helloworld">Hello World Page</a></li>
    <li> <a href="visualization">Community Visualization</a></li>
    <li> <a href="newuser">New User</a></li>
    </ul>
    </p>
</div>
</body>
</html>