<div class='main_menu'>
  <ul>
    <li><a href='/'>VAMPS Home</a></li>
    <li><a href="helloworld">Hello World Page</a></li>
    <li><a href="visualization">Community Visualization</a></li>
    <li><a href=""newuser">User Administration</a></li>
    <li><a href=""newuser">Upload Data</a></li>
    <li><a href=""newuser">Export Data</a></li>
    <li><a href=""newuser">Search</a></li>
    <li><a href=""newuser">Distribution</a></li>
    <li><a href=""newuser">Metadata</a></li>
    <li><a href=""newuser">Portals</a></li>
  </ul>
</div>