<div class='main_menu'>
  <ul>
    <li><a href='/'>VAMPS Home</a></li>
    <li><a href="/helloworld">Hello World Page</a></li>
    <li><a href="/visuals">Community Visualization</a></li>
    <li><a href="/projects">Project List</a></li>
    <li><a href="/users">User List</a></li>
    <li><a href="/users/newuser">User Administration</a></li>
    <li><a href="#">Upload Data</a></li>
    <li><a href="#">Export Data</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Distribution</a></li>
    <li><a href="#">Metadata</a></li>
    <li><a href="#">Portals</a></li>
  </ul>
</div>