<% include add_ins/begin.ejs %>

<p class='title'>Search</p>
<br><strong>Metadata</strong>
<br>
<ul>
	<li>search for all datasets that have a salinity between 28ppt and 30.5ppt for instance.
	<li>search for all datasets that have a lat-long range between.....
		<ul>
			<li>Save the datasets to be able to use them in the visualizations.
		</ul>
	<li>
</ul>
<br><strong>Taxonomy</strong>
<br><strong>Sequences (to be run on cluster)</strong>
<br><strong>Names (key words)</strong>
<br><strong>Blast (to be run on cluster)</strong>
	<ul>
			<li>Must create and maintain VAMPS Blast Database.
	</ul>
<% include add_ins/end.ejs %>

