<% include add_ins/begin-no_menu.ejs %>


<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
<% if(display=='Import_Success'){ %>	
	<p class='title'>Import Data</p>
	
	<div class="row">
		<div class="col-sm-2">
		</div>
	        <div class="col-sm-8">
	          <div class="panel panel-success">
	            <div class="panel-heading">
	              <h3 class="panel-title">Panel title</h3>
	            </div>
	            <div class="panel-body">
			  	The next step is to assign taxonomy via gast or rdp
				<br>
			  	see: <a href='/user_data/your_projects'>Your Projects</a>
	            </div>
	          </div>
			  
		</div>
	</div>
<% }else{ %>			  
	SUCCESS!!
<% } %>	

	
<% include add_ins/end.ejs %>
   
 </body>
 </html>