<html>
<head>
  <title>TITLE</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/960.css">

</head>

<body onload="initialize();">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div class='login_link' ></div>
<div class='title'  >VAMPS Title Here</div>
<div class='subtitle'  ></div>
<div class='container_12'>
  <div class="grid_3">&nbsp;</div>
  <div class="grid_9">
    Put Content Here
  </div>  <!-- end grid_9 -->
</div>    <!-- end container_12 -->
<script type="text/javascript" src="/javascripts/global.js"></script>
</body>
</html>