<html>
<head>
	<title><%- title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/visualization.css">
	<script type="text/javascript" src="/javascripts/global.js"></script>
	<script type="text/javascript" src="/javascripts/visualization.js"></script>
</head>
<body>

<div id='main_menu' class='main_menu'>
    <% include main_menu.html %>
</div>
<div id='header' class='header'></div>
<div class='content'>

<h1>Community Visualization</h1>

  
<% datasets_by_project_all = JSON.parse(rows) %>

<div id='projects'>
<ul>
<% for(i in datasets_by_project_all.projects) { %> 
    
    <% pid = datasets_by_project_all.projects[i].pid %>
    <% pname = datasets_by_project_all.projects[i].pname %>
	<li>
    <label class="project-select" >
      <a href='#'  id="<%= pname + "_toggle" %>" onclick="toggle_selected_datasets('<%= pid %>','<%= pname %>'); return false;" >
        <img alt='plus' src='images/tree_plus.gif' /></a>
      <input type='checkbox' id='<%= pname + "--pj-id" %>' name='project_ids[]' onclick="open_datasets('<%= pid %>','<%= pname %>')" \>
	  <%= pname %>
	</label>
	
	<ul>
	  
      <div id='<%= pid+"_ds_div" %>' class='display_none'> 
	  <% for(k in datasets_by_project_all.projects[i].datasets) { %>
	    <% dname = datasets_by_project_all.projects[i].datasets[k].dname %>
	    <% did = datasets_by_project_all.projects[i].datasets[k].did %>
		<li>
        <label class="dataset-select" >
            <input type='checkbox' id='<%= did %>' name='dataset_ids[]' onclick="set_check_project('<%= pid %>','<%= pname %>')" \>
		  <%= dname %>
		</label>	
	    </li>
	    
	  <% } %>
	  </div>
	</ul>

	</li>

<% } %>
</ul>
</div>

</div>	
</body>
</html>