<html>
<head>
  <title>VAMPS</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/960.css">
</head>
<body>
  <div class='container_12' id="body">  
  <div id='header' class='header'>
    <% include header.html %>
  </div>

  <div class="grid_3 main_menu" id='main_menu'>
    <% include ../main_menu.html %>
  </div>
  
  <div class="grid_9" id='title'>
    <div id='login_link' class=''></div>
    <div id='title'  class=''>VAMPS (Node.js)</div>
    <div id='subtitle'  class=''>The Visualization and Analysis  
        of Microbial Population Structures
    </div>
  </div>
