<% include ../add_ins/begin.ejs %>

<script>  
  var portal = '<%= portal %>'
  var portal_info_local   = JSON.parse('<%- portal_info %>')
  var md_local   = portal_info_local.metadata
  var zoom_level = portal_info_local.zoom
</script>
<% //for(i in info){ %>

<% //for(k in metadata){ %>
<%//=// k %><br>
<% //} %>
<% //} %>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	<div class="container">

      <div id='map-canvas' class='map'></div>
	
	</div>


<% include ../add_ins/end.ejs %>
<script src ="https://maps.googleapis.com/maps/api/js"></script>
<script src="/javascripts/portals.js"></script>
<script>
	$(document).ready(function(){
		create_geospatial()
	});
</script>




</body>
</html>

