<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
<script defer>
  var portal = '<%= portal %>'
  var portal_info_local   = JSON.parse('<%- portal_info %>')
  var md_local   = portal_info_local.metadata
  var zoom_level = portal_info_local.zoom
  var token = '<%- token %>'  // https://leafletjs.com
</script>

  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>
	
	
	<div class="container">

      <div id='map-canvas' class='map'></div>
	
	</div>


<% include ../add_ins/end.ejs %>
<!-- <script src ="https://maps.googleapis.com/maps/api/js" defer></script> -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin="">   
</script>
<script src="/javascripts/portals.js" defer></script>
<script defer>
  create_geospatial()
</script>
</body>
</html>

