<% include ../add_ins/begin.ejs %>


<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<a href='/portals/portals_index'>&lt;&lt;-portals</a>	


        
<% if(portal == 'CMP'){ %> 
        <% include coral_microbiome/cmp_index.html %>
<% }else if(portal == 'CODL') { %>
        <% include census_of_deep_life/codl_index.html %>
<% }else if(portal == 'HMP') { %>
        <% include human_microbiome/hmp_index.html %>
<% }else if(portal == 'ICOMM') { %>
        <% include census_of_marine_microbes/icomm_index.html %>
<% }else if(portal == 'LTER') { %>
        <% include mirada/mirada_index.html %>
<% }else if(portal == 'MBE') { %>
        <% include built_environment/mobe_index.html %>
<% }else if(portal == 'RARE') { %>
        <% include rare_biosphere/rare_index.html %>
<% }else if(portal == 'PSPHERE') { %>
        <% include plastisphere/psphere_index.html %>
<% }else if(portal == 'UC') { %>
        <% include ulcerative_colitis/uc_index.html %>
<% }else if(portal == 'UNIEUK') { %>
        <% include unieuk/unieuk_index.html %>


<% } %>
 



	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>