<% include ../add_ins/begin.ejs %>
<% var mdata = JSON.parse(mdata) %> 
<% var mdata_order = JSON.parse(md_order) %>
<% var header_order = JSON.parse(hd_order) %>

  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>
	
	
	<h3><%= portal %> Metadata</h3>
	<div class="">
	<table class='table table-condensed'>
	        <tr><th>Project/Dataset</th>
	        <% for(i in header_order){ %>
	            <th><%= header_order[i] %></th>
	        <% } %>
	        </tr>
	        
	        <% for(ds in mdata){ %>
                <% ds_items = ds.split('--') %>
                
                <tr><td><%= ds_items[0] %><br><%= ds_items[1] %></td>
                    <% for(i in header_order){ %>
                        <td><%= mdata[ds][header_order[i]] %></td>
                    <% } %>
	            </tr>
	        <% } %>
	</table>
	</div>
	

	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>