<% include ../add_ins/begin.ejs %>


  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>
	
	
	
	<div class="hero-unit">
	            <h2>VAMPS:</h2>
				<h3>Visualization and Analysis of Microbial Population Structures</h3>
		       An integrated collection of tools for researchers to visualize and analyze data for microbial population structures and distributions.         
	</div>
	
    
      
<h4>There are two essential elements to VAMPS:</h4>    


	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>