
<% ptls  = JSON.parse(portals) %>

<!-- Not used -->

<% include ../add_ins/begin.ejs %>

<div class="container"> 
   
<p class='title'>Portals</p>  
    <p class='subtitle'>Portals are areas of the VAMPS site dedicated to specific umbrella projects or initiatives
        that contain many VAMPS projects. <br>They typically involve more than one primary investigator and strive to make the data publicly available.
    </p>    
<br><br>

  <ul class='portal_list'>
    <% for(p in ptls) { %>
        <div class="row">
            <div class="col col-lg-2">
                <br><p class="h5"><a href='<%= p %>'><%= ptls[p].name %></a></p>
            </div>
            <div class="col col-lg-10">
                <div class='well'>
                    <a href='<%= p %>'>
                        <table><tr>
                        <td>
                                <img src="<%= ptls[p].thumb %>"  height='60'>
                        </td>
                        <td style='padding:10px;'>
                                <div style='font-style:italic;font-size:small;'><%= ptls[p].subtitle %></div>
                        </td>
                        </tr></table>
                    </a>
                </div>
            </div>
        </div>
        
    <% } %>
    
  </ul>

<% include ../add_ins/end.ejs %>

