<!-- Not used -->
<% include ../add_ins/begin.ejs %>

<div class="container"> 
   
<p class='title'>Portals</p>  
    <p class='subtitle'>Portals are areas of the site dedicated to specific umbrella projects or initiatives
 that contain many VAMPS projects. <br>They typically involve more than one primary investigator and strive to make the data publicly available
 although some of the data may still be private.</p>    

<br><br>
<div class='well'>

 
  <ul>
    <li><a href='mobe/mobe_index'>MoBE</a> (Microbiology of the Built Environment)</li>
    <li><a href='icomm/icomm_index'>ICoMM</a> (International Census of Marine Mirobes)</li>
    <li><a href='codl/codl_index'>CoDL</a> (Census of Deep Life)</li>
    <li><a href='hmp/hmp_index'>HMP</a> (Human Microbiome Project)</li>
    <li><a href='uc/uc_index'>UC</a> (Ulcerative Colitis)</li>
    <li>The <a href='rare/rare_index'>Rare Biosphere</a></li>
    <li><a href='cmp/cmp_index'>CMP</a> (Coral Microbe Project)</li>
    <li><a href='mirada/mirada_index'>MIRADA</a> (Microbial Inventory Research Across Diverse Aquatic Long Term Ecological Research Sites)</li> 
  </ul>
</div>
<% include ../add_ins/end.ejs %>

