<% include ../add_ins/begin.ejs %>
<% var project_info = JSON.parse(pinfo) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	<div class="container">

	<div class="hero-unit">
	       <h2>VAMPS portal: <%= portal %></h2>
				<h3>Project listing</h3>       
	</div>
	
  <div class="row">  
      <div class="col-lg-12">
				
					<table class='table'>
						<% for(n in data){ %>
									<tr><td>(<%= project_info[data[n]].pid %>) <%= project_info[data[n]].project %></td><td><%= project_info[data[n]].title %></td></tr>
						<% } %>

					</table>


			</div>
			
	</div>

</div>





	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>