<% include ../../add_ins/begin_nomenu.ejs %>
<% var mtx = JSON.parse(matrix); %>
<% var order = JSON.parse(order); %>
<link rel="stylesheet" href="/stylesheets/bootstrap-sortable.css" >
<script>
  var pi_local  = JSON.parse('<%- post_items %>');
  var mtx_local = JSON.parse('<%- matrix %>');
  var user_local  = '<%= user.username %>';
  var bar_type    = '<%= bar_type %>';
</script>
  
<div class='title'><%= title %></div>
<div class='subtitle'>Dataset: <%= mtx.dataset %></div>
<br>

<div id='my_div' class='well' style="height: 150px;">
 
  <div class='pull-left'>
    Ordering:
    <a class='btn btn-xs btn-success' href='/visuals/bar_single?did=<%= mtx.did %>&ts=<%= ts %>&orderby=alpha&val=<%= order.alpha_value %>'>Taxa Names 
        <% if(order.count_value == ''){ %>
            <% if(order.alpha_value == 'a'){ %>
              <span class="glyphicon glyphicon-chevron-down"></span>
            <% }else{ %>
              <span class="glyphicon glyphicon-chevron-up"></span>
            <% } %>
        <% } %>
        
    </a>
    <a class='btn btn-xs btn-success' href='/visuals/bar_single?did=<%= mtx.did %>&ts=<%= ts %>&orderby=count&val=<%= order.count_value %>'>Count
        <% if(order.alpha_value == ''){ %>
            <% if(order.count_value == 'max'){ %>
              <span class="glyphicon glyphicon-chevron-down"></span>
            <% }else{ %>
              <span class="glyphicon glyphicon-chevron-up"></span>
            <% } %>
        <% } %>
    </a>
  </div>
  
  <br><br>
  <center>
    <div id='barcharts_div' class=''></div>
  </center>
</div>

<div id='barcharts_table_div' class=''></div>

