<% include ../../add_ins/begin_nomenu.ejs %>
<% var dataset = JSON.parse(matrix).dataset; %>
<link rel="stylesheet" href="/stylesheets/bootstrap-sortable.css" >
<script>
  var pi_local  = JSON.parse('<%- post_items %>');
  var mtx_local = JSON.parse('<%- matrix %>');
  var user_local  = '<%= user.username %>';
  var bar_type    = '<%= bar_type %>';
  var filename    = '<%= seqs_file %>';
</script>
  
<div class='title'><%= title %></div>
<div class='subtitle'>Dataset: <%= dataset %></div>
<br>

<div id='my_div' class='well' style="height: 130px;">
<center>
	<div id='barcharts_div' class=''></div>
</center>
</div>

<div id='barcharts_table_div' class=''></div>


<!-- <span id='chart_tooltip' >
  <table style='margin:0'>      
    
    <tr>        
      <td class='tax'>Tax:</td>
      <td id='unit'></td>
    </tr>
    <tr>        
      <td class='knt'>Count:</td>
      <td id='count'></td>
    </tr>     
  </table>  
</span>
</div>  <!-- end grid_9  content --> 





  <% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/common_selection.js" charset="utf-8"></script>


<script>
$(document).ready(function() {  

  // function is where?  common_selection
  create_barcharts(bar_type, '');
  
  if(bar_type == 'single'){
    // function is where?  in this file (look below)
    barcharts_table_div.innerHTML = get_single_bar_html(mtx_local);
  }else{
    barcharts_table_div.innerHTML = get_double_bar_html(mtx_local);
  }
    //new Tablesort(document.getElementById('single_barchart_table_id'));
        
})
$("body").delegate(".tooltip_viz", "mouseover mouseout mousemove", function (event) {
      var link = this,
      html = '';
      $link = $(this);
     
      if (event.type == 'mouseover') {
        tip.id = link.id;
        link.id = '';
        id_items = tip.id.split('-|-');
        html = "<table><tr>";
        if(id_items[0] == 'dheatmap') {
          html += "<td>"+id_items[1]+"</td>";
          html += "</tr><tr>";
          html += "<td>"+id_items[2]+"</td>";
          html += "</tr><tr>";
          html += "<td>Distance: "+id_items[3]+"</td>";
        }else if(id_items[0] == 'frequencies'){
          html += "<td>"+id_items[1]+"</td>";
          html += "</tr><tr>";
          html += "<td>"+id_items[2]+"</td>";
          html += "</tr><tr>";
          html += "<td>Count: "+id_items[3]+" ("+id_items[4]+"%)</td>";
        }else{  // barcharts and piecharts            
          html += "<td>"+id_items[1]+"</td>";
          html += "</tr><tr>";
          html += "<td>Count: "+id_items[2]+" ("+id_items[3]+"%)</td>";
        }
        html += "</tr><table>";

        showTip = setTimeout(function() {
     
          $link.data('tipActive', true);
          
          tip.position(event);
     //alert(event.pageX)
          $liveTip
          .html('<div>' + html  + '</div>')
          .fadeOut(0)
          .fadeIn(200);
     
        }, tip.delay);
      }
     
      if (event.type == 'mouseout') {
        link.id = tip.id || link.id;
        if ($link.data('tipActive')) {
          $link.removeData('tipActive');
          $liveTip.hide();
        } else {
          clearTimeout(showTip);
        }
      }
     
      if (event.type == 'mousemove' && $link.data('tipActive')) {
        tip.position(event);
      }
              
});              
</script>
<script type="text/javascript" src="/javascripts/user_viz_data.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>

</body>
</html>
