<% include ../../add_ins/begin_nomenu.ejs %>

<link rel="stylesheet" href="/stylesheets/bootstrap-sortable.css" >
<script defer>
  var mtx_local = JSON.parse('<%- matrix %>');
</script>
  
<div class='title'><%= title %></div>
<div class='subtitle'>Taxonomy: <%= tax %></div>
<br>

<div id='' class='well center' >
  Slices are Datasets
    <div id='piecharts_div' class='center' ></div>
</div>

<div id='piecharts_table_div' class=''></div>





  <% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8" defer></script>
<script type="text/javascript" src="/javascripts/common_selection.js" charset="utf-8" defer></script>


<script defer>
 $(document).ready(function() {  
    
  // function is where?  common_selection
  // PIE CHART
  create_piecharts('single', <%= ts %>, mtx_local);
  
  // TABLE:  user_viz_data.js
  piecharts_table_div.innerHTML = get_single_pie_html(mtx_local);

        
})
$("body").delegate(".tooltip_viz", "mouseover mouseout mousemove", function (event) {
      var link = this,
      html = '';
      $link = $(this);
     
      if (event.type == 'mouseover') {
        tip.id = link.id;
        link.id = '';
        
        var id_items = tip.id.split('/');
        html = "<table><tr>";
        // barcharts and piecharts            
        html += "<td>"+id_items[1]+"</td>";
        html += "</tr><tr>";
        html += "<td>Count: "+id_items[2]+" ("+id_items[3]+"%)</td>";
        
        html += "</tr><table>";

        showTip = setTimeout(function() {
     
          $link.data('tipActive', true);
          
          tip.position(event);
     //alert(event.pageX)
          $liveTip
          .html('<div>' + html  + '</div>')
          .fadeOut(0)
          .fadeIn(200);
     
        }, tip.delay);
      }
     
      if (event.type == 'mouseout') {
        link.id = tip.id || link.id;
        if ($link.data('tipActive')) {
          $link.removeData('tipActive');
          $liveTip.hide();
        } else {
          clearTimeout(showTip);
        }
      }
     
      if (event.type == 'mousemove' && $link.data('tipActive')) {
        tip.position(event);
      }
              
});  
           
</script>
<script type="text/javascript" src="/javascripts/user_viz_data.js" charset="utf-8" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js" defer></script>
<script type="text/javascript" src="/javascripts/jquery.flot.min.js" defer></script>

</body>
</html>
