<% include ../../add_ins/begin_nomenu.ejs %>
<% seqrows = JSON.parse(seq_list) %>
<link rel="stylesheet" href="/stylesheets/bootstrap-sortable.css" >
<div class='title'><%= title %></div>
<div class='subtitle'><%= ds %></div>
<div class='subtitle'><%= tax %></div>
<br>

<a href='#' onclick='window.history.back()'>&lt;&lt;--Back</a>
<div class="row">
	<form id='download_fasta_form_id' method='POST' action=''>
    <!-- This form should run in the background and place the seqs file 
          in a 'downloads' directory where it can be retrieved.
          The user should get an email when its ready.
     -->
    <input type='button' id='download_fasta_btn'class="btn btn-xs btn-success" value='Create Fasta File' />
    <input type='hidden' name='download_type' value='partial_project' />
	  <input type='hidden' name='referer' value='/visuals/sequences' />

  	</form>
    <div id='download_confirm_id'></div>
    <% header_tail_seqs = '' %>
    <% header_tail_tax = '' %>
    <div class='pull-right'>
        <div class="checkbox-inline">
       
          <label><input type="checkbox" id='hide_seqs_cb'  onclick="hide_seqs('<%= ds %>', '<%= tax %>', '<%= fname %>')">Show All Sequences (colorized)</label>
          

        </div>
        <div class="checkbox-inline">
        
          <label><input type="checkbox" id='hide_tax_cb'  onclick="hide_tax('<%= ds %>', '<%= tax %>', '<%= fname %>')">Hide Taxonomy</label>
          


          
        </div>
    </div>
</div>
<div class='overflow_500' style='height:600px;'>


  <table id='seqs_table' style=''>
  	<thead>

    <tr><th data-defaultsort='disabled'>#</th>
        <th style='padding:0 5px 0 5px;'>Seq<br>Count</th>
        <th style='padding:0 5px 0 5px;'>GAST<br>Distance</th>
        <th style='padding:0 5px 0 5px;'>NCBI<br>BLAST</th>
        <th><span id='seq_header' class='hide_class_seq'>Sequence</span></th>
        <th><span class='hide_class_tax'>Taxonomy</span></th>
       
      </tr>
    
    </thead>
    <tbody>
      <% for (r in seqrows) { %>
         <tr>
      	   <td><%= parseInt(r)+1 %></td>
      	   <td style='text-align:center'><%= seqrows[r].seq_count %></td>
      	   <% if(seqrows[r].classifier =='GAST') { %>
                <td style='text-align:center'><%= seqrows[r].gast_distance %></td>
      	   <% }else{ %>
                <td style='text-align:center'>none</t>
           <% } %>
           <td style='text-align:center'><input type='radio' id='' name='ncbiblast' value='' onclick="ncbi_blast('<%= seqrows[r].seq %>')" \></td>
              
            <% divid = 'seq_div_'+r.toString() %>
            
            <td style='padding-right:3px;'>
              <div class='hide_class_seq1' id='<%= divid %>' style='display:inline' >
                show seq <input type='checkbox' id='' name='show_seq' value='' onclick="show_single_sequence('<%= divid %>', '<%- seqrows[r].seq %>')" \> 
              </div>
              <div class='hide_class_seq2' style='display:none;font-family: monospace;'>
                 <%- seqrows[r].prettyseq %>             
              </div>
            </td>
            
            
            <!-- <td><span class='hide_class_seq' style="font-family: monospace;"><%- seqrows[r].prettyseq %></span></td> -->
              
            
            
            <td><span class='hide_class_tax'><%= seqrows[r].tax %></span></td>
          
      	   
         </tr>
         
      <% } %>
  </tbody>
  </table>



</div>

  <% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/user_viz_data.js" ></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>


</body>
</html>