<% include ../add_ins/begin.ejs %>
<!-- May arrive here logged in or not logged in -->

  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>

<% if(form_type == 'update'){ %>	<!-- HERE if logged in and want to change your password -->
    <div class="container">
        <br><br>
            <div class="hero-unit">
                   <h3>Change Password Form</h3>   
            </div>
        <br><br>
        <form method='POST' action='change_password'>
          <fieldset class="form-group">
            <label for="">Old Password</label>
            <input type="passwordX" class="form-control" name="old_password" placeholder="Enter old password">
          </fieldset>
          <fieldset class="form-group">
            <label for="">New Password</label>
            <input type="passwordX" class="form-control" name="new_password1" placeholder="New Password">
          </fieldset>
          <fieldset class="form-group">
            <label for="">New Password (verify)</label>
            <input type="passwordX" class="form-control" name="new_password2" placeholder="Repeat New Password">
          </fieldset>
             <input type="hidden" class="form-control" name="username" value="<%= user.username %>">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<% }else if(form_type == 'forgotten1'){ %>  <!-- HERE if NOT logged in and have forgotten your password and need it reset -->

    <div class="container" style='border:1px solid grey;padding:15px;background:lightgreen'>
            <br><br>
                <div class="hero-unit">
                       <h3>Forgot Your Password?</h3> 
                       <p>Submit the following information and then check your email.
                       <br>You'll receive a link that will allow you to choose a new password for your VAMPS account.
                       </p>   
                </div>
            <br><br>
            <form method='POST' action='/users/reset_password1'>
              <fieldset class="form-group">
                <label for="">Your VAMPS Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
              </fieldset>
              <fieldset class="form-group">
                <label for="">Your Email Address on Record</label>
                <input type="text" class="form-control" name="email" placeholder="Email Address">
              </fieldset>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
<% }else{ %>  <!-- form_type == 'forgotten2' --> <!-- HERE if NOT logged in. Have received an email and have responed to link in email -->
    <div class="container" style='border:1px solid grey;padding:15px;background:#87B1C1'>
        <br><br>
            <div class="hero-unit">
                   <h3>Re-Set Forgotten Password For: "<%= username %>"</h3>
                   <p>Enter a new password below and confirm it. It must be between 6 and 12 characters.</p>  
            </div>
        <br><br>
        <form method='POST' action='/users/reset_password2'>
          
          <fieldset class="form-group">
            <label for="">New Password</label>
            <input type="passwordX" class="form-control" name="new_password" placeholder="New Password">
          </fieldset>
          <fieldset class="form-group">
            <label for="">New Password (verify)</label>
            <input type="passwordX" class="form-control" name="confirm_password" placeholder="Repeat New Password">
          </fieldset>
          <input type="hidden" name="username" value="<%= username %>">
          <input type="hidden" name="uid" value="<%= uid %>">
          <input type="hidden" name="code" value="<%= code %>">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<% } %>
<center><p>If this form doesn't work for you please send us an email [<strong>vamps@mbl.edu</strong>] with how we can help.</p></center>
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>