<% include ../add_ins/begin.ejs %>


<% if (message) { %>
	<div class="message alert_flash_message"><%= message %></div>
<% } %>
	
	
	<div class="container">
<br><br>
	<div class="hero-unit">
	       <h3>Change Password Form</h3>   
	</div>
<br><br>
  <form method='POST' action='change_password'>
  <fieldset class="form-group">
    <label for="">Old Password</label>
    <input type="password" class="form-control" name="old_password" placeholder="Enter old password">
  </fieldset>
  <fieldset class="form-group">
    <label for="">New Password</label>
    <input type="password" class="form-control" name="new_password1" placeholder="New Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="">New Password (verify)</label>
    <input type="password" class="form-control" name="new_password2" placeholder="Repeat New Password">
  </fieldset>
  <input type="hidden" class="form-control" name="username" value="<%= user.username %>">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>