<html>
<head>
	<title>TITLE</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/global.js"></script>
</head>
<body onload="initialize('<%= JSON.stringify( user ) %>');">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div id='login_link' class=''></div>
<div id='title'>VAMPS User List</div>
<div id='subtitle'></div>

<div class='content'>  
<% user_rows = rows %>
<div id='user_list_div' class='general_table' >
  <ul>
	<% for(i in user_rows) { %>
		<li value='<%= user_rows[i].username %>'>
			<%= user_rows[i].username %>
			<%= ' -- ' %>
			<%= user_rows[i].first_name %>
			<%= user_rows[i].last_name %>
		</li>
		
	<% } %>
  </ul>
</div>
</div>


</body>
</html>