<% menu_section='YOURDATA' %>
<% include ../add_ins/begin.ejs %>
<% if (message.length > 0) { %>
      <div class="message alert_flash_message"><%= message %></div>
  <% } %>
<div class="title fa fa-anchor">Login</div>
<div class="row">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
    <div class="well">
Due to a change in the database structure the logins from the original VAMPS will not work
  with the new site.<br>Please <a href="/users/signup">signup for a new login here.</a><br>
  <br>
      <div id='login_div' class='table' >
      <form action="/users/login" method="POST">
          <div>
              <label>Username:</label>
              <input type="text" id='username' name="username"/>
          </div>
          <div>
              <label>Password:</label>
              <input type="password" id='password' name="password"/>
          </div>
          <div>
              <input type="submit" value="Log In"/> <!-- <small><a href="forgot">Forgot Password?</a></small> -->
          </div>
      </form>
      
      <hr>
      
      <p>Need an account? <a href="/users/signup">Signup</a></p>
      <p>Or go to the <a href="/">home</a> page.</p>

    </div>
</div>
</div>
</div>
<% include ../add_ins/end.ejs %>
 </body>
 </html>