<% include ../add_ins/begin.ejs %>
  <div class='title'  >Login</div>
  <% if (message.length > 0) { %>
      <div class="message"><%= message %></div>
  <% } %><br>
  <form action="/users/login" method="post">
      <div>
          <label>Username:</label>
          <input type="text" id='username' name="username"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" id='password' name="password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>
  <hr>
  <p>Need an account? <a href="/users/signup">Signup</a></p>
  <p>Or go to the <a href="/">home</a> page.</p>

<% include ../add_ins/end.ejs %>
 </body>
 </html>