<% menu_section='YOURDATA' %>
<% include ../add_ins/begin.ejs %>


<div class="title fa fa-anchor">Login</div>


<div id='' style='padding:10px;background: orange;'>
        <h4>We've made a change to our authentication process which requires us to update all the passwords.
        <br><br>
        If your username fails to authenticate:
        please email us at <a href="mailto:vamps@mbl.edu?subject=VAMPS Password Update&body=Full Name:%0D%0AUsername:">vamps@mbl.edu</a> with your name, and vamps username and we'll reply with your updated account information.
        <br><br>
        The new credentials will be valid on both VAMPS and new VAMPS (<a href='https://vamps2.mbl.edu'>https://vamps2.mbl.edu/</a>)
        </h4>
        </div>
<div class="row">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
    <div class="well">
    <% if (messages.loginMessage) { %>
        <div class="alert_flash_message_fail" style='margin:-7px'><%= messages.loginMessage %></div>
    <% } %>
<br>

      <div id='login_div' class='table' >
      <form action="/users/login" method="POST">
          <div>
              <label>Username:</label>
              <input type="text" id='username' name="username"/>
          </div>
          <div>
              <label>Password:</label>
              <input type="password" id='password' name="password"/>
          </div>
          <div>
              <input type="submit" value="Log In"/> <!-- <small><a href="forgot">Forgot Password?</a></small> -->
          </div>
          <input type='hidden' name='return_to_url' value='<%=return_to_url%>'/>

      </form>

      <br>
      <p>Guest Account (limited functionality): User: 'guest'; Password: 'guest'</p>
      <p>Need an account? <a href="/users/signup">Signup</a></p>
      <!-- <p>Forgot your password? <a href="/users/reset">Reset</a></p> -->
      <p>Account help? email: <a href="mailto:vamps@mbl.edu">vamps@mbl.edu</a> (Including forgotten passwords.)</p>
      <p>Or <a href="/">just go to the home page.</a></p>

    </div>
</div>
</div>
</div>
<% include ../add_ins/end.ejs %>
 </body>
 </html>
