<% include ../add_ins/begin.ejs %>
<div class="title fa fa-anchor">Profile Page</div>
  <% if (message.length > 0) { %>
      <div class="message"><%= message %></div>
  <% } %><br>
  <!-- USER INFORMATION -->
  <div class="col-sm-6">
    <div class="well">
      <h3><span class="fa fa-user"></span></h3>

        <p>
          <strong>UserID</strong>: <%= user.user_id %><br>
          <strong>username</strong>: <%= user.username %><br>
          <strong>First Name</strong>: <%= user.first_name %><br>
          <strong>Last Name</strong>: <%= user.last_name %><br>
          <strong>Email</strong>: <%= user.email %><br>
          <strong>Institution</strong>: <%= user.institution %><br>
          <% if(user.security_level === 1) { %>
            <strong>Security Level</strong>: <%= user.security_level %> (Administrator)<br>
          <% }else if(user.security_level === 50) { %>
            <strong>Security Level</strong>: <%= user.security_level %> (Registered User)<br>
          <% }else { %>
            <strong>Security Level</strong>: <%= user.security_level %> (Guest)<br>
          <% } %>  
        </p>
</div>
<% include ../add_ins/end.ejs %>
 </body>
 </html>