<html>
<head>
  <title>TITLE</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/global.js"></script>
</head>
<body>
<body onload="initialize('<%= JSON.stringify( user ) %>');">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'><%=  include ../add_ins/main_menu.html %></div>
<div class='title'>Add User</div>
<div class='subtitle'></div>

<div class='content'>
<div id='new_user_div' class='general_table' >
<form id='' name='newuser_form' method='POST' action='/users/signup'>
  <ul>
  <li> <input id='username'       name='username'     type="text"     \> Username</li>
  <li> <input id='password'       name='password'     type="password" \> Password</li>
  <li> <input id='userfirstname'     name='userfirstname'   type="text"     \> First Name</li>
  <li> <input id='userlastname'     name='userlastname'   type="text"     \> Last name</li>
  <li> <input id='useremail'       name='useremail'     type="text"     \> Email</li>
  <li> <input id='userinstitution'   name='userinstitution'   type="text"     \> Institution</li>
  <li> <input id=''   type="submit" value='Enter'\></li>
  </ul>
</form>
<hr>

<p>Already have an account? <a href="/users/login">Login</a></p>
<p>Or go <a href="/">home</a>.</p>
</div>
</div>
</body>
</html>