<% include ../add_ins/begin.ejs %>
<% if(new_user){ %>	
    <%  fname = new_user.firstname %>
    <%  lname = new_user.lastname %>
    <%  uname = new_user.username %>
    <%  pass = new_user.password %>
    <%  email = new_user.email %>
    <%  inst = new_user.institution %>
<% } %>
<br><br>

<div class="title fa fa-anchor">Account Registration</div>
 
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<div class="well">

 
<% if (messages.success) { %>
  	<div class="alert_flash_message_success" style='margin:-7px'><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" style='margin:-7px'><%= messages.fail %></div>
<% } %>
  <br>
  <div id='new_user_div' class='table' >All fields are required -- <a class='button' href='new_user'>Clear Form</a>
    <form id='' name='newuser_form' method='POST' action='/users/signup' >
      <ul>
      <li> <input id='username'       name='username'       type="text"   value='<%= uname %>'  \> Username <span class='tiny_font'>(alphanumeric only. no spaces.)</span>
        
      </li>
      <li> <input id='password'       name='password'         type="password" value='' \> Password <span class='tiny_font'>(between 3 and 20 characters.)</span></li>
      <li> <input id='password'       name='password_confirm' type="password" value='' \> Confirm Password</li>
      <li> <input id='userfirstname'  name='userfirstname'  type="text"  value='<%= fname %>'   \> First Name</li>
      <li> <input id='userlastname'   name='userlastname'   type="text"  value='<%= lname %>'   \> Last Name</li>
      <li> <input id='useremail'      name='useremail'      type="text"  value='<%= email %>'   \> Email <span class='tiny_font'>(must be correct email format)</span></li>  
      <li> <input id='userinstitution'name='userinstitution'type="text"  value='<%= inst %>'   \> Institution</li>
      <br>      
      </ul>
      <input id=''   type="submit" value='Enter' \>
    </form>
    <br>   
    <p>Already have an account? <a href="/users/login">Login</a></p>
    <p>Or go to the <a href="/">home page</a>.</p>

  </div>
</div>
</div>
</div>  
  
<% include ../add_ins/end.ejs %>
