<% include ../add_ins/begin.ejs %>

  <div class='title center'>User List</div>
  <div class='subtitle'></div>
  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>
  
  <% user_rows = rows %>
  <center>
  <table id='user_list_div' class='sortable' border='1'>
   <thead><tr><th>user_id</th><th>Name <small>(sortable)</small></th><th>username</th></tr></thead>
    <tbody>
    <% for (i=0; i < user_rows.length; i++) { %>
      <tr>
       <td align='center'><%= user_rows[i].user_id %></td>
       <td>
        <form method='GET' action='/users/<%= user_rows[i].user_id %>'>
          <button type='submit' class='btn btn-sm btn-link'><%= user_rows[i].last_name %>, <%= user_rows[i].first_name %></button>
        </form>
       </td>
       <td align='center'><%= user_rows[i].username %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
  </center>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
</body>
</html>
