/*http://jsfiddle.net/q3DQ2/*/
.tree {
    min-height:20px;
/*    padding:19px;*/
    padding: 5px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

    color: #333333;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
/*    padding: 19px;*/
}

.tree ul {
    margin: 0 0 1px 0px;
/*    margin-bottom: 1px;*/
    padding: 0;
}


.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
    line-height: 2ex;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

/*i.icon-plus-sign {background: url(../images/mktree/plus.gif)  }*/
i.icon-plus-sign {
    background: url("../images/mktree/plus.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
/*    text-top;*/
    width: 14px;
}
i.icon-minus-sign {background: url(../images/mktree/minus.gif)  }


[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/mktree/plus.gif");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
/*    vertical-align: text-top;*/
    vertical-align: middle;
    width: 14px;
}


/** From http://www.javascripttoolbox.com/lib/mktree/mktree.css */
/* Put this inside a @media qualifier so Netscape 4 ignores it */
/*@media screen, print { */
  /* Turn off list bullets */
/*  ul.mktree  li { list-style: none; } */
  /* Control how "spaced out" the tree is */
/*  ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }*/
  /* Provide space for our own "bullet" inside the LI */
/*  ul.mktree  li           .bullet { padding-left: 15px; }*/
  /* Show "bullets" in the links, depending on the class of the LI that the link's in */
/*  ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(../images/mktree/minus.gif)  center left no-repeat; }*/
/*  ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(../images/mktree/plus.gif)   center left no-repeat; }*/
/*  ul.mktree  li.liBullet  .bullet { cursor: default; background: url(../images/mktree/bullet.gif) center left no-repeat; }*/
  /* Sublists are visible or not based on class of parent LI */
/*  ul.mktree  li.liOpen    ul { display: block; }*/
/*  ul.mktree  li.liClosed  ul { display: none; }*/

  /* Format menu items differently depending on what level of the tree they are in */
  /* Uncomment this if you want your fonts to decrease in size the deeper they are in the tree */
/*
  ul.mktree  li ul li { font-size: 90% }
*/

/*}*/
