/*  SEARCH */


#input1_comparison{
  display: inline-block;
}
#input2_comparison{
  display: inline-block;
} 
#input3_comparison{
  display: inline-block;
}
.search_ds_result_box{
  list-style-type: none;
  text-decoration: none;
  border: 1px solid grey;
  background:#F0FFF0;
  height:100px;
  
  overflow:auto;
  font: small;
}

