/*  SEARCH */


#input1_comparison{
  display: inline-block;

}
#input2_comparison{
  display: inline-block;
}
#input3_comparison{
  display: inline-block;
}
.search_ds_result_box{
  list-style-type: none;
  text-decoration: none;
  border: 1px solid gray;
  background:#F0FFF0;
  height:100px;

  overflow:auto;
  font: small;
}
.grey_border {
	border:1px solid gray;
}
.my_custom_dropdown {
	/* Used or not on the index_search page */
	position:absolute;
	height:250px;
	width:200px;
	left:290px;
	top:190px;
	overflow:auto;
	background:white;
	border:1px solid black;
	list-style-type:decimal;
}

#blast_search_area {
	width:100%;

}
#search_choices_div {

}

#search_choices_div ul{
	list-style-type:none;

}
#search_choices_div ul li{
	display: inline;
}
.hover_table {
	height:200px;
	overflow:auto;

}
.hover_table td {
	padding:5px;

}
#geo_result {

}
#map {

  height: 400px;
  width: 100%;
}
