body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F8F8F8;  /* very light grey */
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}
#header {
    
    background:#a8b6c0 url('../images/helix100_6.png') left no-repeat;
    position:relative;
    top:0px;
    height:100px;
    z-index:-1;
}
.content {
    margin-left: 210px;  /* the menu is float left 200px */
}




/* CSSTerm.com Simple CSS menu */

.main_menu ul {
    float:left;
    margin: 0; 
    padding: 0;
    width:200px;
    list-style-type: none;
}

.main_menu ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.main_menu ul li a:visited {
    color: white;
}
 
.main_menu ul li a:hover, .main_menu ul li .current {
    color: white;
    background-color: #5FD367;
}