body {
  padding: 20px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F8F8F8;  /* very light grey */
}

h2 {
  margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}
#header {

    background:#a8b6c0 url('../images/helix100_6.png') left no-repeat;
    position:relative;
    top:0px;
    height:100px;
    border: 1px solid gray;
    z-index:-1;
}
#footer {
    font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content {
    margin: 0px 0 0 0px;  /* the menu is float left 200px */

    text-align:center;
}
.title {
    font-size:x-large;
    font-weight:bold;
    text-align:center;
    margin:1em 0 .5em 0
}
.title_color_viz {
  background:#1E90FF;
}
.title_color_portal {
  background:#800080;
  color:#E5E4E2;
}
.title_color_exp {
  background:#8FBC8F;
}
.subtitle {
    font-size:medium;
    text-align:center;
}
.lg_font {
    font-size: large;
}
.med_font {
    font-size: small;
}
.small_font {
    font-size: x-small;
}
.tiny_font {
    font-size: xx-small;
}
.bold_font {
   font-weight:bold;
}
.normal_weight {
   font-weight:normal;
}

/*.table {
    border:1px solid black;
    list-style-type: none;
    padding:10px;
}
.table ul {
    text-align:left;
    list-style-type: none;
}*/
.div_border {
  border:1px solid black;

}
.single_border {
    border-collapse:collapse;
}
.td_top {
 vertical-align:top;

}
.center {
    text-align:center;
}
.center_table {
  margin-left:auto;
  margin-right:auto;
}
.auto_height200 {
	height:200px;
	overflow:auto;
}
.border1 {
	border:1px solid black;
}
/* CSSTerm.com Simple CSS menu */

.color_red{
  color:red;
}
.color_blue{
  color:blue;
}
.right_justify {
  text-align:right;
}
td.right_justify {
  text-align:right;
}
.left_justify {
	text-align:left;
}
td.left_justify {
  text-align:left;
}
.main_menu  {

}
.main_menu ul {
    float:left;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main_menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;

    background-color: #005555;
    display:block;
}

.main_menu ul li a:visited {
    color: white;
}

.main_menu ul li a:hover, .main_menu ul li .current {
    color: black;
    background-color: #a8b6c0;
}
.float_right{

  float:right;
}

.metadata_selection_page_div_border {
  border:1px solid black;
  height: 430px;
  width:600px;
  overflow:auto;
  padding:5px;
  font: 11px Arial;
}
.unit_selection_page_div_border {
  border:1px solid black;
  height:420px;
  width:320px;
  overflow:auto;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.alert {
  visibility:hidden;
}

.alert_flash_message {
	font: bold 12px Arial;
	color: orange;
    position: absolute;
    left: 3em;
    /* top:65px; */
    top: 2.5em;
}

.alert_flash_message_success {
	font: bold 12px Arial;
	color: green;
	padding:5px;
	background:white;
    position: absolute;
    left: 3em;
    /* top:65px; */
    
}
.alert_flash_message_fail {
	font: bold 12px Arial;
	color: red;
	padding:5px;
	background:white;
/*    position: absolute;*/
    left: 3em;
    /* top:65px; */
    /* top: 1.0em; */
}

#project_profile_div ul{
  list-style-type: none;
  text-decoration: none;

  padding:5px;
}
.list_style_none li{
    list-style-type: none;
    text-decoration: none;
	padding:2px 5px;
}
#project_list_div {
  width:100%;
  height: 700px;
  overflow:auto;
}
#profile_dataset_list {
  height: 150px;
  overflow: auto;
  background: #F0F0F0;
  padding:3px;
  border: 1px solid grey;
}

 uploads form .btn-file {
    margin-left: 20px;
}
.dropdown-menu-your-datasets {
    width: 600px;

}
#projects_select_div {
    border: 1px solid gray;
    height: 500px;

    overflow:auto;
    font-size: small;
}
#projects_select_div ul li {

    list-style-type: none;

}
#projects_select_div ul .project-select {
    margin-left:-30px;
}
#projects_select_div ul .dataset-select {
    margin-left:-30px;
}
.project-select a {
  text-decoration: none;
  color: navy;
}
/* bootstrap tooltips (see project_index.html) */
.tooltip > .tooltip-inner {
    background-color: black;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 12px;
    max-width: 600px;
  }

.admin_table {

    border:1px solid black;
}
.admin_table td {

  padding:0px 2px;
  font-size:12px;

}
.admin_table td span{

    width:400px;
    display: inline-block;
}
.admin_table select {
  width:100px;
}
.admin_table_div {
  height:500px;overflow:auto;
}
.link_black{
  color:black;
}

.hr_cell {
    text-align:center;
}

/*  Custom top nav-bar color scheme */

.navbar-custom {
    background-color:lightblue;
    color:black;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:black;
}
.navbar-custom .navbar-nav > li > a:hover {
    color:white;
    background-color:grey;
}
.navbar-custom .navbar-nav > li > form > button {
    color:black;
}
.navbar-custom .navbar-nav > li > form > button:hover {
    color:white;
    text-decoration:none;
}
.navbar-custom .navbar-nav > .active > a {
    color: blue;
}
.navbar-custom .navbar-nav > .active > form > button {
    color: blue;
}
.navbar-custom .navbar-nav > li> form:hover {
    background-color:grey;

}
.btn-primary {
  color:white !important;
}
.mdata_box {
    height:300px;
    width:300px;
    overflow:auto;
    border:1px solid black;
}
.mdata_box ul{
  padding-left:20px;
  list-style-type: none;
}
.error_div {
  width:50%;
  height:100px;
  overflow:auto;
  background:coral;
  padding:10px;
  border:1px solid black;
}

.required_fields {
  background: yellow;
}

.header_divider {
  background: #C6D7E9;
}
