body {
  padding: 20px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F8F8F8;  /* very light grey */
}

h2 {
  margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}
#header {

    background:#a8b6c0 url('../images/helix100_6.png') left no-repeat;
    position:relative;
    top:0px;
    height:100px;
    border: 1px solid gray;
    z-index:-1;
}
#footer {
    font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content {
    margin: 0px 0 0 0px;  /* the menu is float left 200px */
   
    text-align:center;
}
.title {
    font-size:x-large;
    font-weight:bold;
    text-align:center;
    margin:.5em 0 .5em 0
}

.subtitle {
    font-size:medium;
    text-align:center;
}
.small_font {
    font-size: x-small;
}
.tiny_font {
    font-size: xx-small;
}
.bold_font {
   font-weight:bold;
}
.normal_weight {
   font-weight:normal;
}
.table {
    border:1px solid black;
    list-style-type: none;
    padding:10px;
}
.table ul {
    text-align:left;
    list-style-type: none;
}
.div_border {
  border:1px solid black;
  
}
.single_border {
    border-collapse:collapse;
}
.td_top {
vertical-align:top;

}
.center {
    text-align:center;
}
.center_table {
  margin-left:auto;
  margin-right:auto;
}
.auto_height200 {
	height:200px;
	overflow:auto;
}
.border1 {
	border:1px solid black;
}
/* CSSTerm.com Simple CSS menu */

.color_red{
  color:red;
}
td.right_justify {
  text-align:right;
}
.left_justify {
	text-align:left;
}
td.left_justify {
  text-align:left;
}
.main_menu  {
   
}
.main_menu ul {
    float:left;
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.main_menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
	
    background-color: #005555;
    display:block;
}

.main_menu ul li a:visited {
    color: white;
}

.main_menu ul li a:hover, .main_menu ul li .current {
    color: black;
    background-color: #a8b6c0;
}
.float_right{
  
  float:right;
}

.metadata_selection_page_div_border {
  border:1px solid black;
  height: 430px;
  width:320px;
  overflow:auto;
  padding:3px;
}
.unit_selection_page_div_border {
  border:1px solid black;
  height:420px;
  width:320px;
  overflow:auto;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.alert {
  visibility:hidden;
}
.alert_flash_message {
	font: bold 12px Arial;
	color:orange;
}
#project_profile_div ul{
  list-style-type: none;
  text-decoration: none;
  
  padding:5px;
}
#project_list_div {
  width:100%;
}
#profile_dataset_list {
  height: 150px;
  overflow: auto;
  background: #F0F0F0;
  padding:3px;
  border: 1px solid grey;
}

 uploads form 
.btn-file {
    margin-left: 20px;
}
/*
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
*/
