#domain_regions-legend {
    font-size: larger;
}

.submission_form_field {
    background-color: #ECECEC;
    display: block;

}

.overrides {
    padding-top: 0px !important;
}

table tr th {
    padding: 0 5px;
}

table tr td {
    text-align: center;
}