#domain_regions-legend {
    font-size: larger;
}

.submission_form_field {
    background-color: #EEEEEE;
    display: block;
}

.overrides {
    padding-top: 0px !important;
}

table tr th {
    padding: 0 5px;
}

table tr td {
    text-align: center;
}

.no_bullets_list {
    list-style-type: none;
}

.inline_bold_header {
    font-weight: bold;
}

.paragraph_no_pad {
    margin: 0;
    padding: 0;
}

.spacer5 {
    height: 5px;
}