/*=== Visualization === */
.display_none{
/*    hidden*/
    display:none;
}

#projects {
    border: 1px solid gray;
    width: 350px;
    height: 600px;
    overflow:auto;
}
#projects ul li {
    
    list-style-type: none;
}