
/*=== Visualization === */


.display_none {
    /* hidden */
    display:none;
}

.center{
    text-align:center;
}
#output_selection_div_id {
    border: 1px solid gray;
    list-style-type: none;
    width:100%;
    padding:5px;
    text-align:left;
}
#output_selection_div_id ul li {

    list-style-type: none;
    display:inline;
    text-align:left;
}



#view_selection_links {
    padding:0;
   
}
#view_selection_links li {
    
    /*width:350px;*/
    /*list-style-type: none;*/
    float: left;
    display: inline;
    padding:0 10px;
}
#viz_info {
    float:right;
}

#units_select_div {    
    overflow: auto;
}
#simpleTaxa {
    border: 1px solid gray;
    width: 350px;
    height: 500px;
    overflow: auto;
    padding-left: -30px;
    font-size: small;
}
#simpleTaxa ul li {
    list-style-type: none;
    margin-left: -30px;
}
#info_bar {
    position:fixed;
    background:darkgrey;
    border:1px solid black;
    top:50px;
    padding:0px 10px 5px 3px;
    opacity: 0.9;
    z-index:1;
}
#show_selected_datasets_div {
    
    
}
#dataset_names_div  {
    height: 150px;
    width:100%;
    overflow: auto;
    border:1px solid gray;

}
#dataset_names_div table tr td {
    padding:0 2px;

}
.tax_list li {
    margin-left:-15px;
}
.tax_select a:link {
    text-decoration: none;
}
.selection_info {
    background: #a8b6c0;
    border:1px solid black;
    list-style-type: none;
    font-size:11px;
    padding:3px;
    width: 450px;
    height:110px;
}
.choices_info {
    background: #a8b6c0;
    border:1px solid black;
    list-style-type: none;
    font-size:11px;
    padding:3px;
    width: 450px;
    height:110px;
}
.thumb_img {
    width:70px;
}

.viz_hidden_div {
	border:1px solid green;
    padding: 3px;
    height:20px;
    width:100%;
}
.overflow_500 {
	overflow:auto;
}
.button_row td{
	padding:2px;
}

/*  COUNTS TABLE */
.visualization_download_btn{
    
	
}
.close_open_btn{
    
}

/*  COUNTS TABLE */
#counts_matrix_div {
    
    margin-right:20px;
    padding-right:20px;
}
.counts_matrix {
    background: lightgray;
    font-size:small;
    border-collapse: collapse;
    margin-right:20px;
    padding-right:20px;
}
#counts_matrix_id td {
    border: 1px solid #ccc;
    padding:0 3px;

}
#counts_matrix_id .no_border {
    border: 0px solid #ccc;
    
}
#counts_matrix_id .tax_result {
    
    
}
#counts_matrix_id .tax_data {
    
    background: lightblue;
    
}
/*counts_matrix_id .verticalTableHeader {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(300deg);
    padding: 0 0 0 100px;
    
}*/
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(300deg);
  width: 30px;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration:none
}
th.rotate > div > span a:link, th.rotate > div > span a:visited {
  color:black;
  text-decoration:none;
}
th.rotate > div > span a:hover, th.rotate > div > span a:active {
  color:orange;
  text-decoration:none;
}

#tax_counts_graph_div {
    z-index: 1;
}
.axisLabel {
    position: absolute;
    font-size: 12px;
}
.xaxisLabel {
    bottom: 15px;
    left: 0;
    text-align: center;
    right: 0;
}
.graph_close_btn {
    bottom: 15px;
    right: 20px;
}
.graph_title {
    padding-left:5px;
}
/* METADATA TABLE */
#metadata_local_table_div{
    overflow:auto;
}
#metadata_table_div {
    margin-right:20px;
    padding-right:20px;
}
#metadata_table {
    font-size:small;
    background: #FFFFCC;
}
#metadata_table th {
    background: ivory;
}
#md_select_phrase1 {
    font-weight:bold;
}



/* PIECHARTS */
#piecharts_div {
   
}
/* BARCHARTS */
#barcharts_div {
   
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	   
}


/* Freq HEATMAP */
#fheatmap_div {
    margin-right:20px;
    padding-right:20px;
}
/* Dendrogram */
#dendrogram_div {
    margin-right:20px;
    padding-right:20px;
}
/* Dendrogram png */
#dendrogram_pdf_div {
    margin-right:20px;
    padding-right:20px;
}
/* PCoA */
#pcoa_div {
    margin-right:20px;
    padding-right:20px;
}
/* GeoSpatial */
#map-canvas {
    margin-right:20px;
    padding-right:20px;
}
/* GeoSpatial */
#cytoscape_div {
    margin-right:20px;
    padding-right:20px;
    width: 100%;
        height: 100%;
}
/* Frequency Heatmap */
#dheatmap_div {
    margin-right:20px;
    padding-right:20px;
}
.dhmcontainer {  display: table; }
.dhmrow {display: table-row;line-height: 14px; width: 14px; background:#FFF8DC;}
.dhmrow .num_cell {display: table-cell; line-height: 14px; width: 14px; border-bottom:1px solid black;border-right:1px solid black;}
.dhmrow .num_cell p {display: table-cell; font-size:xx-small; width: 14px; line-height: 14px; padding:0 1px;}
.dhmrow .name_cell {display: table-cell;line-height: 14px; width: 14px; text-align:right;border-bottom:1px solid black;}
.dhmrow .name_cell p {display: table-cell; font-size:xx-small; width: 14px; line-height: 14px; white-space: nowrap; text-align:right;}
.dhmrow .cell {display: table-cell; line-height: 14px; width: 14px; border-bottom:1px solid black;border-right:1px solid black;padding:0 7px;cursor:pointer;}

.blue {
    background:blue;
    color:white;
    padding:2px;
    display: inline-block;
   
}
.red {
    background:red;
    color:white;
    padding:2px;
    display: inline-block;
}
#ds_save_order_div {
    display: inline-block;
}
.heat_map_td{
  width: 15px ;
  height: 10px;
  cursor:pointer;
}
.cell {
    width: 15px;
}
.ds_cell {
   text-align:right;
    white-space: nowrap;
	padding:0 5px 0 5px;
}
.heatmap_table {
    border-collapse:collapse;
    font-size:10px;
}
.dragHandle{
  cursor:pointer;
}
#drag_table{
  background:#FFF8DC;
}
.no_data {
    color:red;
    font-size:large;
    text-align:center;
}
.well h5 {
	
	text-decoration: none  !important;
	
}
#show_visuals_links_div {
    width: 180px;
}

#show_visuals_links_div ul li {
    list-style-type: none;
    margin-left:-20px;
}


/* client side native jquery tooltips */
.tooltip{
   /* padding:5px 10px;
    background-color:lightsteelblue;
    border:0;
    border-radius:8px;
    position:absolute;
    z-index:9999;
    color:#0c0c0c;
    font-size:0.688em;
    min-width:100px;
    min-height:50px;*/
}


#livetip_chart {
  position: absolute;
  background-color: #cfc;
  border: 2px solid green;
  font-size:11px;
  padding:2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#livetip_pjds {
  position: absolute;
  background-color: #cfc;
  border: 2px solid green;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.tooltip_table td {
    padding:0 3px;
}
.chart_tooltip:hover{
    background:yellow;
}
.chart_row:hover{
    background:gray;
}


.chart_div {
    border: 1px solid black;
    width: 800px;
    padding:20px;    
}
.pcoa_chart_div {
    border: 1px solid black;
    width: 1100px;
    padding:20px;    
}
 .legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
/*mktree*/
/*http://jsfiddle.net/q3DQ2/*/
.tree {
  min-height:2ex;
    background-color:#fbfbfb;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

    color: #333333;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.well {
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.tree ul {
    margin: 0;
    padding: 0;
}


.tree li {
    list-style-type:none;
    margin-left: 2.8ex;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    bottom:50px;
    height:100%;
    top:0;
}
.tree li::after {
    height:20px;
    top:25px;
}
.tree li span {
    display:inline-block;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:3ex
/*    height:30px*/
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    color:#000
}

.tree>input {
  margin-left: 1.5ex;
}

i.icon-no-sign {
  background: #f5;
  display: inline-block;
}

i.icon-plus-sign {
    background: url("../images/tree_plus.gif") no-repeat;
    display: inline-block;
}
i.icon-minus-sign {
  background: url("../images/tree_minus.gif") no-repeat;  
/*  background: url("../images/mktree/plus.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  display: inline-block;
/*  line-height: 14px;*/
/*  margin-top: 1px;*/
/*    text-top;*/
/*  width: 14px;*/
  }


[class^="icon-"], [class*=" icon-"] {
    width: 1.9ex;
    height: 1.9ex;
}

.radiobox {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px; 
  padding-bottom: 10px;
}
#filters_table td{
   padding:3px;
}
#filters_table select{
   width:140px;
}
#loading_data_info_div {

    padding:24px;
    text-align:center;
    position:relative;

    background:#bdedff;
    border:1px solid black;
    width:60%;
    margin:auto;
    margin-top:20px;
}
#custom_treebox {
    border:1px solid black;
    padding:10px;
    overflow:auto;
    height:400px;
}
.dropdown_btn {
    color:black !important;
}
#projects_showing_div {
    margin-right:10px;
    padding:0 10px;
    border:1px solid green;

}
.clean_list li {

    list-style-type: none;   
}
.filter_note {
    font-size:large;
    color:red;
}
.taxa_name:hover .taxa_tooltip {
    display:block;
}

.taxa_tooltip {
    display: none;  /* NEW */
    border: 2px solid blue;
    border-radius:4px;
    color:black;
    background-color: #87CEEB;
    font-size:11px;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}
.taxa_tooltip li {    
    list-style-type: none;
    text-align:center;    
}
.taxa_tooltip a:link, .taxa_tooltip a:visited, .taxa_tooltip a:hover, .taxa_tooltip a:active {
    color:black;
       
}
#otu_select_div {
    height:500px;
    overflow:auto;
}
#seqs_table tbody tr td{
    font-size:small
}