
/*=== Visualization === */


.display_none {
  /*    hidden*/
    display:none;
}

.center{
    text-align:center;
}
#output_selection_div_id {
    border: 1px solid gray;
    list-style-type: none;
    width:100%;
    padding:5px;
    text-align:left;
}
#output_selection_div_id ul li {

    list-style-type: none;
    display:inline;

    text-align:left;
}
#projects_select_div {
    border: 1px solid gray;
    width: 350px;
    height: 500px;
    overflow:auto;
    font-size: small;
}
#projects_select_div ul li {

    list-style-type: none;

}
#projects_select_div ul .project-select {
    margin-left:-30px;
}
#projects_select_div ul .dataset-select {
    margin-left:-30px;
}
.project-select a {
  text-decoration: none;
  color: navy;
}
#units_select_div {
    
    overflow: auto;

}
#simpleTaxa {
    border: 1px solid gray;
    width: 350px;
    height: 500px;
    overflow: auto;
    padding-left: -30px;
    font-size: small;
}
#simpleTaxa ul li {
    list-style-type: none;
    margin-left: -30px;
}

#dataset_names_div  {
    height: 100px;
    width: 400px;
    overflow: auto;
    border:1px solid gray;

}

#dataset_names_div ul li {
    list-style-type: none;
    margin-left: -20px;

}
.tax_list li {
    margin-left:-15px;
}
.tax_select a:link {
    text-decoration: none;
}
.selection_info {
    background: OldLace;
    border:1px solid black;
    list-style-type: none;

    padding:3px;
    width: 400px;
}

.counts_table {
    background: yellow;
}
.heatmap_table {
    border-collapse:collapse;
    font-size:10px;
}
#show_visuals_links_div {
    width: 180px;
}
#show_visuals_links_div ul li {
    list-style-type: none;
    margin-left:-20px;
}
#barchart_tooltip {
    display:none;
    background:yellow;
    border: 2px solid green;
    font-size:14px;
    font-weight:normal;
    height:auto;
    width:auto;
    padding:15px 25px;
    color:black;    

