<% include ../add_ins/begin.ejs %>
<% var feat = JSON.parse(feature) %>
<% var mat = JSON.parse(material) %>
<% var biom = JSON.parse(biome) %>
<% //var loc = JSON.parse(location) %>
<script>
    var tg = JSON.parse('<%- target_gene %>');
    //alert(tg)
    var dom = JSON.parse('<%- domain %>');
    //var loc = JSON.parse('<%- location %>');
    var feat = JSON.parse('<%- feature %>');
    var mat = JSON.parse('<%- material %>');
    var biom = JSON.parse('<%- biome %>');
    var env_pack = JSON.parse('<%- env_package %>');
    var adap = JSON.parse('<%- adapter_sequence %>');
    var seqplat = JSON.parse('<%- sequencing_platform %>');
    var dnareg = JSON.parse('<%- dna_region %>');
    var run = JSON.parse('<%- run %>');
    var ps = JSON.parse('<%- primer_suite %>');
    var ii = JSON.parse('<%- illumina_index %>');
    var reqfields = JSON.parse('<%- req_md_fields %>');
</script>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
	
	
<div class="container">
<br>
	<div class="pull-left">
	    <% if(project){ %>
	        <h3>Metadata for project: <%=  project %></h3>
	    <% }else{ %>
	        <select id='project_select_id' onchange='get_metadata(this.value)'>
	        <option>Select Project</option>
	        <% for(n in owned_projects){ %>
	            <option><%= owned_projects[n] %></option>
	        <% } %>	
	        <select>
	    <% } %>				        
	</div>
	<div class='pull-left' >
	    <input type='button' id='edit_btn' disabled onclick="edit_form()" Value='Edit' style='visibility:hidden;'>
	</div>
	<div class='pull-left' >
	    <input type='button' id='save_btn' disabled onclick="save_form()" Value='Save' style='visibility:hidden;'>
	</div>
	<div id='metadata_table'></div>
</div>
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/metadata_add_to_project.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
   
 </body>
 </html>