<% include ../add_ins/begin.ejs %>
<% choices = JSON.parse(tax_choices); %>
<script defer>
  var choices_local  = JSON.parse('<%- tax_choices %>');
</script>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
	
	
	<div class="container">

	<div class="hero-unit">
	       <h3>Assign Taxonomy: <%= project %></h3>   
	       <h3>Choose Assignment Method Steps:</h3>   
	</div>
	<br>
  <div class="row">  
      <div class="col-lg-4">
				<h5>Step-1</h5>
				<br>Choose GAST, RDP or SPINGO for the assignment method.
				<br><br><a href='http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000255' target='_blank'>GAST citation</a>
				(Silva v119)
				<br><a href='http://aem.asm.org/content/73/16/5261' target='_blank'>RDP Classifier citation</a>
				(Greengenes)
				<br><a href='https://www.researchgate.net/publication/283155646_SPINGO_A_rapid_species-classifier_for_microbial_amplicon_sequences' target='_blank'>SPINGO citation</a>
		        (Greengenes)
		</div>
        <div class="col-lg-5">
            <h5>Step-2</h5> 
            <br><b>for GAST:</b> You will be asked to select the specific reference database which best fits your data. If you are unsure select the full-length RefSSU but be warned that it 
            is a large database and slow if there are many sequences or if they are extra long (ie more that a single region). 
            <br><b>for RDP:</b> Choose Silva, Greengenes or ITS
            <br><b>for SPINGO:</b> RDP (11.2) Experimental
        </div>
        <div class="col-lg-3">
            <h5>Step-3</h5> 
            <br>Press the start button
        </div>
	</div>


</div>
<br>
<div class="row"> 
    <div class="col-lg-4"> Start Here:
        <p>Choose Classifier Method:
        <select onchange='get_ref_dbs("<%= project %>",this.value)'  >
        <option>choose</option>
        <% for(classifier in choices){ %>
           
                <option><%=  classifier %></option>
           
        <% } %>
        </select>
    </div>
    <div class="col-lg-4">      
        <div id='refdb_id'></div>
    </div>
    <div class="col-lg-4">      
        <div id='start_btn_id'></div>
    </div>
</div>  











	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/user_data.js" defer></script>>
 </body>
 </html>