<% include ../add_ins/begin.ejs %>
<div class="title fa fa-anchor">DCO Metadata Editing</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<br>
<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<div class="well">	
	<ul>
		

		<h4>Place your DCO Specific Code Here</h4>
	</ul>
</div>
</div>	
</div>
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>