<% include ../add_ins/begin.ejs %>

<% var project_info = JSON.parse(pinfo) %>

<br>
 <div class='title'>Edit Project: <%= project %></div>
 <div class='subtitle'></div>

<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<% var env_source_id = project_info.config.GENERAL.env_source_id %>
<% // var env_source = env_hash[env_source_id] %>

<br>

<form name='edit_project_form' method='POST' action='/user_data/edit_project'>
	<% if(project_info.pid == 0){ %>
		<button class='pull-right btn btn-sm btn-primary' type='submit'>Save Changes</button>
	<% }else{ %>
		<button class='pull-right btn btn-sm btn-primary' type='submit'>Save Changes</button>
<!--
		<span class='pull-right'>Cannot Edit because project already has taxonomic assignments. 
			<button class=' btn btn-sm btn-primary' disabled type='submit'>Save Changes</button>
		</span>
-->
	<% } %>
	<a href='/user_data/your_projects'>&lt;&lt;--back</a>
	<table class='table table-condensed'>
		<tr><td></td><th>Values</th></tr>
		<tr><td>Project Name (max length 50 chars):</td><td><input type='text' name='new_project_name' maxlength="50" size='50' value='<%= project %>'></td></tr>
		
		
		<tr><td>Public:</td>
			<td>
			<% if(project_info.public == 1) { %>
				      <input type='radio' checked='checked' name='new_privacy' value='True' > public
				&nbsp;<input type='radio'                   name='new_privacy' value='False'> private
			<% }else{ %>
				      <input type='radio'                   name='new_privacy' value='True' > public
				&nbsp;<input type='radio' checked='checked' name='new_privacy' value='False'> private
			<% } %>
		</td></tr>
		<tr><td>Title (max length 100 chars):</td>
			<td><input type='text' name='new_project_title' maxlength="100" size='50' value='<%= project_info.title %>'></td>
		</tr>
		<tr><td>Description (max length 255 chars):</td>
			<td><textarea name='new_project_description' maxlength="255" rows='1' cols='50'><%= project_info.pdesc %></textarea></td>
		</tr>
	</table>
	<br>
	
	
	<h4><center>Datasets</center></h4>
	<table class='table table-striped'>
		<tr><td></td><th>Names</th><th>Enter New Description</th></tr>
	<% ds_counter = 1 %>
	<% for(d in project_info.dsets) { %>
		<tr><td><%= ds_counter %></td>
			<td><input type='text' name='new_dataset_names[]' maxlength="50" size='50' value='<%= project_info.dsets[d].name %>'>
					<input type='hidden' name='dataset_ids[]' maxlength="50" size='50' value='<%= project_info.dsets[d].did %>'>
			</td>
			<td><textarea name='new_dataset_descriptions[]' maxlength="255" rows='1' cols='50' ><%= project_info.dsets[d].ddesc %></textarea></td>
		</tr>
		<% ds_counter += 1 %>
	<% } %>
	</table>
	
	
	<input type='hidden' name='old_project_name' value='<%= project %>'>
	<input type='hidden' name='project_pid' value='<%= project_info.pid %>'>
</form>


<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/global.js" defer></script>>
<script type="text/javascript" src="/javascripts/bootstrap-select.js" defer></script>>
<script defer>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>