<% include ../add_ins/begin-no_menu.ejs %>

<%  var items  = JSON.parse(chosen_id_name_hash); %>
<%  var referer = 'export_data'; %>
<script>
  var ds_local  = JSON.parse('<%- chosen_id_name_hash %>');
  var user_local  = '<%= user.username %>';
</script>
  <div class='title'>Export Data</div>
  <div class='subtitle'>File Format Selection</div>

<a href='' onclick='javascript:window.history.back();return false;'>&lt;&lt;--back</a>
<% if(messages.info){ %>
  <div class="alert_flash_message"><%= message %></div>
<% } %> 

<div class='well'>
  <div class="row">
    <div  id='show_selected_datasets_div'  class="col-md-6">
                  <% include ../visuals/partials/show_selected_datasets.html %>   
    </div> <!-- End  show_selected_datasets_div -->
  </div>
</div>  <!-- /well -->

<button type='button' class='btn pull-right btn-sm btn-warning' id="get_graphics" name='get_graphics'>
    Get Files <span class="glyphicon glyphicon-circle-arrow-right" ></span> 
</button>

<table class='table'>
  <tr>
    <td>
          <table class='table table-striped table-condensed'>
            <tbody>
              <tr><td>
                <button class='btn btn-link'>Get Sequences (Fasta File)</button></td><td>Unique sequences with frequency count in defline.
              </td></tr>    
              <tr><td>
                <button class='btn btn-link'>Get TaxByTax File</button></td><td>Reads having the same taxonomic assignment are grouped<br>(coarsest grouping).
              </td></tr>        
              <tr><td>
                <button class='btn btn-link'>Get TaxByRef File</button></td><td>Reads with the best match to the same reference are grouped<br>(medium grouping).
              </td></tr>        
              <tr><td>
                <button class='btn btn-link'>Get TaxBySeq File</button></td><td>Reads having the exact same sequence are grouped<br>(finest grouping).
              </td></tr>        
              <tr><td>
                <button class='btn btn-link'>Get Metadata (CSV File)</button></td><td>Tab-separated mapping file.
              </td></tr>        
              <tr><td>
                <button class='btn btn-link'>Filter Datasets using Taxonomy</button></td><td>
              </td></tr>        
              <tr><td>
                <button class='btn btn-link'>Filter Datasets using Metadata</button></td><td>
              </td></tr>
            </tbody>
          </table>
    </td>
  </tr>
</table>


  
 <% include ../add_ins/end.ejs %>
  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/common_selection.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>
 
 </body>
 </html>