
<% include ../add_ins/begin-no_menu.ejs %>

<p class='title'>Export Data</p>

 


<table class='table'>
<thead>
	<tr><th>Dataset Selection:</th><th>Output Selection Options:</th></tr>
</thead>
<tbody>
	<tr>
		<td>
		<div id='projects_select_div' class=''>
			<% include ../visuals/all_projects_datasets_list.html %>
		</div>
	</td>
	<td>
		<table class='table table-striped'>
			<tbody>
				<tr><td>
					<button class='btn btn-link'>Get Sequences (Fasta File)</button></td><td>Unique sequences with frequency count in defline.
				</td></tr>		
				<tr><td>
					<button class='btn btn-link'>Get Sequences (TaxByTax File)</button></td><td>Reads having the same taxonomic assignment are grouped<br>(coarsest grouping).
				</td></tr>				
				<tr><td>
					<button class='btn btn-link'>Get Sequences (TaxByRef File)</button></td><td>Reads with the best match to the same reference are grouped<br>(medium grouping).
				</td></tr>				
				<tr><td>
					<button class='btn btn-link'>Get Sequences (TaxBySeq File)</button></td><td>Reads having the exact same sequence are grouped<br>(finest grouping).
				</td></tr>				
				<tr><td>
					<button class='btn btn-link'>Get Metadata (CSV File)</button></td><td>Tab-separated mapping file.
				</td></tr>				
				<tr><td>
					<button class='btn btn-link'>Filter Datasets using Taxonomy</button></td><td>
				</td></tr>				
				<tr><td>
					<button class='btn btn-link'>Filter Datasets using Metadata</button></td><td>
				</td></tr>
			</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/project_dataset_tree.js"></script>
</body>
</html>

