
<% include ../add_ins/begin-no_menu.ejs %>

<p class='title'>Export Data</p>

 Export Options:
<ul>
 <li><a href="#fasta">Fasta File</a> --Choose datasets and get all sequences</li>
 <li><a href="#metadata">Metadata</a> -- Choose datasets and get all metadata (csv)</li>
 <li><a href="#filter">Data Filter</a> --narrow sequences by taxonomy, metadata</li>

</ul>

<li>Should the fasta file be expanded out or just unique sequences?
<table class='table'>
<thead>
	<tr><th>Dataset Selection:</th><th>Output Selection:</th></tr>
</thead>
<tbody>
	<tr>
		<td>
		<div id='projects_select_div' class=''>
			<% include ../visuals/all_projects_datasets_list.html %>
		</div>
	</td>
	<td>
		<button>Fasta File</button>
		<br>
		<button>Metadata</button>
		<br>
		<button>Filter for Taxonomy</button>
		<br>
		<button>Filter for Metadata</button>
		<br>
	</td>
</tr>
</tbody>
</table>
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/project_dataset_tree.js"></script>
</body>
</html>

