
<% include ../add_ins/begin-no_menu.ejs %>

<p class='title'>Export Data</p>

 


<table class='table'>
<thead>
	<tr><th>Dataset Selection:</th><th>Output Selection:</th></tr>
</thead>
<tbody>
	<tr>
		<td>
		<div id='projects_select_div' class=''>
			<% include ../visuals/all_projects_datasets_list.html %>
		</div>
	</td>
	<td>
		<button>Get Sequences (fasta file)</button>
		
		<li>Should the fasta file be expanded out or just unique sequences?
		<br>
		<button>Get Metadata (csv file)</button>
		<br>
		<button>Filter Datasets using Taxonomy</button>
		<br>
		<button>Filter Datasets using Metadata</button>
		<br>
	</td>
</tr>
</tbody>
</table>
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/project_dataset_tree.js"></script>
</body>
</html>

