
<% include ../add_ins/begin.ejs %>

<% var file_info = JSON.parse(finfo) %>
<p class='title'>Export Data</p>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<br><strong>Your Downloads</strong>
<ol>

<% for(f in file_info.files){ %>
	<% var filename = file_info.files[f] %>
	<% var fileSizeInBytes = file_info.size[filename] %>
	<% var fileSize = (fileSizeInBytes).toFixed(1) %>
	<% var sizer = 'Bytes' %>
	<% if(fileSizeInBytes > 1000) { %>
		<% fileSize = (fileSizeInBytes / 1000.0).toFixed(1) %>
		<% sizer = 'KB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000.0).toFixed(1) %>
		<% sizer = 'MB' %>
	<% } %>
	<% if(fileSizeInBytes > 1000000000) { %>
		<% fileSize = (fileSizeInBytes / 1000000000.0).toFixed(1) %>
		<% sizer = 'GB' %>
	<% } %>

	<% parts = filename.split('_') %>
	
			
		<li>
			<ul>
				<li>File: <%= filename %><% sizer %>
				<li><%= fileSize %> <%= sizer %> | created: <%= file_info.mtime[filename] %>
				 
				<li><a href='file_utils?fxn=download&user=<%= user.username %>&type=fasta&filename=<%= filename %>' >download</a> | 
					<a href='file_utils?fxn=delete&user=<%= user.username %>&filename=<%= filename %>' >delete from the server</a>
			</ul>
		</li>
			
	
<% } %>
</ol>

<% include ../add_ins/end.ejs %>


