<% include ../add_ins/begin.ejs %>
<% var file_info = JSON.parse(finfo) %>
<div><a class='btn btn-xs btn-primary' href='/user_data/file_retrieval'>Reload Page</a></div>
<p class='title'>Download your Data Files</p>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br><strong>Your Downloads</strong> (click header to sort)

<table class='table sortable'>
	<thead>
	<tr><th></th><th>File Name</th><th>Size</th><th>Creation Time</th><th></th></tr>
  </thead>
  <tbody>
	<% for(t in file_info){ %>
		<% var filename = file_info[t].filename %>
		<% var fileSizeInBytes = file_info[t].size %>
		<% var fileSize = (fileSizeInBytes).toFixed(1) %>
		<% var sizer = 'Bytes' %>
		<% if(fileSizeInBytes > 1000) { %>
			<% fileSize = (fileSizeInBytes / 1000.0).toFixed(1) %>
			<% sizer = 'KB' %>
		<% } %>
		<% if(fileSizeInBytes > 1000000) { %>
			<% fileSize = (fileSizeInBytes / 1000000.0).toFixed(1) %>
			<% sizer = 'MB' %>
		<% } %>
		<% if(fileSizeInBytes > 1000000000) { %>
			<% fileSize = (fileSizeInBytes / 1000000000.0).toFixed(1) %>
			<% sizer = 'GB' %>
		<% } %>

		<% parts = filename.split('_') %>
	
			<tr>
				<td><%= parseInt(t)+1 %></td>
				<td>
					<a href='file_utils?fxn=download&user=<%= user.username %>&type=fasta&filename=<%= filename %>' ><%= filename %></a>
				</td>
				<td>
					<%= fileSize %> <%= sizer %>
				</td>
				<td>
					<%= file_info[t].time.toString().replace(/T/,' ').replace(/.000Z$/,'') %>
				</td>
				<td>	 
					<a href='file_utils?fxn=delete&user=<%= user.username %>&filename=<%= filename %>' >delete from the server</a>
				</td>
			</tr>
		
	<% } %>
</tbody>
</table>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
</body>
</html>

