<% include ../add_ins/begin.ejs %>

<p class='title'>Data Import Format Selection</p>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<% if (failmessage) { %>
	<div class="alert_flash_message"><%= failmessage %></div>
<% } %>
	

    <table>
        <tr><td>
            <form id='' class='' method='GET' action='import_data?type=simple_fasta'>
                <button type='submit' name='import_type' value='simple' class='' id=''>Go</button> Simple (single dataset) Fasta
            </form>	
        </td></tr>
        <tr><td>
            <form id='' class='' method='GET' action='import_data?type=multi_fasta'>
                <button type='submit' name='import_type' value='multi' class='' id=''>Go</button> Multi-Dataset Fasta
            </form>
            </td></tr>
                
        <tr><td><input type='radio' name='import_type' value='X' class='' id=''></td></tr>
        <tr><td><input type='radio' name='import_type' value='Y' class='' id=''></td></tr>
        <tr><td>
            <form id='' class='' method='GET' action='import_data?type=metadata'>
                <button type='submit' name='import_type' value='metadata' class='' id=''>Go</button> Metadata for your Established Project
            </form>
            </td><td>TODO</td></tr>
        <tr><td>
            <form id='' class='' method='GET' action='import_data?type=new_data'>
                <button type='submit' name='import_type' value='new_data' class='' id=''>Go</button> Import Aditional Data to your Established Project
            </form>
        </td><td>TODO</td></tr>
    </table>
    <button type='submit' name='' value='form_submitted' class='btn btn-xs' id=''>Go</button>

	


	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>