<% include ../add_ins/begin-no_menu.ejs %>

<p class='title'>Import Data</p>
<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<% if (failmessage) { %>
	<div class="alert_flash_message"><%= failmessage %></div>
<% } %>
	
	
	
	
<!-- ======================================================================================================== 
    Todo later: raw data processing (illumina -hiseq -miseq -newseq; 454)
    -->	
 
 <a href='/user_data/import_choices' >&lt;&lt;--back</a>
 <% if(import_type == 'simple_fasta') { %>
    
  <form class="form-horizontal" role="form" method='POST' action='upload_data' enctype="multipart/form-data">
    
	<h4>Import Simple (single dataset) Form: <small>(All fields are required)</small></h4>
	<div class="form-group">
      <label class="control-label col-sm-2" for="project">Project Name:</label>
	  <div class="col-sm-3">
        <input type="text" name='project' class="form-control" id="project" placeholder="Enter New Project Name">
      </div>
	  <small>(<a href='#'>required name format</a>)</small>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="meta">Dataset Name:</label>
      <div class="col-sm-3">          
        <input type="text" name='dataset' class="form-control" id="dset" placeholder="Enter Dataset Name">
      </div>
	  <small>(<a href='#'>required name format</a>)</small>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="fasta">Fasta File:</label>
      <div class="col-sm-3 btn">
        <input type="file" name='fasta' class="" id="fasta">
      </div>
	  <small>(<a href='#'>required file format</a>)</small>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="meta">Metadata File:</label>
      <div class="col-sm-3 btn">          
        <input type="file" name='metadata' class="" id="meta">
      </div><small>(<a href='#'>required file format</a>)</small> 
      <small>(<a href='/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv'>template of required metadata</a>)</small>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	<input type='hidden' name='type' value='single'>
  </form>
<% } else if(import_type == 'multi_fasta') { %>
<!-- ======================================================================================================== -->		
 
  <form class="form-horizontal" role="form" method='POST' action='upload_data' enctype="multipart/form-data">
	<h4>Import Multi-Dataset Form: <small>(All fields are required)</small></h4>
	<div class="form-group">
      <label class="control-label col-sm-2" for="project">Project Name:</label>
      
	  <div class="col-sm-3">
        <input type="text" name='project' class="form-control" id="project" placeholder="Enter New Project Name">
      </div><small>(<a href='#'>required name format</a>)</small>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="fasta">Fasta File:</label>
      <div class="col-sm-3 btn">
        <input type="file" name='fasta' class="" id="fasta" >
      </div><small>(<a href='#'>required file format</a>)</small>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="meta">Metadata File:</label>
      <div class="col-sm-3 btn">          
        <input type="file" name='metadata' class="" id="meta" >
      </div><small>(<a href='#'>required file format</a>)</small> 
      <small>(<a href='/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv'>template of required metadata</a>)</small>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	<input type='hidden' name='type' value='multi'>
  </form>
<!-- ======================================================================================================== -->		
<% } else if(import_type == 'metadata') { %>

  <form class="form-horizontal" role="form" method='POST' action='upload_data' enctype="multipart/form-data">
  	<h4>TODO: Add Metadata to a Project: <small>(All fields are required)</small></h4>
  	<div class="form-group">
        <label class="control-label col-sm-2" for="project">Project Name:</label>      
        <div class="col-sm-3">
          <select class=''>
			<option>select project name</option>
		  </select>   
	    </div>
  	</div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="meta">Metadata File:</label>
        <div class="col-sm-3 btn">          
          <input type="file" name='metadata' class="" id="meta" >
        </div><small>(<a href='#'>required file format</a>)</small>
        <small>(<a href='/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv'>template of required metadata</a>)</small>
    </div>
	
  	
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
	<input type='hidden' name='type' value='metadata' />
  </form>
<!-- ======================================================================================================== -->	
<% } else if(import_type == 'new_data') { %>
 
  <form class="form-horizontal" role="form" method='POST' action='upload_data' enctype="multipart/form-data">
  	<h4>TODO: Import New Datasets to Project: <small>(All fields are required)</small></h4>
  	<div class="form-group">
        <label class="control-label col-sm-2" for="project">Project Name:</label>      
        <div class="col-sm-3">
          <select class=''>
			<option>select project name</option>
		  </select>   
	    </div>
  	</div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="fasta">Fasta File:</label>
      <div class="col-sm-3 btn">
        <input type="file" name='fasta' class="" id="fasta" >
      </div><small>(<a href='#'>required file format</a>)</small>
    </div>
	<div class="form-group">
        <label class="control-label col-sm-2" for="meta">Metadata File:</label>
        <div class="col-sm-3 btn">          
          <input type="file" name='metadata' class="" id="meta" >
        </div><small>(<a href='#'>required file format</a>)</small>
        <small>(<a href='/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv'>template of required metadata</a>)</small>
    </div>
	
  	
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
	<input type='hidden' name='type' value='metadata' />
  </form>
<% } else { %>
    <br>Stuff to do here
<% } %>
	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>