<% include ../add_ins/begin.ejs %>


<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	<div class="container">
<br>
	<div class="hero-unit">
	       <h3>Metadata for project: <%=  project %></h3>				        
	</div>
	<% if(mdata == ''){ %>
			<br>** No Metadata Found **
	<% }else{ %>
	<% var headers = mdata.shift(); %>
	
  <div class="row">  
      <div class="col-lg-8" style='width:1200px;height:700px;overflow:auto;'>
				<table  class='table table-striped table-condensed table-bordered sortable'>
						<thead>
							<tr>
<% 						for(m in headers){ %>
								<th>
<%= 								headers[m] %>
								</th>
<% 						} %>
							</tr>
						</thead>
						<tbody>
<%  				for(x in mdata){ %>
							<tr>
<% 						var row = mdata[x] %>
<% 						for(z in row){ %>
								<td>
<%								if(row[z].length > 50){ %>
											<div style='height:50px;overflow:auto;'>
<%= 										row[z] %>
											</div>

<% 								}else{ %>
<%= 								row[z] %>
<% 								} %>
								</td>
<% 						} %>
							</tr>
<% 					} %>
						</tbody>
				</table>
			</div>			
	</div>
<% } %>
</div>


<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
   
 </body>
 </html>