<% include ../add_ins/begin.ejs %>

<br>
 <div class='title'>Metadata</div>
 <div class='subtitle'></div>

<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br>




<% if (add_project_info) {
  var owner_hash = add_project_info
} else {
  var add_project_info = {}
  var owner_hash = user
}%>


<!-- { 
new_project_name: 'new Name',
  new_env_source_id: '10',
  new_privacy: 'True',
  new_project_title: 'new Title &lt; % &amp; ! &quot; &#39;   find packages Search sign up or log in log in Notorious Public Menace npm E',
  new_project_description: '',
  new_funding: '000A',
  first_name: 'Ad dsf gd f',
  last_name: '',
  email: 'admin@ad@bb',
  new_institution: 'MBL' } -->

   <H3>Instructions:</H3>
   <ol>
   <li>
     Fields in yellow are mandatory; other unknown entries may be left blank.
   </li>
   <li>
     The parameter names listed below are from the MIGS/MIMS/MIMARKS project of the  Genomic Standards Consortium.
   </li>
   <li class="message">
     A range is not permitted for any value.
   </li>

<!-- <html>
   (1) General sample description
   <label for="email">Email:</label>
   <input type="email" id="email" name="email" placeholder="Enter your email address" />
   placeholder="Enter your full name" 
   
   <body> -->
      <form name='add_project_form' method='POST' action='/user_data/metadata_upload'>
      <!-- <form action="" method="post" enctype="multipart/form-data"> -->
         <fieldset id="general">
         <legend id="general-legend">General sample description</legend>
            <label for="title">Title of Project:</label>
            <input type="text" id="title" name="title" />
            <br />
            <label for="name">PI Name:</label>
            <input type="text" id="name" name="name"/>
            <br />            
            <label for="email">PI's email address:</label>
            <input type="email" id="email" name="email"/>
            <br />
            <label for="abstract">CoDL project abstract (.doc format):</label>
            <textarea id="abstract" name="abstract"></textarea>
            <br />
            <label for="reference">References for selected manuscripts published that describe the location:</label>
            <textarea id="reference" name="reference"></textarea>
            <br />   
          </fieldset>
          <fieldset id="parameters">
          <legend id="parameters-legend">Table of metadata parameters</legend>
          <!--cellpadding="1" cellspacing="1" border="1" -->
          <table class="normal_table" border="1">
            <thead>
              <!-- rowspan="1" colspan="3" -->
              <tr><td>Parameter</td><td>MBL Supplied or Optional
              </td></tr>
              <tr>
                <td  colspan="3"><label for="tr_general">General</label>
                </td>
              </tr>
            </thead>
            <tbody>
            <tr>
            	<td>
                <label for="project_name">VAMPS project name</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <!-- <input type="text" id="project_name" name="project_name" placeholder="DCO_AST"/> -->
              </td>
            </tr>
            <tr>
            	<td>
                <label for="dataset_name">VAMPS dataset name</label>
              </td>
              <td>MBL Supplied</td>
              <td>
                <!-- <input type="text" id="dataset_name" name="dataset_name" placeholder=""/> -->
              </td>
            </tr>
            <tr>
            	<td>
                <label for="sample_name">Sample ID (user sample name)</label>
              </td>
              <td>User Supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder=""/>
              </td>
            </tr>
            <tr>
            	<td>
                <label for="sample_name">DNA Extraction</label>
              </td>
              <td>User Supplied
              </td>
            	<td>
                <select>
                  <option value="MoBio Power Biomedical FAST DNA">MoBio Power Biomedical FAST DNA</option>
                  <option value="MoBio PowerSoil">MoBio PowerSoil</option>
                  <option value="MoBio Power Water">MoBio Power Water</option>
                  <option value="MoBio PowerBiofilm">MoBio PowerBiofilm</option>
                  <option value="MoBio UltraClean DNA isolation">MoBio UltraClean DNA isolation</option>
                  <option value="freeze-thaw,SDS,phenol-chloroform,ethano">freeze-thaw,SDS,phenol-chloroform,ethano</option>
                  <option value="Hot alkaline extraction">Hot alkaline extraction</option>
                  <option value="Fast DNA Soil Spin">Fast DNA Soil Spin</option>
                  <option value="CTAB phenol/chloroform">CTAB phenol/chloroform</option>
                  <option value="Qiagen Genomic DNA">Qiagen Genomic DNA</option>
                </select>
              </td>
            </tr>
            <tr>
            	<td>
                <label for="sample_name">DNA Quantitation</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <select>                
                  <option value="NanoQuant">NanoQuant</option>
                  <option value="NanoDrop">NanoDrop</option>
                  <option value="Fluorescent Microspheres">Fluorescent Microspheres</option>
                  <option value="Perfluorocarbon Tracers">Perfluorocarbon Tracers</option>
                  <option value="PicoGreen">PicoGreen</option>
                  <option value="Other">Other</option>
                </select>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Sample collection date (YYYY-MM-DD)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="2011-11-07"/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Latitude    (WGS84 system, values bounded by ±90°)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="-38.8897"/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Longitude    (values bounded by ±180°)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="-77.0089°"/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Country</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <!-- <input type="text" id="sample_name" name="sample_name" placeholder=""/> -->
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Longhurst Zone</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <!-- <input type="text" id="sample_name" name="sample_name" placeholder=""/> -->
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Biome <!-- - Primary --></label>
              </td>
              <td>User Supplied
              </td>
            	<td>
                <select>
                  <optgroup label="marine">
                    <option value="pelagic">pelagic</option>
                    <option value="bathyal">bathyal</option>
                    <option value="hadal">hadal</option>
                    <option value="neritic">neritic</option>
                    <option value="abyssal">abyssal</option>
                    <option value="continental margin">continental margin</option>
                  </optgroup>
                  <optgroup label="terrestrial">                  
                    <!-- <option value="Terrestrial List">Terrestrial List</option> -->
                    <option value="aquatic">aquatic</option>
                    <option value="freshwater lake">freshwater lake</option>
                    <option value="freshwater river">freshwater river</option>
                  
                  </optgroup>

                </select>
              </td>
            </tr>
            <!--http://stackoverflow.com/questions/32751810/html-nesting-select-options -->
<!--TODO: onChange to .js https://www.abeautifulsite.net/unobtrusive-jump-menus-using-javascript
            <script type="text/javascript">
                function initJumpMenus() {
                    // Turns all <select> elements with the 'jumpmenu' class into jump menus
                    var selectElements = document.getElementsByTagName("select");
                    for( i = 0; i < selectElements.length; i++ ) {
                        // Check for the class and make sure the element has an ID
                        if( selectElements[i].className == "jumpmenu" && document.getElementById(selectElements[i].id) != "" ) {
                            jumpmenu = document.getElementById(selectElements[i].id);
                            jumpmenu.onchange = function() {
                                if( this.options[this.selectedIndex].value != '' ) {
                                    // Redirect
                                    location.href=this.options[this.selectedIndex].value;
                                }
                            }
                        }
                    }
                }
                window.onload = function() {
                    initJumpMenus();
                }
            </script>
            
            
            -->
            <!-- <div class="DDStyle" id="Biomes" onChange="populatesecondary_biome()"> -->
            <!-- <div class="DDStyle" id="Biomes">
              Biomes :
              <select id="BiomesList" class="DDStyle" >
              </select>
            </div>
            <div id="secondary_biome" class="DDStyle">
              secondary_biome:
              <select id="secondary_biomeList" class="DDStyle">
              </select>
            </div> -->
            
            <!-- <tr>
              <td>
                <label for="sample_name">Biome - Secondary</label>
              </td>
              <td>User supplied
              </td>
              <td>
                <input type="text" id="sample_name" name="sample_name" placeholder=""/>
              </td>
            </tr>
            <tr> -->
            	<td>
                <label for="sample_name">Environmental Feature - Primary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="fracture"/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Environmental Feature - Secondary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder=""/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Environmental Material - Primary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="water"/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="sample_name">Environmental Material - Secondary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder=""/>
              </td>
            </tr>


<form name='add_project_form' method='POST' action='/user_data/add_project'>
  <!-- todo: back to from where was called -->
  <a href='/user_data/your_projects'>&lt;&lt;--back</a>
  <fieldset>
    <table class='table table-condensed'>
    <!--
    <tr>
      <th></th><th>Values</th>
    </tr>
    <tr>
    -->
      <td>
        <label for='name'>Project Name (max length 20 chars):</label>
      </td>
      <td>
        <input type='text' name='new_project_name'  maxlength='50' size='50' value='<%= add_project_info.new_project_name%>'>
      </td>
    </tr>
  

    <tr>
      <td><label for='public'>Public:</label>
      </td>
      <td>
        <input type='radio' checked='checked' name='new_privacy' value='True' > public
  &nbsp;<input type='radio'                   name='new_privacy' value='False'> private
      </td>
    </tr>
    <tr>
      <td>
        <label for='title'>Title (max length 100 chars):</label>
      </td>
      <td>
        <input type='text' name='new_project_title' maxlength='100' size='50' value='<%= add_project_info.new_project_title %>'>
      </td>
    </tr>
    <tr>
      <td>
        <label for='description'>Description (max length 255 chars):</label>
      </td>
      <td>
        <textarea name='new_project_description' maxlength='255' rows='1' cols='50' value='<%= add_project_info.new_project_description %>'></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <label for='description'>Funding:</label>
      </td>
      <td>
        <input type='text' name='new_funding' maxlength='50' size='50' value='<%= add_project_info.new_funding %>'>
      </td>
    </tr>
    </fieldset>

    <fieldset>
      <!--
        todo:
      1) add select if first, last and email are giving ?
      2) first time - from user, after re-render - from form

      -->
      <!-- center -->
      
      <tr><th colspan='2' class='hr_cell'>Owner (if different from the current user)</th></tr>
      <tr>
        <td><label for='first_name'>First Name:</label></td>
        <td><input type='text' readonly name='first_name' maxlength='100' size='50' value='<%= owner_hash.first_name %>'></td>
      </tr>
      <tr>
        <td><label for='last_name'>Last Name:</label></td>
        <td><input type='text' readonly name='last_name' maxlength='100' size='50' value='<%= owner_hash.last_name %>'></td>
      </tr>
      <tr>
        <td><label for='email'>Email:</label></td>
        <td><input type='text'  name='email' maxlength='100' size='50' value='<%= owner_hash.email %>'></td>
      </tr>
      <tr>
        <td><label for='institution'>Institution:</label></td><td>
        <input type='text'  name='new_institution' maxlength='100' size='50' value='<%= owner_hash.institution %>'></td>
      </tr>
    </fieldset>

  </table>
  <br>

  <!-- center -->
  <button class='btn btn-sm btn-primary' type='submit'>Submit</button>

</form>


<% include ../add_ins/end.ejs %>
<script type='text/javascript' src='/javascripts/global.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
<script>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>