<% include ../add_ins/begin_nomenu.ejs %>
<% md_env_pkg = JSON.parse(md_env_pkg) %>

<% md_env_term = JSON.parse(md_env_term) %>
<% md_sequencing_platform = JSON.parse(md_sequencing_platform) %>
<% md_target_gene = JSON.parse(md_target_gene) %>
<% md_domain = JSON.parse(md_domain) %>
<% md_dna_region = JSON.parse(md_dna_region) %>


<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>


	<div class="hero-unit">
	       <h2>VAMPS Required Metadata Terms
	         <small>(<a href='http://www.earthmicrobiome.org/emp-standard-protocols/metadata-guide/'>follows the Earth Microbiome Project metadata guide</a>)</small>
	       </h2>
	</div>

<div class="row">

      <div class="col-lg-3" >
      <br>
      <div class='mdata_box'>
        <ul>
        <li>Taxon_id (metagenome)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Tree&id=12908&lvl=3&srchmode=1&keep=1&unlock' target='_blank'>see NCBI Taxonomy Browser</a><br>
        <li>Description (of sample)<br>
        <li>Common_name<br>
        <li>Altitude<br>
        <li>Assigned_from_geo ('y' or 'n')<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-from geographic source?<br>
        <li>Collection_date <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format: YYYY-MM-DD<br>
        <li>depth (meters below surface)<br>
        <li>elevation (meters above sea level)<br>
        <li>latitude (decimal degrees)<br>
        <li>longitude (decimal degrees)<br>
        </ul>
      </div></div>

      <div class="col-lg-3" >
        ENV PACKAGE:<br>
	    <div class='mdata_box'>
			<ul>
			<% for(id in md_env_pkg){ %>
				<% if(md_env_pkg[id]){ %>
				  <li><%= id %> - <%= md_env_pkg[id] %></li>
				<% } %>
			<% } %>
			</ul>
	    </div></div>
    <div class="col-lg-3">
        COUNTRY: (<a href='http://ols.wordvis.com/ont=GAZ' target='_blank'>OLSVis lookup: GAZ</a>)<br>
        <div class='mdata_box'>
            <ul>
            <% for(id in md_env_term){ %>
				  <li><%= id %> - <%= md_env_term[id] %></li>
			<% } %>
			</ul>
        </div></div>
    <div class="col-lg-3">
        ENV TERMS: (<a href='http://ols.wordvis.com/ont=ENVO' target='_blank'>OLSVis lookup: ENVO</a>)<br>
        <div class='mdata_box'>
            <ul>
            <% for(id in md_env_term){ %>
				  <li><%= id %> - <%= md_env_term[id] %></li>
			<% } %>
			</ul>
        </div></div>



</div>
<br>
<div class="row">

 <div class="col-lg-3">
        SEQUENCING PLATFORM:<br>
        <div class='mdata_box'>
            <ul>
            <% for(id in md_sequencing_platform){ %>
				  <li><%= id %> - <%= md_sequencing_platform[id] %></li>
			<% } %>
			</ul>
        </div></div>

    <div class="col-lg-3">
        TARGET GENE:<br>
        <div class='mdata_box'>
            <ul>
			        <% for(id in md_target_gene){ %>
							  <li><%= id %> - <%= md_target_gene[id] %></li>
							<% } %>
						</ul>
        </div></div>
    <div class="col-lg-3">
        DOMAIN:<br>
        <div class='mdata_box' >
            <ul>
			        <% for(id in md_domain){ %>
							  <li><%= id %> - <%= md_domain[id] %></li>
						  <% } %>
						</ul>
        </div></div>
   <div class="col-lg-3">
        DNA REGION:<br>
        <div class='mdata_box' >
            <ul>
            <% for(id in md_dna_region){ %>
							<% if(md_dna_region[id]){ %>
							  <li><%= id %> - <%= md_dna_region[id] %></li>
							<% } %>
						<% } %>
						</ul>
        </div></div>
	</div>
<br>
</div>


<% include ../add_ins/end.ejs %>

 </body>
 </html>
