<% include ../add_ins/begin.ejs %>

<% var pnames = pnames %>
<% var project_info = JSON.parse(pinfo) %>
<% var env = JSON.parse(env_sources) %>

 <div class='title'>Projects (user: <%= user.username %>)</div>
 <div class='subtitle'></div>
<% if (failmessage) { %>
	<div class="alert_flash_message"><%= failmessage %></div>
<% } %>
<% if (successmessage) { %>
	<div class="alert_flash_message"><%= successmessage %></div>
<% } %>
<div class='left_justify'>
<br><strong>Your Projects:</strong>
<br>
<ol>
<% if(pnames.length === 0) { %>
	<p>No Projects</p>
<% } else { %>

	<% for(t in pnames){ %>
		<% var project = project_info[pnames[t]].config.GENERAL.project %>
		<% var number_of_datasets = project_info[pnames[t]].config.GENERAL.number_of_datasets %>
		<% var total_number_of_sequences = project_info[pnames[t]].config.GENERAL.project_sequence_count %>
		<% var public = project_info[pnames[t]].config.GENERAL.public %>
		<% var env_source_id = project_info[pnames[t]].config.GENERAL.env_source_id %>
		<% var env_source = env[env_source_id] %>
		
		<% var datasets = project_info[pnames[t]].config.DATASETS %>
		<% var tax_status = project_info[pnames[t]].tax_status %>
		<% var classified_by = project_info[pnames[t]].classified_by %>
	
		<div class='well'>			


    		<table class='table table-condensed'>
    			<tr>	
    				<% if(project_info[pnames[t]].pid == 0){ %> 
                        <td>
                            Project name: <strong><%= project %></strong>  <small>( <%= number_of_datasets %> datasets )</small> 
                        </td>
    				    <td></td>                        
                        <td>
                            Status: <span class="label label-warning"><strong><%= tax_status %></strong></span>
                        </td>     
                        
					<% }else{ %>
                        <td>
                            Project name: <strong><%= project %></strong>  <small>( <%= number_of_datasets %> datasets )</small> 
                            <br><small>(id: <%= project_info[pnames[t]].pid %>)</small>
                        </td>
                        <td></td>   
						<td>
                            Status: <span class="label label-success"><strong><%= tax_status %></strong></span>                            
                            <br>Taxonomy Assigned By: <strong><%= classified_by %></strong>
				        </td>   
                        
				   <% } %>
                        <td>
                            <div class="dropdown pull-right">
                              <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Options
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="edit_project/<%= project %>">Edit Project Information</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_info/<%= project %>">View Datasets and Counts</a></li> 
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_metadata/<%= project %>">View Metadata</a></li>
                                <li role="presentation" class="divider"></li>                               
                                <% if(classified_by == 'none'){ %>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/GAST/SILVA108_FULL_LENGTH">Assign Taxonomy - GAST (Silva108)</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/GAST/GG_MAY2013">Assign Taxonomy - GAST (GreenGenes May2013)</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/RDP/2.10.1">Assign Taxonomy - RDP (2.10.1)</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/RDP/GG_MAY2013">Assign Taxonomy - RDP (GreenGenes May2013)</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/RDP/ITS1">Assign Taxonomy - RDP (UNITE-ITS)</a></li>
                                <% }else{ %>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Cluster</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/tax">Delete Taxonomy Only</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/meta">Delete Metadata Only</a></li>    
                                <% } %>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="duplicate_project/<%= project %> ">Duplicate this Project</a></li>   
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/all">Delete this Project from Server</a></li>                       
                              </ul>
                            </div>
                        </td>   

    			</tr><tr>
    				<td>Raw Sequence Count: <strong><%= total_number_of_sequences %></strong></td>
    				<td>Public: 
    					<% if(public == 'False'  ){ %>
    						<strong>NO</strong>
    					<% }else{ %>
    						<strong>YES</strong>
    					<% } %>
    				</td>
                    <td>
                        Environmental Source: <strong><%= env_source %></strong>
                    </td>    				
                    <td>                        
                                              
                    </td>
    			</tr>
    		</table>			
						
    	

		</div>  <!-- end well -->
	
	<% } %>  <!-- end for(t in creation_times) -->
<% } %>
</ol>
</div>


<script type="text/javascript" src="/javascripts/global.js"></script>

<% include ../add_ins/end.ejs %>
   
 </body>
 </html>