<% include ../add_ins/begin.ejs %>

<p class='title'>Data Administration</p>

	<div id='' class='well col-sm-12'>
		
		  <div class="col-sm-4">
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="btn btn-sm btn-primary" href='/user_data/import_data'>Import Data</a>
						<small>(account required)</small>
		              </div>
		              <div class="panel-body">
		                Allows you to upload sequence data and metadata to the VAMPS database for viewing in the community visualization pages.
		              </div>
		            </div>
			</div>
			<div class="col-sm-4">
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="btn btn-sm btn-primary" href='/user_data/export_data'>Export Data</a>
						<small>(account required)</small>
		              </div>
		              <div class="panel-body">
		              	
		              </div>
		            </div>
			</div>
			<div class="col-sm-4">
				
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="btn btn-sm btn-primary" href='/user_data/file_retrieval'>File Retrieval</a>
						<small>(account required)</small>
		              </div>
		              <div class="panel-body">
		              	
		              </div>
		            </div>
		    </div>
			<div class="col-sm-4">
				
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="btn btn-sm btn-primary" href='/visuals/saved_datasets'>View Saved Datasets</a>
						<small>(account required)</small>
		              </div>
		              <div class="panel-body">
		              	List of saved selections of VAMPS datasets. You can view the datasets, use them in the visualizations
						or delete the group. To create a new list go <a href='visuals/index_visuals'>here</a> to select
						the data then save them on the following (unit_selection) page.
						
		              </div>
		            </div>
		    </div>
			<div class="col-sm-4">
				
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="btn btn-sm btn-primary" href='/user_data/your_projects'>View Your Projects</a>
						<small>(account required)</small>
		              </div>
		              <div class="panel-body">
		              	Assign taxonomy, view or delete your uploaded project data.
		              </div>
		            </div>
		    </div>
	</div>	


	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>