<% include ../add_ins/begin.ejs %>

<% var creation_times = modify_times %>
<% var project_info = JSON.parse(pinfo) %>
<% var env = JSON.parse(env_sources) %>

  <div class='title'><%= user.username %>'s Projects</div>
  <div class='subtitle'></div>
<% if (deletemessage) { %>
	<div class="alert_flash_message"><%= deletemessage %></div>
<% } %>
<% if (successmessage) { %>
	<div class="alert_flash_message"><%= successmessage %></div>
<% } %>
<div class='left_justify'>
<br><strong>Your Projects:</strong> (most recent at the top)
<br>
<ol>
<% if(creation_times.length === 0) { %>
	<p>No Projects</p>
<% } else { %>

	<% for(t in creation_times){ %>
		<% var project = project_info[times[t]].config.GENERAL.project %>
		<% var number_of_datasets = project_info[times[t]].config.GENERAL.number_of_datasets %>
		<% var total_number_of_sequences = project_info[times[t]].config.GENERAL.project_sequence_count %>
		<% var public = project_info[times[t]].config.GENERAL.public %>
		<% var env_source_id = project_info[times[t]].config.GENERAL.env_source_id %>
		<% var env_source = env[env_source_id] %>
		<% var tax = project_info[times[t]].config.GENERAL.has_tax %>
		<% var datasets = project_info[times[t]].config.DATASETS %>
	
		<div class='well'>
		
		
			
		<table class='table'>
			<tr>	
				<td>Project name: <%= project %>  <small>( <%= number_of_datasets %> datasets )</small> 
				</td>
				<td></td>
				<td></td>
				<td><a href="#" class="pull-right">edit</a></td>
			</tr><tr>
				<td>Total Number of Sequences: <%= total_number_of_sequences %></td>
				<td>Public: <%= public %></td>
				<td>Environmental Source: <%= env_source %></td>
				<td>Taxonomy: <%= tax %></td>
			</tr>
		</table>			
						
			
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Selection
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_info/<%= project %>">View Datasets and Counts</a></li>
	    
			<li role="presentation"><a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/gast">Assign Taxonomy -GAST</a></li>
		
			<li role="presentation"><a role="menuitem" tabindex="-1" href="start_assignment/<%= project %>/rdp">Assign Taxonomy -RDP</a></li>
		
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cluster</a></li>
	    
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete Taxonomy</a></li>
	    
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete this Project from Server</a></li>
		  </ul>
		</div>
				
	
								  
								  

	
						
			
					
		</div>
	

	<% } %>
<% } %>
</ol>
</div>


<script type="text/javascript" src="/javascripts/global.js"></script>




	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>