<% include ../add_ins/begin.ejs %>

<% var pnames = pnames %>
<% var project_info = JSON.parse(pinfo) %>


<div class='pull-right'>
    <a href="/user_data/add_project" class='btn btn-sm btn-primary'>Add New Project</a>
</div>

 <div class='title'>Projects (user: <%= user.username %>)</div>
 <div class='subtitle'></div>

<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>

<div class='left_justify'>
<br><strong>Your Projects:</strong>
<br>

<% if(pnames.length === 0) { %>
	<p>No Projects</p>
<% } else { %>


    <table class='table table-striped'>
    		    <thead>
    		    <tr><th>Name</th><th>Status</th><th>Dataset Count</th><th>Sequence Count</th><th>Options</th></tr>
    		    </thead>
    		    <tbody>
    		    
    		    
	<% for(t in pnames){ %>
		<% var p = pnames[t] %>
		<% var pass_fail = 'pass' %>
		<% var project = p %>
		
		<% var number_of_datasets = project_info[p].status.ds_count %>
		<% var total_number_of_sequences = project_info[p].status.seq_count %>
		<% var public = project_info[p].public %>
		<% var env_source_id = project_info[p].env_source_id %>
		
		<% var datasets = project_info[p].DATASETS %>
		<% var status = project_info[p].status.taxonomy %>
		<% var classified_by = project_info[p].classified_by %>
		<% var validation_codes = project_info[p].validation %>
	    
	    <% var missing_files = [] %>
	    <% for(n in validation_codes){ %>
	    <%      if(validation_codes[n] == false) { %>
	    <%          pass_fail = 'fail' %>
	    <%          missing_files.push(n)  %>
	    <%      } %>
	    <% } %>
				


    		
    		    
    <tr>
        <td><%= p %></td>
        <td><%= status %></td>
        <td><%= number_of_datasets %></td>
        <td><%= total_number_of_sequences %></td>
        <% if(project_info[p].status.empty_dir == 'true') { %>
            
            <td>
                <div class="dropdown">
                      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Options
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="import_choices?project=<%= project %>">Add Data</a></li>
                        <li role="presentation">    
                                <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/all">Delete Project</a></li>   
                                      
                      </ul>
                </div>
            </td>
            
        <% }else{ %>
        
            <% if(pass_fail == 'fail') { %>
                    <td>
                        <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" style='color:red' id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            FAILED VALIDATION
                            <span class="caret"></span>
                        </button>
        
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="label" > Missing Files:</li>
                        <% for(n in missing_files){ %>
                            <li role="presentation" role="menuitem"> <%= missing_files[n] %></li>
                        <% } %>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/all">Delete this Project from Server</a></li> 
                        </ul>
                        </div>
        
                    </td>
            <% }else{ %>
                <td>
    
                    <div style='color:green;font-size:x-small;'>Validation:OK</div>
                    <div class="dropdown">
                      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Options
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="edit_project/<%= project %>">View/Edit Project Information</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_info/<%= project %>">View Datasets and Counts</a></li> 
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_metadata/<%= project %>">View Metadata</a></li>
                        <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="user_project_validation/<%= project %>">Validate Project</a></li> -->
                        <li role="presentation" class="divider"></li>                               
                        <% if(classified_by == 'none'){ %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="assign_taxonomy/<%= project %>">Assign Taxonomy</a></li>
                            <li role="presentation" class="divider"></li>
                        <% }else{ %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">Cluster</a></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/tax">Delete Taxonomy Only</a></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/meta">Delete Metadata Only</a></li> 
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/select">Delete Datasets from Project</a></li>   
                        <% } %>
                            <!-- 
                                <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="duplicate_project/<%= project %> ">Duplicate this Project</a></li>   
             
                            <li role="presentation" class="divider"></li>
                            -->
                            <li role="presentation">    
                                <a role="menuitem" tabindex="-1" href="delete_project/<%= project %>/all">Delete Entire Project</a></li>                    
                      </ul>
                    </div>
                </td>   
                <% } %>
            <% } %>



    </tr>
    				
						
	
	<% } %>  <!-- end for(t in names) -->
	</tbody>
    		</table>	
<% } %>  <!-- end else-->




</div>


<script type="text/javascript" src="/javascripts/global.js"></script>

<% include ../add_ins/end.ejs %>
   
 </body>
 </html>