<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">




<p class='title'>Search</p>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<a href='/search/search_index'>Back to Available Searches</a>
<!-- BLAST SEARCH --><a name="blast"></a>
<br><br>
<div class='container'>
  <div class='row'>
    <div class="col-lg-12">
        <div id='blast_search_div' class='well'><strong>Local Blast</strong>
            <div class='pull-right'>
                <a href='make_a_blast_db'>How to make a blast database</a>
            </div>
            <% if(blast_db_path){ %>	
                <form method='POST' action='/search/blast_search_result'>
                <table class='table'>
                    <tr><td>
                                    
                                <ul>
                                        <div class="">Enter a complete or partial fasta sequence 
                                            (with or without definition line ie: TGACATTGAGAGAATCCGCTAGAAATAGTGGAGTGTCTAACTTGCTAG)
                                          
                                            <textarea id="blast_search_area" class="" name='query' rows='5' cols="10" ></textarea>
                                            <br><button class='btn btn-xs btn-primary' type='submit'>BLAST</button>				  	  	
                                        </div>
                                </ul>
                                <input type='hidden' name='blast_db_path' value='<%= blast_db_path %>'>				  
                  
                        </td><td>
                        <div>
                    
                            <table>
                                <tr><td>Select a Database:</td></tr>
                                <tr><td>
                            <input type='radio' name='region' value='v1v3' /> v1v3<br>
                                </td><td>
                            <input type='radio' name='region' value='v3'   /> v3<br>
                                </td></tr>
                                <tr><td>
                            <input type='radio' name='region' value='v3v5' /> v3v5<br>
                                </td><td>
                            <input type='radio' name='region' value='v4'   /> v4<br>
                                </td></tr>
                                <tr><td>
                            <input type='radio' checked name='region' value='v6'   /> v6<br>
                                </td><td>
                            <input type='radio' name='region' value='v4v6' /> v4v6<br>
                                </td></tr>
                                <tr><td>
                            <input type='radio' name='region' value='its'  /> ITS
                                </td>
                            </tr>
                            </table>
                        </div>
                    </td></tr>
                </table>
                </form>
            <% }else{ %>
                        No Blast Database Found
            <% } %>
        </div>

</div>
</div>
</div>




	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/search.js"></script>   
 </body>
 </html>