<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
<script defer>
var accessToken = '<%- token %>'
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">

<p class='title'>Search</p>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<center><strong>For Datasets by Geographic Range</strong></center>
<a href='/search/search_index'>Back to Available Searches</a>

<br><br>

<form method='POST' action='geo_search'>




<div class="col-lg-12">
        <table border='0'>
        <tr><td style='padding:3px;'>
            <strong>Drag the pins in the map below to select a geographic range.</strong><br><br>
                    <table id='latlon_table' border='1' >
                    <tr><td nowrap>NW: <span id='NWbox'></span></td><td nowrap>NE: <span id='NEbox'></span></td></tr>
                    <tr><td nowrap>SW: <span id='SWbox'></span></td><td nowrap>SE: <span id='SEbox'></span></td></tr>
                    </table>
            <div>Hover over map to show latitudes and longitudes <br><span id='coord'></span></div>
        </td>
        <td style='padding:3px;'>
            <div id='geo_search_div' class='well'>
                Or Find datasets within a geographic range by entering latitude and longitude values here:<br>
                <small>Values must be in decimal degrees (not degree;minutes;seconds) ~~ like '-10.2' or '45.23459'. Use the map below for help.</small>
                <li>Enter Latitude Range
                  &nbsp;&nbsp;&nbsp;Min: <input id='' name='lat_min' type='text' size='10' maxlength='10' style='height:20px'>
                  &nbsp;&nbsp;&nbsp;Max: <input id='' name='lat_max' type='text' size='10' maxlength='10' style='height:20px'>
                  <small>Lat: negative numbers south of the equator.</small>
                </li>
                
                
                <li>Enter Longitude Range
                  &nbsp;&nbsp;&nbsp;Min: <input id='' name='lon_min' type='text' size='10' maxlength='10' style='height:20px'>
                  &nbsp;&nbsp;&nbsp;Max: <input id='' name='lon_max' type='text' size='10' maxlength='10' style='height:20px'>
                  <small>Long: negative numbers west of the prime meridian.</small>
                </li>
                
                <input class='pull-right' type='button' value='Search' onclick='validate_lat_lon(this.form)'>
                <br>
            </div>    
        </td>
        
        </tr>
        </table>
</div>


<div class="col-lg-7">        
        <div id="mapid" style="height:600px;" ></div>
</div>
<div class="col-lg-5">
        <div id='geo_result'></div>
</div>
       
</div> 


</form>


<% include ../add_ins/end.ejs %>

<script type="text/javascript" src="/javascripts/global.js" defer></script>>
<script type="text/javascript" src="/javascripts/search.js" defer></script>>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin="">   
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js" defer></script>>
<script defer>
		var mapOptions = {          
          id: 'mapbox.streets',
          accessToken: accessToken
        };
		var mymap = L.map('mapid').setView([0, 0], 2) 
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',mapOptions).addTo(mymap); 
        var oms = new OverlappingMarkerSpiderfier(mymap);
		//$(document).ready(function(){
		initMap({})
		//});
</script>
</body>
</html>
