<% ranks = JSON.parse(ranks) %>
<% phyla = JSON.parse(phyla) %>
<% include ../add_ins/begin.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">




<p class='title'>Search</p>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>


<a href='/search/search_index'>Back to Available Searches</a>
<!-- TAXONOMY SEARCH --><a name="geo_by_tax"></a>
<br><br>
<div class='container'>
  <div class='row'>
    <div class="col-lg-12">
<form id='' name='' method='POST' action='geo_by_tax_search'>
<div  class='well'>

		    <strong>Taxonomy (silva119)</strong>

				
		    <ul>
		       <li>Select the rank you want then choose the taxon name from the "Available Names" list:
		    </ul>
	
			<div class="row">	
				

				<div class="col-md-7">
				  <table>
				  <tr><td style='padding:10px;'>Select Rank:<br>
				  <select  name='rank' onchange="get_taxa_name(this.value)">
                      <% for(i in ranks){ %>
                         <option><%= ranks[i] %></option>
                      <% } %>
				  </select>
				  </td>
				  
				  <td style='padding:10px;'>Available Names: 
					<div id='availible_tax_names'>
					<select name='tax'>
                      <% for(i in phyla){ %>
                         <option><%= phyla[i] %></option>
                      <% } %>
				    </select>
					</div>
				  </td></tr>
				  </table>	
				</div>
					
								
		  </div>
		  <div  style='padding-left:400px;'>
            <input type='submit' value='Submit'>
          </div>
</div>
</form>
</div>
</div>
</div>
	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/search.js"></script>   
 </body>
 </html>