<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
<script>
var accessToken = '<%- token %>'
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">

<p class='title'>Search</p>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>


<a href='/search/search_index'>Back to Available Searches</a>

<br><br>


<div class="col-lg-1"></div>
<div class="col-lg-10">
      <form method='POST' action='geo_search'>
      <div id='geo_search_div' class='well'>
				<h4>Drag the pin(s) in the map below to select a geographic range.</h4>
        <h5>Or<br>Find datasets within a geographic range by entering latitude and longitude values here:<br>
        <small>Values must be in decimal degrees (not degree;minutes;seconds) -- like '-10.2' or '45.23459'. Use the map below for help.</small></h5>
        <li>Enter Latitude Range
          &nbsp;&nbsp;&nbsp;Min: <input id='' name='lat_min' type='text' size='16' maxlength='10'>
          &nbsp;&nbsp;&nbsp;Max: <input id='' name='lat_max' type='text' size='16' maxlength='10'>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Latitude: negative numbers south of the equator and positive numbers north of the equator.</small>
        <br>
        <li>Enter Longitude Range
          &nbsp;&nbsp;&nbsp;Min: <input id='' name='lon_min' type='text' size='16' maxlength='10'>
          &nbsp;&nbsp;&nbsp;Max: <input id='' name='lon_max' type='text' size='16' maxlength='10'>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Longitude: negative numbers west of the prime meridian and positive numbers east of the prime meridian.</small>
        <input class='pull-right' type='button' value='Search' onclick='validate_lat_lon(this.form)'>
      </div>

      </form>
</div>
</div>

<br>

<div class="col-lg-1"></div>
<div class="col-lg-11">
				<table id='latlon_table' border='1' >
				<tr><td nowrap>NW: <span id='NWbox'></span></td><td nowrap>NE: <span id='NEbox'></span></td></tr>
        	    <tr><td nowrap>SW: <span id='SWbox'></span></td><td nowrap>SE: <span id='SEbox'></span></td></tr>
				</table>
        <div>Hover over map to show latitudes and longitudes <span id='coord'></span></div>
        
</div>

 
<div class="col-lg-1"></div>
<div class="col-lg-11">
<table>
<tr>
    <td><div id="mapid" style="height:600px;width:800px"></div></td>
    <td valign="top"><div id='geo_result'></div></td>
</tr>
</table>
</div>






<% include ../add_ins/end.ejs %>

<script type="text/javascript" src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/search.js"></script>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin="">
   
</script>
<!-- <script type="text/javascript" src="/javascripts/oms.min.jsXXX"></script> -->
<script>
		var mapOptions = {          
          id: 'mapbox.streets',
          accessToken: accessToken
        };
		var mymap = L.map('mapid').setView([0, 0], 2)
		 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',mapOptions).addTo(mymap); 

		//$(document).ready(function(){
		    initMap({}, accessToken)
		//});
</script>
</body>
</html>
