<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">




<p class='title'>Search</p>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<center><strong>For Names (key word search)</strong></center>
<a href='/search/search_index'>Back to Available Searches</a>
<!-- NAMES SEARCH --><a name="names"></a>
<br><br>


<!-- PROJECT SEARCH --><a name="project"></a>
<br><br>
<div class='container'>
  <div class='row'>
    <div class="col-lg-12">
        <div id='project_search_div' class='well'>
            
    
            <li>Project name, title, description
            <li>Dataset name, dataset description
                <br><br>
            <div class="row">
                    <div class="dropdown col-md-1"></div>

                    <div class="dropdown col-md-4">
                      Type Partial Name or Key Word (3 chars minimum): 
                      <input id="project_search_id" class="" autocomplete="off" data-toggle="dropdown" type="text"  onkeyup="showProjectResult(this.value)"/>
                      <ul id='livesearch_project_dropdown' class="dropdown-menu" aria-labelledby="dropdownMenu1" style='visibility:hidden'>
                        <div id="livesearch_project" class=""></div>
                      </ul>
                    </div>
            </div>

        </div>
</div>
</div>
</div>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/global.js" defer></script>>
<script type="text/javascript" src="/javascripts/search.js" defer></script>>
 </body>
 </html>
