<% menu_section='SEARCH' %>
<% include ../add_ins/begin.ejs %>
<% if (messages.success) { %>
	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
<div class="title fa fa-anchor">Search</div>
<div class="row">
<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<br>
		<div class="well">
			
			
			<li>
				<a href="taxonomy" >Taxonomy (Default: silva119)</a>
			</li>
			<li>
				<a href="names" >Find Project/Dataset Names (key words)</a>
			</li>
			<li>
				<a href="users" >Find Users</a>
			</li>
			<li>
				<a href="metadata/byname">Find Datasets by Metadata Name(s)</a>
			</li>
			<li>
				<a href="geo" >Find Datasets by Geographic Range</a>
			</li>
			<li>
				<a href="geo_by_tax" >Find Geographic Range of Datasets by Taxonomic Names</a>
			</li>
			<li>
				<a href="geo_by_meta_values" >Find Geographic Range of Datasets by Metadata Values</a> (<span style='color:orange'>not ready yet</span>)
			</li>
			<li>
				<a href="blast" >Blast Partial Sequences</a>
			</li>
		</div>
	</div>
</div>




<% include ../add_ins/end.ejs %>

</body>
</html>
