<% if (all_metadata) { %>

<table #fixed_col_wrap>
    <tbody>
    <tr>
        <td id="firstTd">
        </td>
        <td>
            <div id="divHeader" style="overflow:hidden; width: 30em; ">
                <!--<table cellspacing="0" cellpadding="0" border="1" >-->
                    <!--<tr>-->
                        <!--<td ><div class="tableHeader">Title1</div></td><td><div class="tableHeader">Title2</div></td><td><div class="tableHeader">Title3</div></td><td><div class="tableHeader">Title4</div></td><td><div class="tableHeader">Title5</div></td>-->
                    <!--</tr>-->
                <!--</table>-->
            </div>
        </td>
    </tr>

    <tr>
        <td valign="top">
            <div id="firstcol_div" >
                <table id="first_col_table">
                    <tbody>
                    <!-- all_metadata -->
                    <!-- for each project  -->
                    <% for (var key in all_metadata) { %>
                        <% if (all_field_names) { %>
                        <!-- for each field name  -->
                        <% for (var idx in all_field_names) {
                            field_name = all_field_names[idx][0]
                        %>
                        <tr>
                        <!--first column  -->
                        <% include first_column.ejs %>
                        <!-- second column: MBL or user supplied -->
                        <td><%= all_field_names[idx][2] %></td>
                        <% } %>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </td>
        <td valign="top">
            <!--<div id="table_div" onscroll="fnScroll()" >-->
            <div id="table_div">

            <table id="fixed_table_base" >
                <tbody>
                    <% for (var key in all_metadata) { %>
                    <% if (all_field_names) { %>
                    <!-- for each field name  -->
                    <% for (var idx in all_field_names) {
                        field_name = all_field_names[idx][0]
                    %>
                    <tr>
                        <% for (var did in all_metadata[pid]["dataset_id"]) { %>
                        <% include third_column.ejs %>
                        <% } %> <!-- for (var did in all_metadata[pid]["dataset_id"])  -->
                    </tr>
                        <% } %>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
    </tr>
    <tfoot>
    <tr>
        <td><button type="button" id="addrow">Add Row</button> <button type="button" id="removerow">Remove Row</button></td>

    </tr>
    </tfoot>
    </tbody>
</table>
<% } %>
