<!-- if dividers  -->
<% if (dividers.indexOf( all_field_names[idx][1] ) != -1) { %>
<td nowrap colspan="<%= all_field_names.length%>" class="header_divider">
<!-- TODO: show the second column instead, if any -->
<!-- if required  -->
<% } else if (metadata_form_required_fields.indexOf( all_field_names[idx][1] ) != -1) { %>
  <td nowrap class="required_fields">
<% } else { %>
  <td nowrap>
<% } %>
  <label for=<%= all_field_names[idx][0] %>/><%= all_field_names[idx][1] %></label>
</td>
