<% include ../add_ins/begin.ejs %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
<script defer>
  var mditem = '<%= md_item %>'
  var metadata_info_local   = JSON.parse('<%- mdinfo %>')
  var md_local   = metadata_info_local.metadata
  var token = '<%- token %>'  // https://leafletjs.com
</script>

<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
	Distribution of datasets that have "<%= md_item %>" as a metadata item. Hover over the map markers to see the values.
	<div id="map-canvas" style="height:800px;"></div>
	<!-- <div class="container">

      <div id='map-canvas' class='map'></div>
	
	</div> -->


<% include ../add_ins/end.ejs %>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin="">   
</script>

<script src="/javascripts/metadata.js" defer></script>>
<script defer>
  create_geospatial()
</script>
</body>
</html>

