<% include ../add_ins/begin.ejs %>

<script>  
  var mditem = '<%= md_item %>'
  var metadata_info_local   = JSON.parse('<%- mdinfo %>')
  var md_local   = metadata_info_local.metadata
  //var zoom_level = metadata_info_local.zoom
</script>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	Distribution of datasets that have "<%= md_item %>" as a metadata item. Hover over the map markers to see the values.
	
	<div class="container">

      <div id='map-canvas' class='map'></div>
	
	</div>


<% include ../add_ins/end.ejs %>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= gekey %>&callback=create_geospatial"></script>
<script src="/javascripts/metadata.js"></script>


</body>
</html>

