<% include ../add_ins/begin.ejs %>

<br>
 <div class='title'>Metadata</div>
 <div class='subtitle'></div>

<% if (edit_metadata_info) { %>
<%
} else {
  var edit_metadata_info = {}
} %>

<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
<% var myArray = messages.fail %>
<div class="alert_flash_message_fail" >
  <ul>
  <% myArray.forEach(function(value){ %>
    <li>
      <%= value %>
    </li>
  <% }); %>
  </ul>
</div>
<% }%>
<br>

<!--TODO: move to constants -->
<% var my_dna_extraction_meth_options = ["MoBio Power Biomedical FAST DNA",
"MoBio PowerSoil",
"MoBio Power Water",
"MoBio PowerBiofilm",
"MoBio UltraClean DNA isolation",
"freeze-thaw,SDS,phenol-chloroform,ethano",
"Hot alkaline extraction",
"Fast DNA Soil Spin",
"CTAB phenol/chloroform",
"Qiagen Genomic DNA"]

var dna_quantitation_options = ["NanoQuant",
"NanoDrop",
"Fluorescent Microspheres",
"Perfluorocarbon Tracers",
"PicoGreen",
"Other"]
%>


<H3>Instructions:</H3>
<ol>
<li>
 Fields in yellow are mandatory; other unknown entries may be left blank.
</li>
<li>
 The parameter names listed below are from the MIGS/MIMS/MIMARKS project of the  Genomic Standards Consortium.
</li>
<li class="message">
 A range is not permitted for any value.
</li>

<form name='add_project_form' method='POST' action='/metadata/metadata_upload'>
<!-- <form action="" method="post" enctype="multipart/form-data"> -->
  <fieldset id="general" class="required_fields" >
  <legend id="general-legend">General sample description</legend>
  <label for="project_title">Title of Project:</label>
  <input type="text" id="project_title" name="project_title"  value='<%= edit_metadata_info.project_title %>'/>
  <br />
  <label for="pi_name">PI Name:</label>
  <input type="text" id="pi_name" name="pi_name"  value='<%= edit_metadata_info.pi_name %>'/>
  <br />
  <label for="project_name">VAMPS project name (MBL Supplied)</label>
  <% if (all_metadata) { %>
    <% for (var pid in all_metadata) {%>
          <input type="text" id="project_name" readonly name="project_name" placeholder="DCO_GAI_Bv3v5" value='<%= all_metadata[pid].project %>'/>
    <%}%>
  <%
  } else { var all_metadata = {} %>
    <input type="text" id="project_name" readonly name="project_name" placeholder="DCO_GAI_Bv3v5"/>
  <%}%>
  <br />
  <label for="pi_email">PI's email address:</label>
  <input type="email" id="pi_email" name="pi_email"  value='<%= edit_metadata_info.pi_email %>'/>
  <br />
  <label for="project_abstract">CoDL project abstract (.doc format):</label>
  <textarea id="project_abstract" name="project_abstract"  placeholder= '<%= edit_metadata_info.project_abstract %>'></textarea>
  <br />
  <label for="references">References for selected manuscripts published that describe the location:</label>
  <textarea id="references" name="references"  placeholder='<%= edit_metadata_info.references %>'></textarea>
  <br />
  </fieldset>
  <fieldset id="parameters">
    <legend id="parameters-legend">Table of metadata parameters</legend>
    <!--cellpadding="1" cellspacing="1" border="1" -->
    <table class='table table-condensed'>
      <thead>
        <!-- rowspan="1" colspan="3" -->
      </thead>
      <tbody>
        <% if (all_metadata) { %>
          <% for (var pid in all_metadata) {%>
        <% if (all_field_names) { %>
          <% for (var idx in all_field_names) {%>
          <tr>
          	<td>
              <label for=<%= all_field_names[idx][1] %>/><%= all_field_names[idx][1] %></label>
            </td>
            <!-- adapter_sequence -->

            <td><%= all_field_names[idx][2] %></td>

                <% for (var did in all_metadata[pid]) {
                  d_info = all_field_names[idx][0]
                    if (dividers.indexOf( all_field_names[idx][1] ) != -1) {
                    %>
                      <td></td>
                    <% } else if (all_field_names[idx][1] === "DNA Extraction") { %>
                      <!-- <td class="required_fields"> -->
                      <td>
                        <select id="dna_extraction_meth" name="dna_extraction_meth">
                          <% my_dna_extraction_meth_options.forEach(function(value){ %>
                            <option value="<%= value %>"
                              <% if (value == edit_metadata_info.dna_extraction_meth) {%>
                              selected
                             <% } %>
                             ><%= value %></option>
                          <% }); %>
                        </select>
                      </td>
                    <% } else if (all_field_names[idx][1] === "DNA Quantitation") { %>
                      <!-- <td class="required_fields"> -->
                      <td>
                        <select id="dna_quantitation" name="dna_quantitation">
                          <% dna_quantitation.forEach(function(value){ %>
                            <option value="<%= value %>"
                              <% if (value == edit_metadata_info.dna_quantitation) {%>
                              selected
                             <% } %>
                             ><%= value %></option>
                          <% }); %>
                        </select>
                      </td>
                    <% } else if (all_field_names[idx][1] === "Biome - Primary") { %>
                      <!-- <td class="required_fields"> -->
                      <td>
                        <select id="biome_primary<%- did%>" name="biome_primary" class = "biome_primary">
                          <% biome_primary.forEach(function(value){ %>
                            <option value="<%= value %>"
                              <% if (value == edit_metadata_info.biome_primary) {%>
                              selected
                             <% } %>
                             ><%= value %></option>
                          <% }); %>
                        </select>
                      </td>
                    <% } else if (all_field_names[idx][1] === "Biome - Secondary") { %>
                      <!-- <td class="required_fields"> -->
                      <td>
                        <select id="biome_secondary<%- did %>" name="biome_secondary" class="biome_secondary">
                          <% biome_secondary_marine.forEach(function(value){ %>
                            <option value="<%= value %>"
                              <% if (value === edit_metadata_info.biome_secondary_marine) {%>
                              selected
                             <% } %>
                             ><%= value %></option>
                          <% }); %>
                        </select>
                      </td>
<!--feature -->
                      <% } else if (all_field_names[idx][1] === "Environmental Feature - Primary") { %>
                        <!-- <td class="required_fields"> -->
                        <td>
                          <select id="feature_primary<%- did%>" name="feature_primary" class = "feature_primary">
                            <% feature_primary.forEach(function(value){ %>
                              <option value="<%= value %>"
                                <% if (value == edit_metadata_info.feature_primary) {%>
                                selected
                               <% } %>
                               ><%= value %></option>
                            <% }); %>
                          </select>
                        </td>
                      <% } else if (all_field_names[idx][1] === "Environmental Feature - Secondary") { %>
                        <!-- <td class="required_fields"> -->
                        <td>
                          <select id="feature_secondary<%- did %>" name="feature_secondary" class="feature_secondary">
                            <% feature_secondary_aquifer.forEach(function(value){ %>
                              <option value="<%= value %>"
                                <% if (value === edit_metadata_info.feature_secondary_aquifer) {%>
                                selected
                               <% } %>
                               ><%= value %></option>
                            <% }); %>
                          </select>
                        </td>
<!--feature end  -->
<!-- Environmental Material -->
                      <% } else if (all_field_names[idx][1] === "Environmental Material - Primary") { %>
                        <!-- <td class="required_fields"> -->
                        <td>
                          <select id="material_primary<%- did%>" name="material_primary" class = "material_primary">
                            <% material_primary.forEach(function(value){ %>
                              <option value="<%= value %>"
                                <% if (value == edit_metadata_info.material_primary) {%>
                                selected
                               <% } %>
                               ><%= value %></option>
                            <% }); %>
                          </select>
                        </td>
                      <% } else if (all_field_names[idx][1] === "Environmental Material - Secondary") { %>
                        <!-- <td class="required_fields"> -->
                        <td>
                          <select id="material_secondary<%- did %>" name="material_secondary" class="material_secondary">
                            <% material_secondary_biofilm.forEach(function(value){ %>
                              <option value="<%= value %>"
                                <% if (value === edit_metadata_info.material_secondary_biofilm) {%>
                                selected
                               <% } %>
                               ><%= value %></option>
                            <% }); %>
                          </select>
                        </td>
<!--material end  -->
                    <% } else { %>
                      <td>
                        <input type="text" id="<%= all_metadata[pid][did][d_info] %>" name="<%= all_metadata[pid][did][d_info] %>" value='<%= all_metadata[pid][did][d_info] %>'/>
                      </td>
                  <%}%>
                <%}%>
          </tr>
          <% } %>
        <% } else { %>

        <% } %>
              <%}%>
            <%
            } else {
              var all_metadata = {}
            } %>
  </table>
<br>

<!-- center -->
<button class='btn btn-sm btn-primary' type='submit'>Submit</button>

</form>


<% include ../add_ins/end.ejs %>
<script type='text/javascript' src='/javascripts/global.js'></script>
<script type='text/javascript' src='/javascripts/metadata.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
</script>
</body>
</html>