
<% include ../add_ins/begin.ejs %>

<p class='title'>All Metadata List</p>
<a href='/metadata/metadata'>&lt;&lt;--back</a>
<table class='table table-striped table-condensed sortable'>
	<thead>
		<tr><th>Name</th></tr>
	</thead>
	<tbody>
		<% for(i in metadata){ %>
			<tr>
				<td><%= metadata[i] %></td>
				<td><a href='list_result/<%= metadata[i] %>'>View Values</a></td>
				<td><a href='geomap/<%= metadata[i] %>'>View Map</a></td>
			</tr>
		<% } %>
	</tbody>
</table>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
</body>
</html>