<% include ../add_ins/begin.ejs %>

<br>
 <div class='title'>Metadata</div>
 <div class='subtitle'></div>

<% if (edit_metadata_info) { %>
<% 
} else {
  var edit_metadata_info = {}
  
} %>


<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
<% var myArray = messages.fail %>
<div class="alert_flash_message_fail" >
  <ul>
  <% myArray.forEach(function(value){ %>
    <li>
      <%= value %>
    </li>
  <% }); %>
  </ul>
</div>
<% }%>
<br>

<% var my_dna_extraction_meth_options = ["MoBio Power Biomedical FAST DNA", 
"MoBio PowerSoil", 
"MoBio Power Water", 
"MoBio PowerBiofilm", 
"MoBio UltraClean DNA isolation", 
"freeze-thaw,SDS,phenol-chloroform,ethano", 
"Hot alkaline extraction", 
"Fast DNA Soil Spin", 
"CTAB phenol/chloroform", 
"Qiagen Genomic DNA"]%>

<ul>
<% my_dna_extraction_meth_options.forEach(function(value){ %>
  <li>
    <%= value %>
  </li>
<% }); %>
</ul>





   <H3>Instructions:</H3>
   <ol>
   <li>
     Fields in yellow are mandatory; other unknown entries may be left blank.
   </li>
   <li>
     The parameter names listed below are from the MIGS/MIMS/MIMARKS project of the  Genomic Standards Consortium.
   </li>
   <li class="message">
     A range is not permitted for any value.
   </li>

      <form name='add_project_form' method='POST' action='/metadata/metadata_upload'>
      <!-- <form action="" method="post" enctype="multipart/form-data"> -->
         <fieldset id="general" class="required_fields" >
         <legend id="general-legend">General sample description</legend>
            <label for="project_title">Title of Project:</label>
            <input type="text" id="project_title" name="project_title"  value='<%= edit_metadata_info.project_title %>'/>
            <br />
            <label for="pi_name">PI Name:</label>
            <input type="text" id="pi_name" name="pi_name"  value='<%= edit_metadata_info.pi_name %>'/>
            <br />            
            <label for="pi_email">PI's email address:</label>
            <input type="email" id="pi_email" name="pi_email"  value='<%= edit_metadata_info.pi_email %>'/>
            <br />
            <label for="project_abstract">CoDL project abstract (.doc format):</label>
            <textarea id="project_abstract" name="project_abstract"  placeholder= '<%= edit_metadata_info.project_abstract %>'></textarea>
            <br />
            <label for="references">References for selected manuscripts published that describe the location:</label>
            <textarea id="references" name="references"  placeholder='<%= edit_metadata_info.references %>'></textarea>
            <br />   
        </fieldset>
        <fieldset id="parameters">
          <legend id="parameters-legend">Table of metadata parameters</legend>
          <!--cellpadding="1" cellspacing="1" border="1" -->
          <table class='table table-condensed'>
            <thead>
              <!-- rowspan="1" colspan="3" -->
              <tr><td>Parameter</td><td>MBL Supplied or Optional
              </td></tr>
              <tr>
                <td  colspan="3"><label for="tr_general">General</label>
                </td>
              </tr>
            </thead>
            <tbody>
            <tr>
            	<td>
                <label for="project_name">VAMPS project name</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <input type="text" id="project_name" readonly name="project_name" placeholder="DCO_AST" value='<%= edit_metadata_info.project_name %>'/>
              </td>
            </tr>
            <tr>
            	<td>
                <label for="dataset_name">VAMPS dataset name</label>
              </td>
              <td>MBL Supplied</td>
              <td>                
                <!-- <input type="text" id="dataset_name" name="dataset_name" placeholder="" value='<%= edit_metadata_info.dataset_name %>'/> -->
              </td>
            </tr>
            <tr>
            	<td class="required_fields">
                <label for="sample_name">Sample ID (user sample name)</label>
              </td>
              <td>User Supplied
              </td>
            	<td>
                <input type="text" id="sample_name" name="sample_name" placeholder="" value='<%= edit_metadata_info.sample_name %>'/>
              </td>
            </tr>
            <tr>
            	<td class="required_fields">
                <label for="dna_extraction_meth">DNA Extraction</label>
              </td>
              <td>User Supplied
              </td>
            	<td>
<!--TODO: add selected value from edit_metadata_info -->
                <select id="dna_extraction_meth" name="dna_extraction_meth">
                  
                  <% my_dna_extraction_meth_options.forEach(function(value){ %>
                    <option value="<%= value %>"><%= value %></option>
                  <% }); %>
                  <!-- <option value="MoBio Power Biomedical FAST DNA">MoBio Power Biomedical FAST DNA</option>
                  <option value="MoBio PowerSoil">MoBio PowerSoil</option>
                  <option value="MoBio Power Water">MoBio Power Water</option>
                  <option value="MoBio PowerBiofilm">MoBio PowerBiofilm</option>
                  <option value="MoBio UltraClean DNA isolation">MoBio UltraClean DNA isolation</option>
                  <option value="freeze-thaw,SDS,phenol-chloroform,ethano">freeze-thaw,SDS,phenol-chloroform,ethano</option>
                  <option value="Hot alkaline extraction">Hot alkaline extraction</option>
                  <option value="Fast DNA Soil Spin">Fast DNA Soil Spin</option>
                  <option value="CTAB phenol/chloroform">CTAB phenol/chloroform</option>
                  <option value="Qiagen Genomic DNA">Qiagen Genomic DNA</option> -->
                </select>
              </td>
            </tr>
            <tr>
            	<td class="required_fields">
                <label for="dna_quantitation">DNA Quantitation</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <select id="dna_quantitation" name="dna_quantitation">                
                  <option value="NanoQuant">NanoQuant</option>
                  <option value="NanoDrop">NanoDrop</option>
                  <option value="Fluorescent Microspheres">Fluorescent Microspheres</option>
                  <option value="Perfluorocarbon Tracers">Perfluorocarbon Tracers</option>
                  <option value="PicoGreen">PicoGreen</option>
                  <option value="Other">Other</option>
                </select>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="collection_date">Sample collection date (YYYY-MM-DD)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="collection_date" name="collection_date" placeholder="2011-11-07" value='<%= edit_metadata_info.collection_date %>'/>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="latitude">Latitude (WGS84 system, values bounded by ±90°)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="latitude" name="latitude" placeholder="-38.8897" value='<%= edit_metadata_info.latitude %>'/>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="longitude">Longitude    (values bounded by ±180°)</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="longitude" name="longitude" placeholder="-77.0089°" value='<%= edit_metadata_info.longitude %>'/>
              </td>
            </tr>

            <tr>
            	<td>
                <label for="geo_loc_name_country">Country</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <!-- <input type="text" id="geo_loc_name_country" name="geo_loc_name_country" placeholder="" value='<%= edit_metadata_info.geo_loc_name_country %>'/> -->
              </td>
            </tr>

            <tr>
            	<td>
                <label for="longhurst_zone">Longhurst Zone</label>
              </td>
              <td>MBL Supplied
              </td>
            	<td>
                <!-- <input type="text" id="longhurst_zone" name="longhurst_zone" placeholder="" value='<%= edit_metadata_info.longhurst_zone %>'/> -->
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="biome">Biome <!-- - Primary --></label>
              </td>
              <td>User Supplied
              </td>
            	<td>
                <select id="biome" name="biome">
                  <optgroup label="marine">
                    <option value="pelagic">pelagic</option>
                    <option value="bathyal">bathyal</option>
                    <option value="hadal">hadal</option>
                    <option value="neritic">neritic</option>
                    <option value="abyssal">abyssal</option>
                    <option value="continental margin">continental margin</option>
                  </optgroup>
                  <optgroup label="terrestrial">                  
                    <!-- <option value="Terrestrial List">Terrestrial List</option> -->
                    <option value="aquatic">aquatic</option>
                    <option value="freshwater lake">freshwater lake</option>
                    <option value="freshwater river">freshwater river</option>
                  
                  </optgroup>

                </select>
              </td>
            </tr>
            <!--http://stackoverflow.com/questions/32751810/html-nesting-select-options -->
<!--TODO: onChange to .js https://www.abeautifulsite.net/unobtrusive-jump-menus-using-javascript
            <script type="text/javascript">
                function initJumpMenus() {
                    // Turns all <select> elements with the 'jumpmenu' class into jump menus
                    var selectElements = document.getElementsByTagName("select");
                    for( i = 0; i < selectElements.length; i++ ) {
                        // Check for the class and make sure the element has an ID
                        if( selectElements[i].className == "jumpmenu" && document.getElementById(selectElements[i].id) != "" ) {
                            jumpmenu = document.getElementById(selectElements[i].id);
                            jumpmenu.onchange = function() {
                                if( this.options[this.selectedIndex].value != '' ) {
                                    // Redirect
                                    location.href=this.options[this.selectedIndex].value;
                                }
                            }
                        }
                    }
                }
                window.onload = function() {
                    initJumpMenus();
                }
            </script>
            
            
            -->
            <!-- <div class="DDStyle" id="Biomes" onChange="populatesecondary_biome()"> -->
            <!-- <div class="DDStyle" id="Biomes">
              Biomes :
              <select id="BiomesList" class="DDStyle" >
              </select>
            </div>
            <div id="secondary_biome" class="DDStyle">
              secondary_biome:
              <select id="secondary_biomeList" class="DDStyle">
              </select>
            </div> -->
            
            <!-- <tr>
            	<td class="required_fields">
                <label for="sample_name">Biome - Secondary</label>
              </td>
              <td>User supplied
              </td>
              <td>
                <input type="text" id="sample_name" name="sample_name" placeholder=""/>
              </td>
            </tr>
            <tr> -->
            	<td class="required_fields">
                <label for="env_feature_primary">Environmental Feature - Primary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="env_feature_primary" name="env_feature_primary" placeholder="fracture" value='<%= edit_metadata_info.env_feature_primary %>'/>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="env_feature_secondary">Environmental Feature - Secondary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="env_feature_secondary" name="env_feature_secondary" placeholder="" value='<%= edit_metadata_info.env_feature_secondary %>'/>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="env_material_primary">Environmental Material - Primary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="env_material_primary" name="env_material_primary" placeholder="water" value='<%= edit_metadata_info.env_material_primary %>'/>
              </td>
            </tr>

            <tr>
            	<td class="required_fields">
                <label for="env_material_secondary">Environmental Material - Secondary</label>
              </td>
              <td>User supplied
              </td>
            	<td>
                <input type="text" id="env_material_secondary" name="env_material_secondary" placeholder="" value='<%= edit_metadata_info.env_material_secondary %>'/>
              </td>
            </tr>
        </table>
  <br>

  <!-- center -->
  <button class='btn btn-sm btn-primary' type='submit'>Submit</button>

</form>


<% include ../add_ins/end.ejs %>
<script type='text/javascript' src='/javascripts/global.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
<script>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>