<% include ../add_ins/begin.ejs %>

<br>
 <div class='title'>Metadata</div>
 <div class='subtitle'></div>

<% if (all_files) { %>
<%
} else {
  var all_files = {}
} %>

<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
<div class="alert_flash_message_fail" >
  <ul>
  <% messages.fail.forEach(function(value){ %>
    <li>
      <%= value %>
    </li>
  <% }) %>
  </ul>
</div>
<% }%>
<br>


<H3>Files:</H3>
<ol>
<li>
  all_files =
  <%= JSON.stringify(all_files) %>
</li>

</ol>

<% include ../add_ins/end.ejs %>
<script type='text/javascript' src='/javascripts/global.js'></script>
<script type='text/javascript' src='/javascripts/metadata.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
</script>
</body>
</html>