<% include ../add_ins/begin.ejs %>

<br>
<div class='title'>Metadata</div>
<div class='subtitle'></div>

<% if (all_metadata) { %>
<%
} else {
var all_metadata = {}
} %>

<div id="postresult">
</div>


<% if (messages.success){ %>
<div class="alert_flash_message_success"><%- messages.success %></div>
<% } if(messages.fail) { %>
<div class="alert_flash_message_fail">
    <ul>
        <% messages.fail.forEach(function(value){ %>
        <li>
            <%= value %>
        </li>
        <% }) %>
    </ul>
</div>
<% }%>
<br>


<H3>Instructions:</H3>
<ol>
    <li>
        Fields in yellow are mandatory; other unknown entries may be left blank.
    </li>
    <li>
        The parameter names listed below are from the MIGS/MIMS/MIMARKS project of the Genomic Standards Consortium.
    </li>
    <li class="message">
        A range is not permitted for any value.
    </li>
    <li>
        <a href='/metadata/FormTutorial_083117.pdf' target='_blank'>For further questions see the Tutorial.</a>
    </li>
</ol>
<form name='add_project_form' method='POST' action='/metadata/metadata_new'>
    <!-- <form action="" method="post" enctype="multipart/form-data"> -->
    <fieldset id="general" class="required_fields">
        <legend id="general-legend">General sample description</legend>
        <!-- dataset_id project title username email institution first_name last_name public -->

        <label class="col-sm-4" for="project_title">Title of Project:</label>
        <input type="text" class="long_input" id="project_title" name="project_title" value=''/>

        <br/>
        <label class="col-sm-4" for="project_name">Project Name (This name may be adjusted by the
            MBL)</label>
        <input class="uppercase" type="text" id="project_name1" name="project_name1" maxlength="4" size="5" value="">_<input
            class="uppercase"
            type="text"
            id="project_name2"
            name="project_name2"
            maxlength="4"
            size="4"
            value="">_<input
            type="text" id="project_name3" name="project_name3" maxlength="4" size="5"
            value="">
        <br/>
        <label class="col-sm-4" for="pi_id_name">Select PI for submission to be submitted
            under:</label>
        <div class="row">
        <div class="col-sm-3">
            <select id="pi_id_name" name="pi_id_name" class="form-control">
                <option selected="true" disabled>Select&hellip;</option>

                <% pi_list.forEach(function(val){ %>
                <option value="<%= val.pi_id %>#<%= val.PI %>"
                <% if ((typeof(pi_id) !== 'undefined') && (val.pi_id == pi_id)) {%>
                selected
                <% } %>
                ><%= val.PI %></option>
                <% }); %>
            </select>
        </div>
        </div>
        <!--<br/>-->

        <label class="col-sm-4" for="project_abstract">Project abstract:</label>
        <textarea class="textarea_long" class="readonly" readonly id="project_abstract" name="project_abstract"
                  placeholder="Please send the abstract to VAMPS"></textarea>
        <br/>
        <label class="col-sm-4" for="reference">References for selected manuscripts published that describe the location:</label>
        <textarea class="textarea_long" id="reference" name="reference"
                  placeholder=''></textarea>
        <br/>
    </fieldset>
    <fieldset id="parameters">
        <legend id="parameters-legend">Table of metadata parameters</legend>
        <div class="Headers">
            <table class="NewHeader">
                <tr>
                    <td class="empty1"></td>
                    <td class="empty1"></td>
                </tr>
            </table>
        </div>
        <!--<% // include first_fixed_table.ejs %>-->
    </fieldset>
    <br>

    <!-- center -->

    <input type='hidden' name='new_row_num' id='new_row_num' value=''/>
    <input type='hidden' name='new_row_length' id='new_row_length' value=''/>
    <!--<input name='new_row_num' id='new_row_num' value='' />-->
    <!--<input name='new_row_length' id='new_row_length' value='' />-->

    <input type='hidden' name='from_where' value='metadata_new_form'/>


    <p>
        <label for="done_editing">Notify the website management that I have finished submitting available metadata to
            this project.</label>

        Yes <input type="radio" id="done_editing" name="done_editing" value="done_editing">
        No <input type="radio" id="not_done_editing" name="done_editing" value="not_done_editing" checked="checked">

    </p>

    <button id='add_project_form_submit_btn' class='btn btn-sm btn-primary' type='submit'>Submit</button>

</form>


<% include ../add_ins/end.ejs %>
<script type='text/javascript' src='/javascripts/global.js'></script>
<script type='text/javascript' src='/javascripts/metadata.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
</script>
<
/body>
< /html>