<% metadata_w_latlon = JSON.parse(mdata_latlon) %>
<% req_mdata = JSON.parse(req_mdata_names) %>
<% include ../add_ins/begin.ejs %>

<p class='title'>All Metadata List</p>
<a href='/metadata/metadata'>&lt;&lt;--back</a>
<table class='table table-striped table-condensed sortable'>
	<thead>
		<tr><th>Item <small>(click to re-sort)</small></th><th>Table</th><th>Map</th></tr>
	</thead>
	<tbody>
		<% for(i in metadata){ %>
			<tr>
				<% if(metadata[i].slice(0,1) == '#'){ %>
				<%      mdname_to_show =    encodeURIComponent(metadata[i]) %>
				<% }else if(req_mdata.indexOf(metadata[i].slice(0,metadata[i].length-3)) != -1){ %>
				<%      mdname_to_show =    metadata[i].slice(0,metadata[i].length-3) %>
				<% }else{ %>
				<%      mdname_to_show =    metadata[i] %>
				<% } %>
				 
				<td><%= mdname_to_show %></td>
				<td><a href='list_result/<%= metadata[i] %>'>View</a></td>
				<td>
				<% if(metadata_w_latlon[metadata[i]] == 1) {%>
				    <a href='geomap/<%= metadata[i] %>'><img border='0' alt='globe' src='/images/globe-icon.png' width='20' ></a>
				<% }else{ %>
				    <small>(no lat/lon data)</small>
				<% } %>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>

<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js" defer></script>>
</body>
</html>