<% include ../add_ins/begin.ejs %>
<% runs = JSON.parse(runs) %>

<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
<% var SELECTED_COMPONENTS 				= '' %>	
<% var MIN_PERCENT_ABUNDANCE 			= '0.0' %>
<% var MIN_ACTUAL_ABUNDANCE 			= '0' %>
<% var MIN_SUBSTANTIVE_ABUNDANCE 	= '0' %>
<% var MIN_NUMBER_OF_SAMPLES 			= '2' %>
<% var NUMBER_OF_AUTO_COMPONENTS 	= '2' %>
<script defer>
	var rando = Math.floor(Math.random() * (99999 - 10000 + 1)) + 10000;
</script>

	<div class="hero-unit">
	       <h2>Oligotyping Project: <%= code %></h2>  
	</div>
	<a href='/oligotyping/project_list/'><<--back</a>&nbsp;&nbsp;<a href='/oligotyping/project/<%= code %>' class='btn btn-xs btn-primary ' >Refresh Page</a>
	<div class='pull-right'>
	<br><a id='' href='http://merenlab.org/software/oligotyping/' target='_blank' rel='noopener'>Find out more</a>
    &nbsp;&nbsp;
	<button class='btn btn-xs btn-warning pull-right' onclick="delete_project('<%= code %>')" width='30'>&nbsp;&nbsp;Delete This Project&nbsp;&nbsp;&nbsp;</button>
	</div>
	<br>
	<br>Family: <%= family %>
	<br>Genus: <%= genus %>
	<span class='pull-right'>STATUS: <%= status %></span>
<table class='table'>
	<tr><th>Process</th><th>Status</th><th>Variables</th><th>Controls</th><th></th></tr>
<!-- -------- fasta row ------------------------------------------------------------------------------------ -->
	<tr>
		<td>Fasta</td>
		<td><%= fasta_status %></td>
		<td></td>
		<td>
			<% if(fasta_status == 'COMPLETED'){ %>
						Fasta is complete
						
			<% }else{ %>
						<a id='' class='btn btn-xs btn-primary' >Run Fasta</a>
			<% } %>
			
		</td>
		<td>
		    <% if(fasta_status == 'COMPLETED'){ %>
		        <form id='download_fasta_form_id' method='POST' action=''>
        		    <button type='button' id='download_fasta_btn' class="btn btn-xs btn-success">Download Fasta File</button>
        		    <input type='hidden' name='download_type' value='oligotype_fasta' />
        		    <input type='hidden' name='dir' value='oligotyping-<%= code %>' />
        		    <input type='hidden' name='code' value='<%= user.username %>/oligotyping-<%= code %>' />
        			<!-- <input type='hidden' name='referer' value='/visuals/view_selection' /> -->
      		  	</form>
      		 <% }else{ %>
					
			 <% } %>
		
		</td>
	</tr>
<!-- -------- entropy row ------------------------------------------------------------------------------------ -->
	<tr>
		<td>Entropy</td>
		<td><%= entropy_status %></td>
		<td>Pynast Cutoff: <%= cutoff %> (Fixed at 80% of average sequence length)</td>
		<% if(entropy_status == 'COMPLETED'){ %>
			<td>
					Entropy is complete
					(<a href='/oligotyping/rewind/<%= code %>/entropy'  class='btn btn-xs btn-link' >Re-wind to here</a>)
			</td>
			<td>View Entropy Graph: 
				<!-- <a href="/user_projects/<%= user.username %>/<%= directory %>/minaligned.fa-ENTROPY.pdf" target='_blank'>click-to-open -->
				<form method='POST' action='/oligotyping/view_pdf'>
				  <input type='hidden' name='oligo_code' value='<%= code %>'>
				  <!-- <input type='button' value='Click-To-View' onclick="view_entropy('<%= code %>')"> -->
				  <input type='submit' value='Click-To-View' >
				
				</form>	
				
			</td>		
			<!--
			<td>View Entropy Graph: 
				<a href="<%= path %>/minaligned.fa-ENTROPY.pdf" target='_blank'>
					<img src="<%= path %>/minaligned.fa-ENTROPY.pdf" alt="graph" />
				</a>
			</td>	
			-->	
		<% }else{ %>
			<td>
					<% if(fasta_status == 'COMPLETED'){ %>
						<% if(status.substr(status.length - 14) == 'Script Running'){ %>
							<input type='button' id='run_entropy_btn' value='Run Entropy' "><!-- non-active -->
						<% }else{ %>
						    <input type='button' id='run_entropy_btn' value='Run Entropy' onclick="start_entropy('<%= code %>','<%= directory %>','<%= rank %>','<%= family %>','<%= genus %>','<%= cutoff %>')">
						<% } %>		
					<% }else{ %>
						<a href='/oligotyping/rewind/<%= code %>/entropy' class='btn btn-xs btn-link' >Re-wind to here</a>
						<input type='button' id=''  class='btn btn-xs btn-primary' value='Run Entropy' /> <!-- non-active -->
								
					<% } %>
					


			
		</td>
		<td>View Entropy Graph</td>	
		
	<% } %>
	</tr>
<!-- -------- oligotyping row ------------------------------------------------------------------------------------ -->

	<tr>
		<td colspan='5'>
<div id='rerun_div'>	
<form id='oligotyping_form_id' class='' method='post' action='/oligotyping/oligo/<%= code %>'>			
<table class='table' border='0'><tr><td>Oligotyping</td>
		<td><%= oligo_status %></td>

		<td>

	
          <table>
                
            
    <% 			if(oligo_status == 'COMPLETED'){ %>
                    
                        <tr><td>
                          -C <input id='largeC' type='text' name='SELECTED_COMPONENTS' value='<%= SELECTED_COMPONENTS %>' maxlength='30' size='10'> SELECTED_COMPONENTS [ no default ]
                        </td></tr>
                    
    <% 			}else{ %>
                   
                        <tr><td>
                         -c <input id='smallc' type='text' name='NUMBER_OF_AUTO_COMPONENTS' value='<%= NUMBER_OF_AUTO_COMPONENTS %>' maxlength='3' size='2'> NUMBER_OF_AUTO_COMPONENTS [ Default: 2 ]
                        </td></tr>
                    
    <% 			} %>


                    <tr><td>-a <input id='' type='text' name='MIN_PERCENT_ABUNDANCE' value='<%= MIN_PERCENT_ABUNDANCE %>' maxlength='3' size='2'> MIN_PERCENT_ABUNDANCE [ Default: 0.0 ]</td>
                    </tr>
                    <tr><td>-A <input id='' type='text' name='MIN_ACTUAL_ABUNDANCE' value='<%= MIN_ACTUAL_ABUNDANCE %>' maxlength='3' size='2'> MIN_ACTUAL_ABUNDANCE [ Default: 0 ]</td>
                    </tr>
                    <tr><td>-M <input id='' type='text' name='MIN_SUBSTANTIVE_ABUNDANCE' value='<%= MIN_SUBSTANTIVE_ABUNDANCE %>' maxlength='3' size='2'> MIN_SUBSTANTIVE_ABUNDANCE [ Default: 0 ]</td>
                    </tr>
                    <tr><td>-s <input id='' type='text' name='MIN_NUMBER_OF_SAMPLES' value='<%= MIN_NUMBER_OF_SAMPLES %>' maxlength='3' size='2'> MIN_NUMBER_OF_SAMPLES [ Default: 5 ]</td>
                    </tr>
            </table>


		</td>
		
		<td>
						<% if(fasta_status === 'COMPLETED' && entropy_status === 'COMPLETED'){ %>
									
                            <% if(oligo_status === 'COMPLETED'){ %>
                                <% if(status.substr(status.length - 14) == 'Script Running'){ %>
							        <input type='button' id='' value='re-Run Oligo' "><!-- non-active -->
						        <% }else{ %>
						            To re-run:<br>Enter Selected Components
                                    <br>(a comma separated list of base locations).
                                    <br>For help choosing use either the<br>entropy graph or the Oligotyping HTML Page.
                                    <br>
                                        
                                    <input type='button' id=''  class='btn btn-xs btn-primary' value='re-Run Oligo' onclick="run_oligotyping('rerun','<%= code %>')" />
                                        
                                    ( <a href='/oligotyping/rewind/<%= code %>/oligo' class='btn btn-xs btn-link' >Re-wind to here</a> )
						        <% } %>
                                        
                            <% }else{ %>
                                <% if(status.substr(status.length - 14) == 'Script Running'){ %>
							        <input type='button' id='' value='Run Oligo' "><!-- non-active -->
						        <% }else{ %>
						            Enter values for the command line parameters shown to the left
                                    <br>or leave the defaults. The '-c' value should be<br>changed to be less than or equal to the number<br> of tall peaks of interest from the entropy graph.
                                    <br><input type='button' id=''  class='btn btn-xs btn-primary' value='Run Oligo' onclick="run_oligotyping('run','<%= code %>')" />
						        <% } %>       
                                                
                            <% } %>
							 
						<% }else{ %>
							<a id=''  disabled class='btn btn-xs btn-primary' >Run Oligo</a>
						<% } %>
						
		</td>

		<td>
			<div id='html_link_div'>
                <% if(oligo_status == 'COMPLETED'){ %>
                    <% var current_rando = html_link.substring(html_link.lastIndexOf('_')+1,html_link.lastIndexOf('/')) %>

                    ** <a href='<%= html_link %>' target='_blank'>Open Current HTML</a> **

                    
                    
                <% }else{ %>            
                  View HTML Here            
                <% } %>
            </div>
            <% if(runs.length > 0){ %>
                <br>
                Previous Runs:<br>
                <div id='' style='height:100px;overflow:auto; border-style:solid;border-width: 1px;'>
                <% for (n in runs){ %>
                    <br>DateTime:  <a href='<%= runs[n].link %>' target='_blank'><%= runs[n].ts %></a>
                <% } %>
                </div>
                
            <% } %>
			
        </td>
</tr></table>
<input type='hidden' name='directory' value='<%= directory %>' />
<input type='hidden' name='code' value='<%= code %>' />
<input type='hidden' name='rank' value='<%= rank %>' />
<input type='hidden' name='family' value='<%= family %>' />
<input type='hidden' name='genus' value='<%= genus %>' />
<input type='hidden' name='cutoff' value='<%= cutoff %>' />
<input type='hidden' name='username' value='<%= user.username %>' />
</form>	
</div>   <!-- id='rerun_div' -->
</td>	
</tr>

	
	
</table>

	
<% include ../add_ins/end.ejs %>
 <script type="text/javascript" src="/javascripts/oligotyping.js" defer></script>
 <script type="text/javascript" src="/javascripts/bootstrap-select.js" defer></script>
 </body>
 </html>