<% include ../add_ins/begin.ejs %>


<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
	
	
	

	<div class="hero-unit">
	       <h2>Oligotyping Project: <%= code %></h2>  
	</div>
	<a href='/oligotyping/project/<%= code %>' class='btn btn-xs btn-primary ' >Refresh Page</a>
	<br><br>
<table class='table'>
	<tr><th>Process</th><th>Status</th><th>Variables</th><th>Controls</th><th></th></tr>
	<tr>
		<td>Fasta</td>
		<td><%= fasta_status %></td>
		<td></td>
		<td>
			<% if(fasta_status == 'COMPLETED'){ %>
						Fasta is complete
						
			<% }else{ %>
						<a id='' class='btn btn-xs btn-primary' >Run Fasta</a>
			<% } %>
			
		</td>
		<td>Download File</td>
	</tr>
	<tr>
		<td>Entropy</td>
		<td><%= entropy_status %></td>
		<td>Pynast Cutoff: <%= cutoff %> (Fixed: 80% of average length)</td>
		<% if(entropy_status == 'COMPLETED'){ %>
			<td>
					Entropy is complete
					(<a href='/oligotyping/rewind/<%= code %>/entropy'  class='btn btn-xs btn-link' >Re-wind to here</a>)
			</td>
			<td>View Entropy Graph: 
				<a href="/vamps_development/andy/<%= directory %>/minaligned.fa-ENTROPY.png" target='_blank'>
					<img src="/vamps_development/andy/<%= directory %>/minaligned.fa-ENTROPY.pdf" alt="graph" />
				</a>
			</td>		
		<% }else{ %>
			<td>
					<% if(fasta_status == 'COMPLETED'){ %>
								<form id='' class='' method='post' action='/oligotyping/entropy/<%= code %>'>
									<input type='submit' id=''  class='btn btn-xs btn-primary' value='Run Entropy' />
									<input type='hidden' name='directory' value='<%= directory %>' />
									<input type='hidden' name='code' value='<%= code %>' />
									<input type='hidden' name='rank' value='<%= rank %>' />
									<input type='hidden' name='family' value='<%= family %>' />
									<input type='hidden' name='genus' value='<%= genus %>' />
									<input type='hidden' name='cutoff' value='<%= cutoff %>' />
								</form>
					<% }else{ %>
								<a href='/oligotyping/rewind/<%= code %>/entropy' class='btn btn-xs btn-link' >Re-wind to here</a>
								<input type='button' id=''  class='btn btn-xs btn-primary' value='Run Entropy' />
								
					<% } %>
					


			
		</td>
		<td>View Entropy Graph</td>	
		
	<% } %>
	</tr>
	<!-- -------------------------------------------------------------------------------------------- -->
	<form id='' class='' method='post' action='/oligotyping/oligo/<%= code %>'>
	<tr>
		<td>Oligotyping</td>
		<td><%= oligo_status %></td>
		<td>
				<table>
<% 			if(oligo_status == 'COMPLETED'){ %>
				<tr><td>-C</td><td><input type='text' name='SELECTED_COMPONENTS' value='' maxlength='30' size='10'></td><td> SELECTED_COMPONENTS</td><td>[ no default ]</td></tr>
<% 			}else{ %>
						<tr><td>-c</td><td><input type='text' name='NUMBER_OF_AUTO_COMPONENTS' value='2' maxlength='3' size='2'></td><td> NUMBER_OF_AUTO_COMPONENTS</td><td>[ Default:2 ]</td></tr>
<% 			} %>
				<tr><td>-a</td><td> <input type='text' name='MIN_PERCENT_ABUNDANCE' value='0.0' maxlength='3' size='2'></td><td> MIN_PERCENT_ABUNDANCE</td><td>[ Default:0.0 ]</td></tr>
				<tr><td>-A</td><td> <input type='text' name='MIN_ACTUAL_ABUNDANCE' value='0' maxlength='3' size='2'></td><td> MIN_ACTUAL_ABUNDANCE</td><td>[ Default:0 ]</td></tr>
				<tr><td>-M</td><td> <input type='text' name='MIN_SUBSTANTIVE_ABUNDANCE' value='0' maxlength='3' size='2'></td><td> MIN_SUBSTANTIVE_ABUNDANCE</td><td>[ Default:0 ]</td></tr>
				<tr><td>-s</td><td> <input type='text' name='MIN_NUMBER_OF_SAMPLES' value='5' maxlength='3' size='2'></td><td> MIN_NUMBER_OF_SAMPLES</td><td>[ Default:5 ]</td></tr>
		</table>

		</td>
		<td>
						<% if(fasta_status == 'COMPLETED' && entropy_status == 'COMPLETED'){ %>
									
									<input type='hidden' name='directory' value='<%= directory %>' />
									<input type='hidden' name='code' value='<%= code %>' />
									<input type='hidden' name='rank' value='<%= rank %>' />
									<input type='hidden' name='family' value='<%= family %>' />
									<input type='hidden' name='genus' value='<%= genus %>' />
									<input type='hidden' name='cutoff' value='<%= cutoff %>' />
								<% if(oligo_status == 'COMPLETED'){ %>
									<input type='submit' id=''  class='btn btn-xs btn-primary' value='re-Run Oligo' />
									<a href='/oligotyping/rewind/<%= code %>/oligo' class='btn btn-xs btn-link' >Re-wind to here</a>
								<% }else{ %>
									<input type='submit' id=''  class='btn btn-xs btn-primary' value='Run Oligo' />
								<% } %>
						<% }else{ %>
							<a id=''  disabled class='btn btn-xs btn-primary' >Run Oligo</a>
						<% } %>
						
		</td>
		<td>
			<% if(fasta_status == 'COMPLETED' && entropy_status == 'COMPLETED' && oligo_status == 'COMPLETED'){ %>
				<a class='btn btn-xs btn-success' href="/vamps_development/andy/<%= directory %>/OLIGOTYPE/HTML-OUTPUT" target='_blank'>View HTML</a>
			<% }else{ %>
				View HTML
			<% } %>
		</td>
			
	
</tr>
</form>
	
	
</table>

	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>