<% include ../add_ins/begin.ejs %>
<% var oligo_info = JSON.parse(pinfo) %>
<% var sort_info = JSON.parse(finfo) %>

<% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>

<div class='pull-right'>
 		<br><a id='' href='/visuals/visuals_index' class='btn btn-sm btn-primary'>New Oligotyping Project</a>
</div>

<div class="hero-unit">
	       <h2>Oligotyping Project Status <small>[<a href='project_list'>Refresh List</a>]</small></h2>
</div>
	<% for(n in sort_info){ %>
		<%	var code = sort_info[n].oligo_code  %>
	  <div id='<%= code %>' class='well' style='display:block;'>
    	<table class=' table'>

				<% var fasta_status = oligo_info[code].fasta_status %>
				<% var entropy_status = oligo_info[code].entropy_status %>
				<% var oligo_status = oligo_info[code].oligo_status %>
				<%	var start_date = oligo_info[code].start_date  %>
			  <tr>
			  	<td>
			  		Date Initiated:<br><%= start_date %>
			    </td>
			    <td>
						Internal Code:<br><%= code %>
			    </td>
			    <td>
				      Family: <%= oligo_info[code].family %>
				      <% if(oligo_info[code].rank == 'genus') { %>
				      	<br>Genus: <%= oligo_info[code].genus %>
				      <% } %>
			    </td>
			    <td>
						Fasta File Completed:
						<% if(fasta_status){ %>
									<h5><span class="label label-success">Yes</span></h5>
						<% }else{ %>
									<h5><span class="label label-default">No</span></h5>
						<% } %>
			    </td>
			    <td>
						Entropy Step Completed:
						<% if(entropy_status){ %>
									<h5><span class="label label-success">Yes</span></h5>
						<% }else{ %>
									<h5><span class="label label-default">No</span></h5>
						<% } %>
			    </td>
			    <td>
						Oligotyping Step Completed:
						<% if(oligo_status){ %>
									<h5><span class="label label-success">Yes</span></h5>
						<% }else{ %>
									<h5><span class="label label-default">No</span></h5>
						<% } %>
			   	</td>
					<td>
						<a href='/oligotyping/project/<%= code %>' class='btn btn-xs btn-primary'>Continue</a>
						<br><br>
						
						  <button class='btn btn-xs btn-warning' onclick="delete_project('<%= code %>')" width='30'>&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>
						

			   	</td>
				</tr>

	</table>
</div>
<% } %>

<% include ../add_ins/end.ejs %>


  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/common_selection.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>
 	<script type="text/javascript" src="/javascripts/oligotyping.js"></script>
 </body>
 </html>