<% include ../../add_ins/begin-no_menu.ejs %>
<link rel='stylesheet' type='text/css' href='/stylesheets/tipsy.css'>
<div class='title'>VAMPS Bar Charts</div>

<div id='dataviz-container' class=''><%- html %></div>


</div>  <!-- end grid_9  content -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/javascripts/global.js"></script>


<script type='text/javascript'>
			$('.tip').tipsy({ 
        	gravity: 'w', 
        	html: true, 
        	title: function() {
          	var items = this.id.split('---'); 
          	var dname = items[0], uname = items[1], count= items[2]; 
          	var txt = dname+'<br>'; 
       			txt += uname+'<br>'; 
        		txt += 'count: '+count; 
        		return txt 
        	}
      });		
</script> 



    <div class="grid_7 prefix_4 suffix_1" id="footer">
      <% include ../../add_ins/footer.html %>
    </div>
  </div>    <!-- end container_12 -->
</body>
</html>

