

<div class="container">	
	<!-- <center><img src='/images/portals/CMP.jpg' width='500'></center> -->
<p class='title'>Coral Microbiome Portal</p>	
	<p class='subtitle'></p>	
	
	<div class="row marketing">
        <div class="col-lg-12">
          
          
			<h3>This Portal is under development</h3>	
    <p> 
        The Coral Microbiome Portal (CMP) database brings together next generation sequencing data of coral-associate microorganisms from studies conducted thoughout the world’s reefs, with the goal of enhancing knowledge and advancing understanding of coral-microbial relationships. The data are hosted on the CMP portal on the Marine Biological Laboratory’s VAMPS website, and are accessible for download, analysis, and visualization by anyone with a web browser. Visit the CMP to examine or download existing data, or use the private mode to view new sequencing data in comparison to the CMP data. 
    </p>
        <p>
          	<ul>
              	
                <li><a href=''>Project Background and Collaborators.-TODO</a>
                <li><a href=''>CMP Projects</a>	- The individual projects with descriptions and metadata.
                <li><a href=''>Visualization and Analysis</a>	- Dataset selection.														
                <li><a href=''>View Metadata-TODO</a>	- A list of the metadata for the projects in this portal.
                <li><a href=''>Map Locations</a> - Sample Distribution
		    </ul>
		</p>

      </div>
  </div>
</div>

