<ul class="">
  <li class="expandable">
    <% for (k=0; k < children_ids_arr.length; k++) { %>          
      <%= dictMap_by_id[children_ids_arr[k]].taxon %>
  	<% } %> <!-- for (i=0; i < children_ids_arr.length; i++) { -->        
  </li>                
</ul>   <!-- children_ids_arr[0] -->     
