<%  var colors = JSON.parse(constants).HEATMAP_COLORS %>
<%  var id_order = JSON.parse(hash).ids %>
<%  var no = JSON.parse(hash).names %>
<%  var dm = JSON.parse(dm) %>

<!-- 
This version is css only (no tables) but also no row dragging :( 
It was written because it allows heatmaps of more than 1000 datasets.
But because it is not an html <table> structure rowdragging doesn't work
-->
<% var dataset_count_cutoff = 500 %>
<% if( no.length > dataset_count_cutoff ){ %>
    <p>You have chosen more than <%= dataset_count_cutoff %> datasets which means you will not have row-dragging capabilities.</p>
    <% include create_distance_heatmapCSS.html %>
<% }else{ %>
    <% include create_distance_heatmapTable.html %>
<% } %>

