<%  var c       = JSON.parse(constants) %>
<%  var colors  = c.HEATMAP_COLORS %>
<%  var cutoff  = c.dataset_count_for_visuals_cutoff %>
<%  var max     = c.dataset_count_for_visuals_max %>
<%  var id_order = JSON.parse(hash).ids %>
<%  var no      = JSON.parse(hash).names %>
<%  var dm      = JSON.parse(dm) %>

<!-- 
This version is css only (no tables) but also no row dragging :( 
It was written because it allows heatmaps of more than 1000 datasets.
But because it is not an html <table> structure rowdragging doesn't work
-->
<% if( no.length > max  ){ %>
    <p>Too many datasets selected. The heatmap will not work with more than <%= max %> datasets.</p>
<% }else if(no.length > cutoff){ %>
    <p>You have chosen more than <%= cutoff %> datasets which means you do not have row-dragging capabilities.
    Also the html link to the dataset comparison page is non-functional.</p>
    <% include create_distance_heatmapCSS.html %>
<% }else{ %>
    <% include create_distance_heatmapTable.html %>
<% } %>