<%  var colors = JSON.parse(constants).HEATMAP_COLORS %>

<h4><small>
  <span id='dragInfoArea' >- Drag a row to rearrange the table.</span>
  <span class='label label-primary blue'>Similar</span>
  <span class='label label-danger red'>Dissimilar</span>
</small></h4>
<table border='1' id='drag_table' class='heatmap_table center_table' >
	<tr class='nodrag nodrop' ><td></td>
	  <td>
		  
		  <div id='ds_save_order_div'>
			  <button type='button' id='ds_save_order_btn' class='btn btn-xs btn-default'>Save Order</button>
		  </div>
	  </td>

		  <% for(i=1; i<=Object.keys(dm).length; i++) { %>
		      
	  <td><div class='cell'></div></td>  
		  <% } %>
	</tr>
		  <%  var n=1; %>
		  <%  for(x_dname in dm) { %>
	<tr id='<%= x_dname %>'>
	  <td  id='<%= x_dname %>' class='dragHandle'><%= n.toString() %></td><td class='dragHandle ds_cell' ><%= x_dname %></td>
		  <%    for(y_dname in dm) { %>
		      	
		  <%      if(x_dname === y_dname){ %>
		        	<td id='' class='heat_map_td' bgcolor='#000'></td>
		  <%      }else{ %>
		  <%      	var id = 'dheatmap-|-'+x_dname+'-|-'+y_dname+'-|-'+dm[x_dname][y_dname]; %>
		  <%      	var svalue = Math.round( dm[x_dname][y_dname] * 15 ); %>
		     	
	  <td id='<%= id %>' class='heat_map_td tooltipx' bgcolor='#<%= colors[svalue] %>'></td>
		  <%      } %>		        
		  <%    } %>
	</tr>
		  <%    n+=1; %>
		  <%  } %>
</table>
		    