<table border='1' id='metadata_table' class='table sortable'>
<thead>
	<tr><th>Dataset (sortable)</th><th>Name (sortable)</th><th>Value (sortable)</th></tr>
</thead>
<tbody>
<%	var found_metadata = false; %>
<%	for(i in chosen_id_name_hash.ids) { %>
<%			var did = chosen_id_name_hash.ids[i]; %>
<%			var ds = chosen_id_name_hash.names[i]; %>
<%			for(md_name in MetadataValues[did]) {			 %>		
<%				var md_value = MetadataValues[did][md_name]; %>
<%				found_metadata = true; %>	
<%				if(load === 'selected') { %>
<%					if(visual_post_items.metadata.indexOf(md_name) !== -1) {  %>
							<tr><td><%= ds %></td><td><%= md_name %></td><td><%= md_value %></td></tr>
<%					} %>
<%				}else{ %>
							<tr><td><%= ds %></td><td><%= md_name %></td><td><%= md_value %></td></tr>	
<%				} %>			
<%			} %>
<%	} %>
	</tbody>
	</table></div>
<%	if( ! found_metadata ){ %>
			<h2>No Metadata Found</h2>
<%	} %>
<%  if( load === 'selected' && visual_post_items.metadata.length === 0){ %>
			<h2>No Metadata Selected</h2>
<%	} %>

