<%   var rows      = JSON.parse(constants).VISUALOUTPUTCHOICES.choices; %>
<%   var distrows  = JSON.parse(constants).DISTANCECHOICES.choices; %>
<%   var rows      = JSON.parse(constants).NORMALIZATIONCHOICES.choices %>
<%   var pct_range = JSON.parse(constants).PCT_RANGE  %>
<%   var items     = JSON.parse(chosen_id_name_hash) %>
Screening/Options:<br>
<div id='screening_options_div' class='small_font' style='height:250px;'>
<form id='' name='' method='POST' action='view_selection'>
<table class='small_font table table-striped'>
    <tr>
        <td>Normalization of Counts:<br>
            <% for (i in rows) { %>
            <%    if (rows[i].id === pi.normalization) { %>
                    <span title='<%= rows[i].brief %>'>
                        <input  type='radio' id='' name='normalization' value='<%= rows[i].id %>' checked='checked' \> <%= rows[i].id %>
                    </span>&nbsp;&nbsp;
            <%     } else { %>
                    <span title='<%= rows[i].brief %>'>
                      <input title='<%= rows[i].brief %>' type='radio' id='' name='normalization' value='<%= rows[i].id %>' \> <%= rows[i].id %>
                    </span>&nbsp;&nbsp;
            <%     } %>
            <% } %>
            
        </td>
    </tr>
    <tr>
        <td>Distance Metric:  &nbsp;&nbsp;          
            
            <select id='selected_distance' name='selected_distance' class='selectpicker'  data-style="btn btn-xs btn-info"  data-size="200" size='100' style='height:50px;'>
            <% for(d in distrows ) { %>
            <%    if (distrows[d].id === pi.selected_distance) { %>
                      <option value='<%= distrows[d].id %>' selected='selected' ><%= distrows[d].show %></option>
            <%    } else { %>
                      <option value='<%= distrows[d].id %>' ><%= distrows[d].show %></option>
            <%    } %>
            <% } %>
            </select>
            
        </td>
    </tr>
    <tr>
        <td>Filter Matrix Rows by Frequency: Will remove rows if min/max exceded for ALL the datasets.<br>

		  MIN: <select id='min_range' name='min_range' class='small_font'>
		    <% for( var n=0; n < pct_range.length-1; n++ ) {  %>
		    <%    if(pi.min_range.toString() === pct_range[n].toString()) { %>
		            <option value='<%= pct_range[n]  %>' selected='selected' ><%= pct_range[n] %>%</option>&nbsp;&nbsp; 
		    <%    }else{ %>
		            <option value='<%= pct_range[n]  %>' ><%= pct_range[n]  %>%</option>&nbsp;&nbsp;
		    <%    }  %>     
		    <% }  %>
		   </select>
		  MAX: <select id='max_range' name='max_range' class='small_font'>

		    <% for (var n=1; n < pct_range.length; n++ ) {  %>
   
		    <%    if(pi.max_range.toString() === pct_range[n].toString()) { %>
		            <option value='<%= pct_range[n]  %>' selected='selected'><%= pct_range[n] %>%</option>
		    <%    }else{ %>
		            <option value='<%= pct_range[n] %>'><%= pct_range[n] %>%</option>
		    <%    } %>
		    <% }  %>
		   </select>

        </td>
    </tr>

    <tr>
        <td>Include NAs (taxonomy not available)<br>
<%      if(cnsts.show_nas.raw != 'true' ) { %>
            (represented in frequency table by '<%= cnsts.show_nas.string %>'):<br>  
<%      } %>
        <%    if(pi.include_nas.toString() === 'yes') { %>
            <span title=''><input type='radio' checked='checked' id='' name='include_nas' value='yes'   \> Include NAs</span>&nbsp;&nbsp;         
            <span title=''><input type='radio'                   id='' name='include_nas' value='no'    \> Exclude NAs</span>
        <% }else{ %>
            <span title=''><input type='radio'                   id='' name='include_nas' value='yes'   \> Include NAs</span>&nbsp;&nbsp;         
            <span title=''><input type='radio' checked='checked' id='' name='include_nas' value='no'    \> Exclude NAs</span>
        <% } %>            
        </td>
    </tr>

<tr><td><button type='submit' class="btn btn-xs btn-info" disabled='disabled' id='output_choices_submit_btn' name='' >Update</button>
</td></tr>
</table>
<input type='hidden' name='domains' value='<%= pi.domains %>'>
<input type='hidden' name='tax_depth' value='<%= pi.tax_depth %>'>
<input type='hidden' name='unit_choice' value='<%= pi.unit_choice %>'>
<input type='hidden' name='selected_metadata' value='<%= pi.metadata %>'>
<input type='hidden' name='update_data' value='1'>


</form>
</div>
