<%   var rows = JSON.parse(constants).VISUALOUTPUTCHOICES.visulachoices; %>
Display Output:
<p class='standard'>
    1) Check your selected datasets from the list above.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go back to change them if needed.<br>
    2) From the Units Selection choose your units. <br>
    3) Choose normalization. <br>
    4) Then select the analyses from the series below. <br>
    5) Select the 'Next: Get Graphics' button above to continue.
</p>
<ul>
    <% for(i in rows) { %>
    <li><input type='checkbox' id='' name='visuals[]' value='<%= rows[i].id %>' \><%= rows[i].show %></li>
    <% } %>
</ul>
    
