<%   var req_meta_fields = JSON.parse(constants).REQ_METADATA_FIELDS %>
<%   var cust_meta_found = JSON.parse(md_cust) %>
<%   var req_meta_found  = JSON.parse(md_req) %>

<% no_of_cols = 7 %>
<span class='normal_weight' >These are the available metadata for your selected datasets:</span>


  <hr><strong>Common (Required) Fields:</strong>
<% if(req_meta_found.length === 0 ){ %>
 <br>None Found
<% }else{ %>
  [ <input type='checkbox' id='toggle_meta_r_btn' name='taxa_ckbx_toggle'  value='all' \><span class='tiny_font'> Toggle</span> ]
  <small><i>All datasets should have these set.</i></small>
  <table class='' border='0'>
    <tr>
      <% metadata_list = req_meta_found %>
      <% for (i in metadata_list) { %>       
         <% if(req_meta_found[i] == "latitude" || req_meta_found[i] == "longitude")  { %>
            <td><input type='checkbox' checked class='required_meta_ckbx' name='selected_metadata[]' value='<%= req_meta_found[i] %>'><%= req_meta_found[i] %>&nbsp;</td>
         <% } else { %>
            <td><input type='checkbox' class='required_meta_ckbx' name='selected_metadata[]' value='<%= req_meta_found[i] %>'><%= req_meta_found[i] %>&nbsp;</td>
         <% } %>

         <% if(i % no_of_cols === no_of_cols-1) { %>                
            </tr><tr>
         <% } %> 
                
      <% } %>
  </tr>
  </table>
<% } %>




<% no_of_cols = 4 %>
<hr><strong>Custom Fields for these Datasets:</strong> 
<% if(cust_meta_found.length === 0 ){ %>
 <br>None Found
<% }else{ %>
[ <input type='checkbox' id='toggle_meta_c_btn' name='meta_ckbx_toggle' value='all' \><span class='tiny_font'> Toggle</span> ]
<small><i>These metadata parameters are optional for sample inclusion.</i></small>

<table class='small_font'>
  <tr>
    
    <% for (i in cust_meta_found) { %>       
       
       <td><input type='checkbox' class='custom_meta_ckbx' name='selected_metadata[]' value='<%= cust_meta_found[i] %>'><%= cust_meta_found[i] %>&nbsp;</td>
       
       <% if(i % no_of_cols === no_of_cols-1) { %>         	   		
     			</tr><tr>
       <% } %> 
               
    <% } %>
</tr>
</table>
<% } %>
<hr>


