<%   var req_meta_fields = JSON.parse(constants).REQ_METADATA_FIELDS %>
<%   var cust_meta_found = JSON.parse(md_cust) %>
<%   var req_meta_found  = JSON.parse(md_req) %>

<% no_of_cols = 7 %>
<span class='normal_weight' >Here is the available metadata for your selected datasets:</span>


  <hr><strong>Common Fields:</strong>
<% if(req_meta_found.length === 0 ){ %>
 <br>None Found
<% }else{ %>
  [ <input type='checkbox' id='toggle_meta_r_btn' name='taxa_ckbx_toggle'  value='all' \><span class='tiny_font'> Toggle</span> ]
  <table class='small_font'>
    <tr>
      
      <% for (i in req_meta_found) { %>       
         <% if(req_meta_found[i] == 'latitude' || req_meta_found[i] == 'longitude')  { %>
          <td><input type='checkbox' checked class='required_meta_ckbx' name='selected_metadata[]' value='<%= req_meta_found[i] %>'> <%= req_meta_found[i] %></td>
         <% } else { %>
            <td><input type='checkbox' class='required_meta_ckbx' name='selected_metadata[]' value='<%= req_meta_found[i] %>'> <%= req_meta_found[i] %></td>
         <% } %>

         <% if(i % no_of_cols === no_of_cols-1) { %>                
            </tr><tr>
         <% } %> 
                
      <% } %>
  </tr>
  </table>
<% } %>




<% no_of_cols = 4 %>
<hr><strong>Custom Fields for these Datasets:</strong> 
<% if(cust_meta_found.length === 0 ){ %>
 <br>None Found
<% }else{ %>
[ <input type='checkbox' id='toggle_meta_c_btn' name='meta_ckbx_toggle' value='all' \><span class='tiny_font'> Toggle</span> ]

<table class='small_font'>
  <tr>
    
    <% for (i in cust_meta_found) { %>       
       
       <td><input type='checkbox' class='custom_meta_ckbx' name='selected_metadata[]' value='<%= cust_meta_found[i] %>'> <%= cust_meta_found[i] %></td>
       
       <% if(i % no_of_cols === no_of_cols-1) { %>         	   		
     			</tr><tr>
       <% } %> 
               
    <% } %>
</tr>
</table>
<% } %>
<hr>


