<%   var rows      = cnsts.VISUALOUTPUTCHOICES.choices; %>
<%   var distrows  = cnsts.DISTANCECHOICES.choices; %>
<%   var rows      = cnsts.NORMALIZATIONCHOICES.choices %>
<%   var pct_range = cnsts.PCT_RANGE  %>
<%   var ranks     = cnsts.RANKS  %>

Screening/Options (<b><%= pi.unit_choice %></b>):<br>
<div id='screening_options_div' class='small_font' style=''>
<form id='' name='' method='POST' action='view_selection'>
<table>
<tr><td>
<table class='small_font table table-striped' style=''>
   
   
    <tr>
        <td style=''><b>Normalization of Counts:</b><br>
            <% for (i in rows) { %>
            <%    if (rows[i].id === pi.normalization) { %>
                    <span title='<%= rows[i].brief %>'>
                        <input  type='radio' id='' name='normalization' value='<%= rows[i].id %>' checked='checked' \> <%= rows[i].id %>
                    </span>&nbsp;&nbsp;
            <%     } else { %>
                    <span title='<%= rows[i].brief %>'>
                      <input title='<%= rows[i].brief %>' type='radio' id='' name='normalization' value='<%= rows[i].id %>' \> <%= rows[i].id %>
                    </span>&nbsp;&nbsp;
            <%     } %>
            <% } %>
            
        </td>
    </tr>
    <tr>
        <td><b>Distance Metric:</b>  &nbsp;&nbsp;          
            
            <select id='selected_distance' name='selected_distance' class='selectpicker'  data-style="btn btn-xs btn-info"  data-size="200" size='100' style='height:50px;'>
            <% for(d in distrows ) { %>
            <%    if (distrows[d].id === pi.selected_distance) { %>
                      <option value='<%= distrows[d].id %>' selected='selected' ><%= distrows[d].show %></option>
            <%    } else { %>
                      <option value='<%= distrows[d].id %>' ><%= distrows[d].show %></option>
            <%    } %>
            <% } %>
            </select>
            
        </td>
    </tr>
    <tr>
        <td><b>Filter Matrix Rows by Frequency:</b> Will remove rows if min/max exceded for ALL the datasets.
		  <br>MIN: <select id='min_range' name='min_range' class='small_font'>
		    <% for( var n=0; n < pct_range.length-1; n++ ) {  %>
		    <%    if(pi.min_range.toString() === pct_range[n].toString()) { %>
		            <option value='<%= pct_range[n]  %>' selected='selected' ><%= pct_range[n] %>%</option>&nbsp;&nbsp; 
		    <%    }else{ %>
		            <option value='<%= pct_range[n]  %>' ><%= pct_range[n]  %>%</option>&nbsp;&nbsp;
		    <%    }  %>     
		    <% }  %>
		   </select>
		  MAX: <select id='max_range' name='max_range' class='small_font'>

		    <% for (var n=1; n < pct_range.length; n++ ) {  %>
   
		    <%    if(pi.max_range.toString() === pct_range[n].toString()) { %>
		            <option value='<%= pct_range[n]  %>' selected='selected'><%= pct_range[n] %>%</option>
		    <%    }else{ %>
		            <option value='<%= pct_range[n] %>'><%= pct_range[n] %>%</option>
		    <%    } %>
		    <% }  %>
		   </select>

        </td>
    </tr>

    <tr>
        <td><b>Include NAs</b> (taxonomy <u>N</u>ot <u>A</u>vailable)
<%      if(cnsts.show_nas.raw != 'true' ) { %>
            (represented in frequency table by '<%= cnsts.show_nas.string %>'):<br>  
<%      } %>
        <%    if(pi.include_nas.toString() === 'yes') { %>
            <span title=''><input type='radio' checked='checked' id='' name='include_nas' value='yes'   \> Include NAs</span>&nbsp;&nbsp;         
            <span title=''><input type='radio'                   id='' name='include_nas' value='no'    \> Exclude NAs</span>
        <% }else{ %>
            <span title=''><input type='radio'                   id='' name='include_nas' value='yes'   \> Include NAs</span>&nbsp;&nbsp;         
            <span title=''><input type='radio' checked='checked' id='' name='include_nas' value='no'    \> Exclude NAs</span>
        <% } %>            
        </td>
    </tr>

<tr><td><button type='submit' class="btn btn-xs btn-info" disabled='disabled' id='output_choices_submit_btn' name='' >Update</button>
</td></tr>


</table>
</td><td valign='top'>
<% if(pi.unit_choice == 'tax_silva119_simple' || pi.unit_choice == 'tax_rdp2.6_simple'){ %>
  <% if(pi.unit_choice == 'tax_silva119_simple'){ %>
  <%      domains = cnsts.UNITSELECT.silva119_simple.domains %>
  <% }else{ %>
  <%      domains = cnsts.UNITSELECT.rdp2_6_simple.domains %>
  <% } %>
  <div id='' style='padding-left:25px;'>
    <table border='1' style=''>
    <tr><td valign='top' style='padding:5px'>
        <span class='bold_font'>Included Domains:</span>
        
        <% for (i in domains) { %>
        <%      domain = domains[i] %>
        <%      if((pi.domains).includes(domain)){ %>
                    <br><input type='checkbox'  class='simple_taxa_silva_ckbx' checked='checked' value='<%= domain %>' name='domains[]' \>
            
        <%      }else{ %> 
                    <br><input type='checkbox'  class='simple_taxa_silva_ckbx'  value='<%= domain %>' name='domains[]' \>
        <%      } %>
        <%= domain %>        
        <% } %>
    </td>
    <td valign='top' style='padding:5px'>
    
    
        <span class='bold_font'>Taxonomic Depth:</span>
        <% for(n in ranks) { %>
            <% if(ranks[n].substr(0,5) == 'klass'){ %>
                <% rank = 'Class' %>
            <% }else{ %>
                <% rank = ranks[n].replace(/^\w/, c => c.toUpperCase()) %>
            <% } %>
            <% if(pi.tax_depth == ranks[n]){ %>
                <br><input type='radio' checked='checked' id='' name='tax_depth' value='<%= ranks[n] %>'  \> <%= rank %></li>
            <% }else{ %>   
                <br><input type='radio' id='' name='tax_depth' value='<%= ranks[n] %>'  \> <%= rank %></li>
            <% } %>   
        <% } %>  
    
    
    </td></tr>
    </table>
  </div>
  
<% }else{ %>
    <input type='hidden' name='domains' value='<%= pi.domains %>'>
    <input type='hidden' name='tax_depth' value='<%= pi.tax_depth %>'>
<% } %>
</td></tr>
</table>

<input type='hidden' name='unit_choice' value='<%= pi.unit_choice %>'>
<input type='hidden' name='selected_metadata' value='<%= pi.metadata %>'>
<input type='hidden' name='update_data' value='1'>
<% if(pi.unit_choice == 'OTUs'){ %>
    <input type='hidden' name='otu_id' value='<%= pid %>'>
<% } %>

</form>
</div>
