<h3>Silva(v108) Custom Taxonomy Selection</h3>
<input type='hidden' value='tax_silva108_custom' name='unit_choice' />
  <div class='radiobox'>
		Selection Mode:
    <input id='clade' type='radio' value='clade' checked='checked' name='mode'>
    Clade
    <input id='individual' type='radio' value='individual' name='mode'>
    Individual
  </div>
  <div class='tree well'>
<ul class="domain"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Eukarya" value="Eukarya_domain"/>
<span class="open-one-layer">Eukarya</span>
<ul class="phylum"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Fungi" value="Fungi_phylum"/>
<span class="open-one-layer">Fungi</span>
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Dikarya" value="Dikarya_klass"/>
<span class="open-one-layer">Dikarya</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Ascomycota" value="Ascomycota_order"/>
<span class="open-one-layer">Ascomycota</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Saccharomycotina" value="Saccharomycotina_family"/>
<span class="open-one-layer">Saccharomycotina</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Saccharomycetes" value="Saccharomycetes_genus"/>
<span class="open-one-layer">Saccharomycetes</span>
<ul class="species"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Saccharomycetales" value="Saccharomycetales_species"/>
<span class="open-one-layer">Saccharomycetales</span>
<ul class="strain"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="strain_NA" value="strain_NA_strain"/>
<span class="open-one-layer">strain_NA</span>
</li>
</ul> <!-- class="strain"-->
</li>
</ul> <!-- class="species"-->
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
</li>
</ul> <!-- class="phylum"-->
</li>
</ul> <!-- class="domain"-->
<ul class="domain"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Bacteria" value="Bacteria_domain"/>
<span class="open-one-layer">Bacteria</span>
<ul class="phylum"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="phylum_NA" value="phylum_NA_phylum"/>
<span class="open-one-layer">phylum_NA</span>
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="klass_NA" value="klass_NA_klass"/>
<span class="open-one-layer">klass_NA</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="order_NA" value="order_NA_order"/>
<span class="open-one-layer">order_NA</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="family_NA" value="family_NA_family"/>
<span class="open-one-layer">family_NA</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="genus_NA" value="genus_NA_genus"/>
<span class="open-one-layer">genus_NA</span>
<ul class="species"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="species_NA" value="species_NA_species"/>
<span class="open-one-layer">species_NA</span>
</li>
</ul> <!-- class="species"-->
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
</li>
</ul> <!-- class="phylum"-->
<ul class="phylum"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Proteobacteria" value="Proteobacteria_phylum"/>
<span class="open-one-layer">Proteobacteria</span>
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Betaproteobacteria" value="Betaproteobacteria_klass"/>
<span class="open-one-layer">Betaproteobacteria</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylophilales" value="Methylophilales_order"/>
<span class="open-one-layer">Methylophilales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylophilaceae" value="Methylophilaceae_family"/>
<span class="open-one-layer">Methylophilaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylotenera" value="Methylotenera_genus"/>
<span class="open-one-layer">Methylotenera</span>
</li>
</ul> <!-- class="genus"-->
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylophilus" value="Methylophilus_genus"/>
<span class="open-one-layer">Methylophilus</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Burkholderiales" value="Burkholderiales_order"/>
<span class="open-one-layer">Burkholderiales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Comamonadaceae" value="Comamonadaceae_family"/>
<span class="open-one-layer">Comamonadaceae</span>
</li>
</ul> <!-- class="family"-->
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Burkholderiaceae" value="Burkholderiaceae_family"/>
<span class="open-one-layer">Burkholderiaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Burkholderia" value="Burkholderia_genus"/>
<span class="open-one-layer">Burkholderia</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Rhodocyclales" value="Rhodocyclales_order"/>
<span class="open-one-layer">Rhodocyclales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Rhodocyclaceae" value="Rhodocyclaceae_family"/>
<span class="open-one-layer">Rhodocyclaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methyloversatilis" value="Methyloversatilis_genus"/>
<span class="open-one-layer">Methyloversatilis</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Epsilonproteobacteria" value="Epsilonproteobacteria_klass"/>
<span class="open-one-layer">Epsilonproteobacteria</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Campylobacterales" value="Campylobacterales_order"/>
<span class="open-one-layer">Campylobacterales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Helicobacteraceae" value="Helicobacteraceae_family"/>
<span class="open-one-layer">Helicobacteraceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Helicobacter" value="Helicobacter_genus"/>
<span class="open-one-layer">Helicobacter</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Alphaproteobacteria" value="Alphaproteobacteria_klass"/>
<span class="open-one-layer">Alphaproteobacteria</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Rhizobiales" value="Rhizobiales_order"/>
<span class="open-one-layer">Rhizobiales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Brucellaceae" value="Brucellaceae_family"/>
<span class="open-one-layer">Brucellaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Pseudochrobactrum" value="Pseudochrobactrum_genus"/>
<span class="open-one-layer">Pseudochrobactrum</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylobacteriaceae" value="Methylobacteriaceae_family"/>
<span class="open-one-layer">Methylobacteriaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Methylobacterium" value="Methylobacterium_genus"/>
<span class="open-one-layer">Methylobacterium</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Sphingomonadales" value="Sphingomonadales_order"/>
<span class="open-one-layer">Sphingomonadales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Sphingomonadaceae" value="Sphingomonadaceae_family"/>
<span class="open-one-layer">Sphingomonadaceae</span>
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
</li>
</ul> <!-- class="phylum"-->
<ul class="phylum"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Firmicutes" value="Firmicutes_phylum"/>
<span class="open-one-layer">Firmicutes</span>
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Bacilli" value="Bacilli_klass"/>
<span class="open-one-layer">Bacilli</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Bacillales" value="Bacillales_order"/>
<span class="open-one-layer">Bacillales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Paenibacillaceae" value="Paenibacillaceae_family"/>
<span class="open-one-layer">Paenibacillaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Paenibacillus" value="Paenibacillus_genus"/>
<span class="open-one-layer">Paenibacillus</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Clostridia" value="Clostridia_klass"/>
<span class="open-one-layer">Clostridia</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Clostridiales" value="Clostridiales_order"/>
<span class="open-one-layer">Clostridiales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Ruminococcaceae" value="Ruminococcaceae_family"/>
<span class="open-one-layer">Ruminococcaceae</span>
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
</li>
</ul> <!-- class="phylum"-->
<ul class="phylum"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Bacteroidetes" value="Bacteroidetes_phylum"/>
<span class="open-one-layer">Bacteroidetes</span>
<ul class="klass"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Sphingobacteria" value="Sphingobacteria_klass"/>
<span class="open-one-layer">Sphingobacteria</span>
<ul class="order"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Sphingobacteriales" value="Sphingobacteriales_order"/>
<span class="open-one-layer">Sphingobacteriales</span>
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Cytophagaceae" value="Cytophagaceae_family"/>
<span class="open-one-layer">Cytophagaceae</span>
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Arcicella" value="Arcicella_genus"/>
<span class="open-one-layer">Arcicella</span>
</li>
</ul> <!-- class="genus"-->
<ul class="genus"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Flexibacter" value="Flexibacter_genus"/>
<span class="open-one-layer">Flexibacter</span>
</li>
</ul> <!-- class="genus"-->
</li>
</ul> <!-- class="family"-->
<ul class="family"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Saprospiraceae" value="Saprospiraceae_family"/>
<span class="open-one-layer">Saprospiraceae</span>
</li>
</ul> <!-- class="family"-->
</li>
</ul> <!-- class="order"-->
</li>
</ul> <!-- class="klass"-->
</li>
</ul> <!-- class="phylum"-->
</li>
</ul> <!-- class="domain"-->
<ul class="domain"><li>
<span class="sign"><i class="icon-no-sign"></i></span><input name="custom_taxa" class="custom-taxa" type="checkbox" id="Unknown" value="Unknown_domain"/>
<span class="open-one-layer">Unknown</span>
</li>
</ul> <!-- class="domain"--></div> <!-- tree well -->