<span class='lg_font'>Generic<br>&nbsp;&nbsp;Taxonomic Depth Selection:</span>

  <table class='table'>
  <tr><td>
  <ul>
   

  </ul>
  </td><td>
  <ul>
    
    <li><input type='radio' id='' name='tax_depth' value='domain'  \> Level 1 (domain)</li>
    <li><input type='radio' id='' name='tax_depth' value='phylum' checked='checked'  \> Level 2 (phylum)</li>
    <li><input type='radio' id='' name='tax_depth' value='klass'   \> Level 3 (class)</li>
    <li><input type='radio' id='' name='tax_depth' value='order'   \> Level 4 (order)</li>
    <li><input type='radio' id='' name='tax_depth' value='family'  \> Level 5 (family)</li>
    <li><input type='radio' id='' name='tax_depth' value='genus'   \> Level 6 (genus)</li>
    <li><input type='radio' id='' name='tax_depth' value='species' \> Level 7 (species)</li>
    <li><input type='radio' id='' name='tax_depth' value='strain'  \> Level 8 (strain)</li>
  </ul>
  </td></tr>
  </table>
  