
<% if (typeof doms === 'undefined') { %>
<%   var doms = JSON.parse(constants).UNITSELECT.silva_simple.domains %>
<% } %>


<span class='lg_font'>Silva(v119)<br>&nbsp;&nbsp;Simple Taxonomy Selection</span>
  <table class='table'>
  <tr><td>
  <ul>
    <li class='bold_font'>Domains to Include:
    <span class='small_font normal_weight' >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='checkbox' id='toggle_taxa_silva_btn' name='taxa_ckbx_toggle'  value='all' \> Toggle
    </span>
    </li>
    <% for (i in doms) { %>
      <% domain = doms[i] %>
      <li>
      <label class='taxa-select'>
        <input type='checkbox'  class='simple_taxa_silva_ckbx' checked='checked' value='<%= domain %>' name='domains[]' \>
        <%= domain %>
      </label>
      </li>
    <% } %>
    <br>
<!--
    <li><span class='bold_font'>Include NAs</span> <span class='small_font'>(taxonomy not available):</span></li>
    <li><input type='radio' id='' name='include_nas' value='no'    \> Do Not Include NAs</li>
    <li><input type='radio' id='' checked='checked' name='include_nas' value='yes'   \> Include NAs</li>
-->
  </ul>
  </td><td>
  <ul>
    <li class='bold_font'>Taxonomic Depth:</li>
    <li><input type='radio' id='' name='tax_depth' value='domain'  \> Domain</li>
    <li><input type='radio' id='' name='tax_depth' value='phylum' checked='checked'  \> Phylum</li>
    <li><input type='radio' id='' name='tax_depth' value='klass'   \> Class</li>
    <li><input type='radio' id='' name='tax_depth' value='order'   \> Order</li>
    <li><input type='radio' id='' name='tax_depth' value='family'  \> Family</li>
    <li><input type='radio' id='' name='tax_depth' value='genus'   \> Genus</li>
    <li><input type='radio' id='' name='tax_depth' value='species' \> Species</li>
    <li><input type='radio' id='' name='tax_depth' value='strain'  \> Strain</li>
  </ul>
  </td></tr>
  </table>
  