<%    var rows = JSON.parse(constants).UNITSELECT.units; %>
Units Selection:
    <select id='unit_selection_name' name='unit_selection'>

<%    for (var i in rows) { %>
<%      var file_id  = rows[i].id; %>
<%      var name     = rows[i].name; %>
<%      var file     = rows[i].file; %>
<%      if (file_id === 'tax_silva108_simple') {  %>
          <option selected value='<%= file_id %>'><%= name %></option>
<%      } else { %>
          <option value='<%= file_id %>'><%= name %></option>
<%      } %>
<%     }  %>
    </select>

