<ul>
<% for (pid in proj) { %>
	<% var public = proj[pid].public; %>
	<% if(public == 1) { %>
	    <br/>
	    <li>
	      <a href='/projects/<%= pid %>'> <%= proj[pid].project %> </a>
	      		<br>&nbsp;&nbsp;Title: <%= proj[pid].title %>
	    </li>
	<% } %>
    
<% }%>
</ul>


