<ul>
<% for (var i = 0; i < projects.length; i++) {%>
    <% var obj = projects[i];%>
    <br/>
    <li>
      <a href='/projects/<%= obj.pid %>'> <%= obj.name %> </a>
      		<br>&nbsp;&nbsp;Title: <%= obj.title %>; 
    </li>
<% }%>
</ul>


