<html>
<head>
	<title>TITLE</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/global.js"></script>
	<script type="text/javascript" src="/javascripts/projects.js"></script>
</head>
<body onload="load_main_menu('<%= JSON.stringify( user ) %>'); load_projectslist('<%= JSON.stringify(rows) %>');">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div id='login_link' class=''></div>
<div id='title'>VAMPS Projects Listing</div>
<div id='subtitle'></div>
<div class='content'>  
  <div id='project_list_div' class='general_table' ></div>
</div>

</body>
</html>