<% include ../add_ins/begin.ejs %>
<% data = JSON.parse(info)      %>
<% portals = JSON.parse(portal)    %>

  <% if (messages.success) { %>
  	<div class="alert_flash_message_success"><%= messages.success %></div>
  <% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail"><%= messages.fail %></div>
  <% } %>
<% if(project_prefix.substring(0,3) == 'DCO' ){ %>
    <div class='pull-right'><img src='/static/images/<%= project_prefix %>.png' alt='project_image' height='200'></div>
    
    
    
<% } %>

<% if(data.metagenomic == 1){ %>
    <div class="title fa fa-anchor">Metagenomic Project Profile</div>
<% }else{ %>
  <div class='title fa fa-anchor'>Project Profile</div>
<% } %>  
  <div class='subtitle'><%= data.project %><br>
  <% if(Object.getOwnPropertyNames(portals).length > 0){ %>
    <small>Member of: 
    <% x=0 %>
    <% for(p in portals){ %>
        <% if(x > 0){ %>
            and
        <% }%>
        <a href='/portals/<%= portals[p].portal %>'><%= portals[p].title %></a>
        <% x += 1%>
    <% } %>
    </small>
  <% } %>  
  </div>
  <!-- PROJECT INFORMATION -->
  <div id='project_info_div'>
    <% include project_profile %>
  </div>


<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-sortable.js"></script>
<script type="text/javascript" src="/javascripts/project.js"></script>

</body>
</html>
