<html>
<head>
	<title>TITLE</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/global.js"></script>
</head>

<body onload="load_main_menu('<%= JSON.stringify( user ) %>');">
<div id='header' class='header'></div>
<div id='main_menu' class='main_menu'></div>
<div id='login_link' class=''></div>
<div id='title'  class=''>VAMPS</div>
<div id='subtitle'  class=''></div>
<div class='content'> 
<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Project Profile</h1>
</div>
	<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span></h3>

					<p>
						
						<strong>ID</strong>: <%= rows[0].id %><br>
						<strong>Name</strong>: <%= rows[0].project %><br>
						<strong>Title</strong>: <%= rows[0].title %><br>
						<strong>Description</strong>: <%= rows[0].project_description %><br>
						
					
					</p>

			</div>
		</div>

</div>
</body>
</html>