<html>
<head>
  <title>VAMPS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/960.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/visualization.css">  
</head>
<body>
  <div class='' id="body">    
    
  <div class="" id="content">  <!-- ends in end.ejs -->