<html>
<head>
  <title>VAMPS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/960.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/visualization.css">  
</head>
<body>
  <div class='container_12' id="body">
    <div  class='header grid_12' id='header'>
      <% include header.html %>
    </div>

    <div class="main_menu grid_3" id='main_menu'>
      <% include main_menu.html %>
    </div>

    <div class="grid_9" id='title'>
      <div id='' class='login_link'><%=  include login_line.html %></div>
      <div id='' class='title'>VAMPS (Node.js)</div>
      <div id='' class='subtitle'>The Visualization and Analysis
          of Microbial Population Structures
      </div>
    </div>

    <div class="grid_9" id="content">  <!-- ends in end.ejs -->
