   
        <% include ../add_ins/footer.html %>
    </div>  <!-- starts in begin.ejs -->
	</div>  <!-- starts in begin.ejs -->
 </div>  <!-- starts in begin.ejs --> 
   
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>>
   
    
  
  