    </div>  <!-- end grid_9  content -->
    <script type="text/javascript" src="/javascripts/global.js"></script>

    <div class="grid_7 prefix_4 suffix_1" id="footer">
      <% include footer.html %>
    </div>
  </div>    <!-- end container_12 -->
</body>
</html>
