   
        <% include ../add_ins/footer.html %>
    </div>  <!-- starts in begin.ejs -->
	</div>  <!-- starts in begin.ejs -->
    </div>  <!-- starts in begin.ejs --> 
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script> 
  
  