Filter Projects
          <!-- FILTER -->
          <div id='' class=''>
            <table id='filters_table' class='table table-striped' border='1' width=''>
              <tr>
                <td>by Substring:<br>
                  <input id="pname_search_id" class="" autocomplete="off"  type="text" size='15' value='' onkeyup="showLiveProjectNames(event, this.value)"/>
                  <span id='substring_on_id' class='pull-right filter_note'></span>
                </td>
              </tr>
              <tr>
                <td>
                  by ENV Source:<br>
                  <select id='env_source_select' >
                    <option>.....</option>
                    <% for(n in env_sources) { %>
                      <% if(env_sources[n] != ''){ %>
                        <% var val = n.toString() + '--' + env_sources[n] %>
                        <% if(env_sources[n] == 'human associated'){ %>
                            <option value='<%= val %>'><%= env_sources[n] %> <small>(all human)</small></option>
                        <% }else{ %>
                            <option value='<%= val %>'><%= env_sources[n] %></option>
                        <% } %>
                      <% } %>
                    <% } %>
                  </select>
                  <span id='env_on_id' class='pull-right filter_note'></span>
                </td>
              </tr>
              <tr>
                <td>
                  by Domain/Target:<br>
                  <select  id='target_select'>
                    <option>.....</option>
                    <% for(n in targets) { %>
                      <option value='<%= targets[n] %>'><%= targets[n] %></option>
                    <% } %>
                  </select>
                  <span id='target_on_id' class='pull-right filter_note'></span>
                </td>
              </tr>
              <% if(portal_to_show == ''){ %>  
                <tr>
                  <td>
                    by Portal:<br>
                    <select  id='portal_select'>
                      <option>.....</option>
                      <% for(n in portals) { %>
                        <option value='<%= n %>'><pre><%= n %> --<%= portals[n].name %></pre></option>
                      <% } %>
                    </select>
                    <span id='portal_on_id' class='pull-right filter_note'></span>
                  </td>
                </tr>
              <% } %>
              <tr>
                <td>
                  <input type='radio' id='status_pub'  name='pub_priv' value='1' > public&nbsp;&nbsp;
                  <input type='radio' id='status_priv' name='pub_priv' value='0'> private
                  <span id='public_on_id' class='pull-right filter_note'></span>
                </td>
              </tr>
              <tr>
                <td>Metadata:</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;item-1:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;<select  id='metadata_select1' style='width:80%;'>
                    <option>.....</option>
                    <% for(n in md_names) { %>
                      <option value='<%= md_names[n] %>'><%= md_names[n] %></option>
                    <% } %>
                  </select>
                  <span id='metadata_on_id1' class='pull-right filter_note'></span>
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;item-2:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;<select  id='metadata_select2' style='width:80%;'>
                    <option>.....</option>
                    <% for(n in md_names) { %>
                      <option value='<%= md_names[n] %>'><%= md_names[n] %></option>
                    <% } %>
                  </select>
                  <span id='metadata_on_id2' class='pull-right filter_note'></span>
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;item-3:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;<select  id='metadata_select3' style='width:80%;'>
                    <option>.....</option>
                    <% for(n in md_names) { %>
                      <option value='<%= md_names[n] %>'><%= md_names[n] %></option>
                    <% } %>
                  </select>
                  <span id='metadata_on_id3' class='pull-right filter_note'></span>
                </td>
              </tr>
            </table>
            
          </div>