<% active_class_home    = '' %>
<% active_class_oview   = '' %>
<% active_class_visuals = '' %>
<% active_class_ydata   = '' %>
<% active_class_search  = '' %>
<% active_class_contact = '' %>
<% active_class_portals = '' %>
<% active_class_admin   = '' %>
<% active_class_dco     = '' %>
<% active_class_more   = '' %>

<% if(typeof menu_section != 'undefined'){  %>
<%  if(menu_section=='HOME') { %>
<%    active_class_home = 'active' %>
<%  }else if(menu_section=='OVERVIEW') { %>
<%    active_class_oview = 'active' %>
<%  }else if(menu_section=='VISUALS') { %>
<%    active_class_visuals = 'active' %>
<%  }else if(menu_section=='YOURDATA') { %>
<%    active_class_ydata = 'active' %>
<%  }else if(menu_section=='SEARCH') { %>
<%    active_class_search = 'active' %>
<%  }else if(menu_section=='PORTALS') { %>
<%    active_class_portals = 'active' %>
<%  }else if(menu_section=='CONTACT') { %>
<%    active_class_contact = 'active' %>
<%  }else if(menu_section=='ADMIN') { %>
<%    active_class_admin = 'active' %>
<%  }else if(menu_section=='MORE') { %>
<%    active_class_more = 'active' %>
<%  }else if(menu_section=='DCO') { %>
<%    active_class_dco = 'active' %>
<%  } %>
<% } %>
    <nav class="navbar navbar-custom navbar-fixed-top  ">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top  "> -->
      <% if(hostname.substr(0,7) == 'bpcweb8'){ %>
        <div class="navbar-text pull-left" style='padding:5px; background:orange;font-size:9px;border:1px solid red;-moz-border-radius:20px/10px;-webkit-border-radius:20px/10px;border-radius:20px/10px'>
          This is BETA Software
        </div>
      <% }else if(hostname.substr(0,7) == 'bpcweb7'){ %>
        <div class="navbar-text pull-left" style='padding:5px; background:hotpink;font-size:9px;border:1px solid yellow;-moz-border-radius:20px/10px;-webkit-border-radius:20px/10px;border-radius:20px/10px'>
          VAMPS Development Version
        </div>
      <% }else if(hostname.substr(-5) == 'cloud'){ %>
        <div class="navbar-text pull-left" style='padding:5px; background:DEEPSKYBLUE;font-size:9px;border:1px solid yellow;-moz-border-radius:20px/10px;-webkit-border-radius:20px/10px;border-radius:20px/10px'>
          VAMPS Jetstream-Cloud
        </div>
      <% }else{ %>
        <div class="navbar-text pull-left" style='padding:5px; background:hotpink;font-size:9px;border:1px solid yellow;-moz-border-radius:20px/10px;-webkit-border-radius:20px/10px;border-radius:20px/10px'>
          Local Version
        </div>
      <% } %>

      <div class="container">

        <div id="navbar" class="navbar-collapse collapse">


          <div class="navbar-text pull-right" >
            <small>
              <% if (typeof user === 'undefined' ) { %>
                  <a href='/users/login' class="navbar-link" >login</a> or
                  <a href='/users/signup' class="navbar-link" >register</a>
              <% } else { %>
                  <a href="/users/profile" class="navbar-link"><%= user.username %></a>
                  <% if (user.security_level === 1) { %>
                    (<span class='color_red '>Admin User</span>)
                  <% }else if(user.security_level === 10){ %>
                    (<span class='color_blue'>MBL Power User</span>)
                  <% }else if(user.security_level === 45){ %>
                    (<span class='color_blue'>DCO Editor</span>)
                  <% } %>
                  | <a href='/users/logout'> logout</a>
              <% } %>
              </small>
          </div>


          <ul class="nav navbar-nav">
            <li class='<%= active_class_home %>'><a href="/">VAMPS Home</a></li>


			      <li class='<%= active_class_oview %>'><a href="/help/overview">Overview</a></li>

			      <li class='<%= active_class_visuals %>'>
              <!-- <a href="/visuals/visuals_index">Visualizations</a> -->

              <form action="/visuals/visuals_index" method="POST">
                <button type="submit" class='btn btn-md btn-link' name="" value="" style='padding:14px;'>Data Selection</button>
              </form>

            </li>

            <li class='<%= active_class_ydata %>'><a href="/user_data/your_data">Your Data</a></li>
            <li class='<%= active_class_search %>'><a href="/search/search_index">Search</a></li>
            <li class='<%= active_class_portals %>'><a href='/portals/portals_index'>Portals</a></li>
            <li class='<%= active_class_contact %>'><a href="/help/contact">Contact Us</a></li>
          <% if (typeof user !== 'undefined' && user.security_level === 1) { %>
              <li class='<%= active_class_admin %>'><a href="/admin/admin_index">Admin</a></li>
          <% } %>
            <li class="<%= active_class_more %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More<span class="caret"></span></a>


              <ul class="dropdown-menu" role="menu">
                <% if (typeof user === 'undefined') { %>
                  <li><a href="/users/signup">Register</a></li>
                <% }else{ %>
                  <li><a href="/users/profile">Your Account</a></li>
                <% } %>


                <li class="divider"></li>

                <li><a href='/projects/projects_index'>All Projects List</a></li>
                <li><a href='/geodistribution'>All Projects Distribution Map</a></li>
                <li><a href='/metadata/metadata'>Metadata</a></li>
                <li><a href='https://vamps.mbl.edu'>Original VAMPS (obsolete)</a></li>


                <li>

                <form action="/visuals/visuals_index" method="POST">
                  <button type="submit" class='btn btn-md btn-link' name="" value="" style='color:black;padding-left:20px;'>Download Data</button>
                </form>
                </li>


                <li><a href='/otus/otus_index'>Precompiled OTUs</a></li>


                <% if (typeof user !== 'undefined') { %>
                    <%  //if (typeof user !== 'undefined' && user.security_level <=10) { %>
                            <li><a href='/metagenome/index'>Metagenomic Projects</a></li>
                    <%  //} %>
                <%  } %>

                <li class="divider"></li>                
                <li class="dropdown-header">Resources</li>
                <li><a href='/resources/reference_data'>Reference Data</a></li>
                <li><a href='/resources/primers'>Primers</a></li>
                <li><a href="/resources/methods_pubs">Methods Publications</a></li>
                <li><a href='/resources/research_pubs' >Research Publications</a></li>
                <li><a href='/resources/software'>Software and Links</a></li>

                <li class="divider"></li>
                <li class="dropdown-header">Help</li>
                <li><a href="/help/overview">Overview</a></li>
                <li><a href='/help/faq' target='_blank'>FAQ</a></li>
                <li><a href='/help/contact'>Contact Us</a></li>
                <li><a href='https://github.com/avoorhis/vamps-node.js/issues' target='_blank'>Found Bug? Let us know on GitHub</a></li>

              </ul>
            </li>
          </ul>



        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav>
