
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
         
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<p class="navbar-text pull-right">
			        
					<% if (user === undefined) { %>
					    
					    <a href='/users/login' class="navbar-link" >login</a> or
					    <a href='/users/signup' class="navbar-link" >register</a>
					<% } else { %>
					    Logged in as: <a href="/users/profile" class="navbar-link"><%= user.username %></a>
					    <% if (user.security_level === 1) { %>
					      (<span class='color_red '>admin</span>)
					    <% } %>
					    <a href='/users/logout'> logout</a>
					<% } %>
					
			 </p>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">VAMPS Home</a></li>
			      <li><a href="/help/overview">Overview</a></li>
			      <li><a href="/visuals/visuals_index">Visualizations</a></li>
			      <li><a href="/user_data/your_data">Your Data</a></li>
            <li><a href="/search/search_index">Search</a></li>
            <li><a href="/help/contact">Contact Us</a></li>
          <% if (user !== undefined && user.security_level === 1) { %>
              <li><a href="/admin">Admin</a></li>
          <% } %>  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links<span class="caret"></span></a>
              

              <ul class="dropdown-menu" role="menu">
                <% if (user === undefined) { %>
                  <li><a href="/users/signup">Register</a></li>
                <% }else{ %>
                  <li><a href="/users/profile">Account</a></li>
                <% } %>
                <li class="divider"></li>
                                
                <li><a href='/projects/projects_index'>Public Project List</a></li>
                <li><a href='/geodistribution'>Distribution</a></li>
                <li><a href='/metadata'>Metadata</a></li>
                <li><a href='/portals/portals_index'>Portals</a></li>
                <li><a href='/user_data/import_choices'>Import Data</a></li>
				        <li><a href='/user_data/export_data'>Export Data</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Help</li>
                <li><a href="/help/overview">Overview</a></li>
                <li><a href='/help/faq'>FAQ</a></li>
                <li><a href='/help/contact'>Contact Us</a></li>
                <% if (user !== undefined && user.security_level === 1) { %>
                  <li class="dropdown-header">Admin</li>
                  <li><a href='/users/users_index'>User List (admin only)</a></li>
                <% } %>
                
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>