
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
         
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<p class="navbar-text pull-right">
			        
					<% if (user === undefined) { %>
					    
					    <a href='/users/login' class="navbar-link" >login</a> or
					    <a href='/users/signup' class="navbar-link" >register</a>
					<% } else { %>
					    Logged in as: <a href="/users/profile" class="navbar-link"><%= user.username %></a>
					    <% if (user.security_level === 1) { %>
					      (<span class='color_red '>admin</span>)
					    <% } %>
					    <a href='/users/logout'> logout</a>
					<% } %>
					
			 </p>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">VAMPS Home</a></li>
            <li><a href="/overview">Overview</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="index_visuals">Visualizations</a></li>
                <li><a href="#">Search Metadata</a></li>
                <li><a href="#">Search Sequences</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Information</li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="import">Import</a></li>
				<li><a href="export">Export</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>