<!-- Not used for now. We can use layouts with ejs-locals  -->
<html>
<head>
  <title>VAMPS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/960.css">
</head>

<body>
<div id='header' class='header'>
  <% include header.html %>
</div>
<div id='main_menu' class='main_menu'>
  <% include main_menu.html %>
</div>
<div id='login_link' class=''>
  <% include login_link.html %>

</div>
<div id='title' class=''>VAMPS Title Here</div>
<div id='subtitle'  class=''></div>
<div class='container_12'>
  <div class="grid_3">&nbsp;</div>
  <div class="grid_9">
    <% include ??? %>
  </div>  <!-- end grid_9 -->
</div>    <!-- end container_12 -->
<script src="/javascripts/jquery-2.1.1.min.js" defer></script>>
<script type="text/javascript" src="/javascripts/global.js" defer></script>>
</body>
</html>