<p class='standard'>
    1) Check your selected datasets from the list above.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go back to change them if needed.<br>
    2) From the Units Selection choose your units. <br>
    3) Choose normalization. <br>
    4) Then select the analyses from the series below. <br>
    5) Select the 'Next: Get Graphics' button above to continue.
</p>
<ul>
    <li><input type='checkbox' id='' name='visuals[]' value='heatmap'         \> Heatmap</li>
    <li><input type='checkbox' id='' name='visuals[]' value='taxtable'        \> Counts (taxonomy) Table</li>
    <li><input type='checkbox' id='' name='visuals[]' value='barcharts'       \> Bar Charts</li>
    <li><input type='checkbox' id='' name='visuals[]' value='dendrogram'      \> Dendrograms</li>
    <li><input type='checkbox' id='' name='visuals[]' value='alphadiversity'  \> Alpha Diversity</li>
</ul>
    
