<% include ../add_ins/begin.ejs %>
<div class='pull-right'>
    <a href="/user_data/add_project" class='btn btn-sm btn-primary'>Add New Project</a>
</div>
<p class="title">Import Data</p>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br>
<% if (!form_data) {
  var form_data = {}
}%>

	
	
	
<!-- ========== SIMPLE / SINGLE FASTA ============================================================================================== 
    Todo later: raw data processing (illumina -hiseq -miseq -newseq; 454)
    -->	
 
 <a href="/user_data/import_choices" >&lt;&lt;--back</a>
 <% if(import_type == "simple_fasta") { %>
    
  <form class="form-horizontal" role="form" method="POST" action="upload_data" enctype="multipart/form-data">
    
	<h4>Import Simple (single dataset) Form: <small>(All fields are required)</small></h4>
  <!-- 
<div class="form-group">
        <label class="control-label col-sm-3" for="project">RECOMMENDED:</label>         
        <div class="col-sm-2 btn">
          <a href="validate_format?file_type=fasta" >Validate Fasta File</a> | <a href="validate_format?file_type=metadata" >Validate Metadata File</a>
        </div> 
  </div>
 -->
	<div class="form-group">
      <label class="control-label col-sm-3" for="project">Project Name:</label>
	  <div class="col-sm-3">
        <input type="text" name="project" class="form-control" id="project" placeholder="Enter a New Project Name" value="<%=form_data.project%>">
      </div>
	  <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="meta">Dataset Name:</label>
      <div class="col-sm-3">          
        <input type="text" name="dataset" class="form-control" id="dset" placeholder="Enter a Dataset Name" value="<%=form_data.dataset%>">
      </div>
	  <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    This will overwrite dataset name in metadata file
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Fasta File <small>(required)</small>:</label>
      <div class="col-sm-3 btn">


        <input type="file" name="upload_files" class="" id="fasta">


      </div>Format: fasta (gzipped or uncompressed) 
	       <a href="/help/faq#formats" target="_blank" title="format"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="meta">Metadata File <small>(optional)</small>:</label>
      <div class="col-sm-3 btn"> 


        <input type="file" name="upload_files" class="" id="meta">


      </div>Format: TAB-delimited csv (gzipped or uncompressed) <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
      <br><small>(<a href="/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv">template of recommended metadata</a>)</small>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	<input type="hidden" name="type" value="<%= import_type %>">
  </form>
<% } else if(import_type == "multi_fasta") { %>
<!-- ================ MULTI FASTA ======================================================================================== -->		
 
  <form class="form-horizontal" role="form" method="POST" action="upload_data" enctype="multipart/form-data">
	<h4>Import Multi-Dataset Form: <small>(All fields are required)</small></h4>
	
	<!-- 
  <div class="form-group">
        <label class="control-label col-sm-3" for="project">RECOMMENDED:</label>         
        <div class="col-sm-2 btn">
          <a href="validate_format?file_type=fasta" >Validate Fasta File</a> | <a href="validate_format?file_type=metadata" >Validate Metadata File</a>
        </div> 
  </div>
 -->
  
  <div class="form-group">
      <label class="control-label col-sm-3" for="project">Project Name:</label>
      
	  <div class="col-sm-3">
        <input type="text" name="project" class="form-control" id="project" placeholder="Enter New Project Name">
      </div><a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Fasta File <small>(required)</small>:</label>
      <div class="col-sm-3 btn">
        <input type="file" name="upload_files" class="" id="fasta" >
      </div>Format: gzipped or uncompressed 
      <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="meta">Metadata File <small>(optional)</small>:</label>
      <div class="col-sm-3 btn">          
        <input type="file" name="upload_files" class="" id="meta" >
      </div>
      Format: gzipped or uncompressed <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
      <br><small>(<a href="/user_data/file_utils?fxn=download&template=1&filename=/public/scripts/metadata_template.csv">template of recommended metadata</a>)</small>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	<input type="hidden" name="type" value="<%= import_type %>">
  </form>
<!-- ================== ADD METADATA ====================================================================================== -->		
<% } else if(import_type == "metadata") { %>

  <form class="form-horizontal" role="form" method="POST" action="upload_metadata" enctype="multipart/form-data">
  	<h4>Add Metadata to a Project: <small>(All fields are required)</small></h4>
  	
  	<!-- 
<div class="form-group">
        <label class="control-label col-sm-3" for="project">RECOMMENDED:</label>         
        <div class="col-sm-2 btn">
          <a href="validate_format?file_type=metadata" >Validate Metadata File</a>   
        </div> 
    </div>
 -->
    
    <div class="form-group">
        <label class="control-label col-sm-3" for="project">Project Name:</label>      
        <div class="col-sm-2 btn">
          <select name="project_name" class="">
			       <option>select project name</option>
             <% for(i in my_projects) { %>
              <option><%= my_projects[i] %></option>
             <% } %>
		      </select>   
	    </div>
  	</div>
    
    <div class="form-group">
        <label class="control-label col-sm-3" for="meta">Metadata File Format:</label>
        <div class="col-sm-2 btn"> 
           QIIME Style Mapping File
          <a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="meta">Metadata File:</label>
        <div class="col-sm-2 btn">          
          <input type="file" name="upload_file" class="" id="meta" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="meta">Replace or Add To<br>Existing Metadata:</label>
        <div class="col-sm-2 btn"> 
          <input type="radio" disabled="disabled" name="add_to_or_replace" value="add"> Add To  
          - OR -        
          <input type="radio" checked="checked" name="add_to_or_replace" value="replace"> Replace<br>
        </div>
        
    </div>
    
	 
  	
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
	<input type="hidden" name="type" value="<%= import_type %>" />
  </form>
<!-- =================== ADD DATASET ===================================================================================== -->	
<% } else if(import_type == "new_data") { %>
 
  <form class="form-horizontal" role="form" method="POST" action="upload_data" enctype="multipart/form-data">
  	<h4>TODO: Import New Datasets to Project: <small>(All fields are required)</small></h4>
  	
  	<!-- 
<div class="form-group">
        <label class="control-label col-sm-3" for="project">RECOMMENDED:</label>         
        <div class="col-sm-2 btn">
          <a href="validate_format?file_type=fasta" >Validate Fasta File</a>
        </div> 
   </div>
 -->
   
    <div class="form-group">
        <label class="control-label col-sm-3" for="project">Project Name:</label>      
        <div class="col-sm-3">
          <select class="">
			<option>select project name</option>
		  </select>   
	    </div>
  	</div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Fasta File:</label>
      <div class="col-sm-3 btn">
        <input type="file" name="upload_files" class="" id="fasta" >
      </div><a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
	<input type="hidden" name="type" value="<%= import_type %>" />
  </form>
<!-- =================== TAX - BY - SEQ ===================================================================================== -->  
<% } else if(import_type == "tax_by_seq") { %>
 
  <form class="form-horizontal" role="form" method="POST" action="upload_data_tax_by_seq" enctype="multipart/form-data">
    <h4>Import TaxBySeq File Form: <small>(All fields are required)</small></h4>
    <br>   
    
    <div class="form-group">
        <label class="control-label col-sm-3" for="project">Project Name:</label>
        <div class="col-sm-3">
            <input type="text" name="project" class="form-control" id="project" placeholder="Enter New Project Name for Entire Set">
        </div><a href="/help/faq#formats" target="_blank" title="formats"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    
    <div class="form-group">  
        <label class="control-label col-sm-3" for="">OR</label>     
        <div class="col-sm-5">
            <input type="checkbox" name="use_original_names" class="" id="use_original_names" placeholder="Use Original Names"> Use original VAMPS project and dataset names from the file
        </div>
    </div>
    <hr>
    <div class="form-group">  
        <label class="control-label col-sm-3" for="">Use Taxonomy from TaxBySeq File:</label> 
        <div class="col-sm-5">
          <input type="radio" checked name="use_tax_from_file" value="1"> Yes &nbsp; &nbsp;&nbsp;&nbsp;    <input type="radio" name="use_tax_from_file" value="0"> No
           -- You will need to assign taxonomy later.
        </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label col-sm-3" for="fasta">TaxBySeq File (required):</label>
      <div class="col-sm-3 btn">
        <input type="file" name="upload_files" class="" id="tax_by_seq" >
      </div>Format: Direct download from <a href="https://vamps.mbl.edu/exporter/export_data.php" target="_blank">VAMPS</a> (gzipped or uncompressed) 
          <a href="/help/faq#formats" target="_blank" title="formats">
          <span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Metadata File (optional):</label>
      <div class="col-sm-3 btn">
        <input type="file" name="upload_files" class="" id="metadata" >
      </div>Format: Direct download from <a href="https://vamps.mbl.edu/exporter/export_data.php" target="_blank">VAMPS</a> (gzipped or uncompressed) 
          <a href="/help/faq#formats" target="_blank" title="formats">
          <span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    
    
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <input type="hidden" name="type" value="<%= import_type %>">
  </form>
<% } else { %>
    <br>Stuff to do here
<% } %>
	
<% include ../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/import.js"></script>
 </body>
 </html>