<% include ../../add_ins/begin.ejs %>


<p class="title">Import Data</p>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br>

<h4>**Not Coded Yet**</h4>
<!-- ========== BIOM FILE FORMAT ============================================================================================== 
    Todo later: raw data processing (illumina -hiseq -miseq -newseq; 454)
    -->	
 
 <a href="/user_data/import_choices" >&lt;&lt;--back</a>
    
  <form class="form-horizontal" role="form" method="POST" action="biom" enctype="multipart/form-data">
    
	<h4>Import Biom Form: <small>(All fields are required)</small></h4>

	
	<div class="form-group">
      <label class="control-label col-sm-3" for="project">Project Name (required):</label>
	  <div class="col-sm-5">          
        <input type="text" name="project" class="form-control" id="pname_input"  value="<%= def_name %>" >
      </div>    
    </div>
    

	<div class="form-group">
      <label class="control-label col-sm-3" for="fasta">BIOM File <small>(required)</small>:</label>
      <div class="col-sm-2">

        <input type="file" name="upload_files" class="" id="file_input" >

      </div>
      <div class="col-sm-5">
        File can either be compressed (gzipped with .gz extension) or uncompressed (plain text)
	       <a href="/help/faq#formats" target="_blank" title="format"><span class="glyphicon glyphicon-question-sign"></span></a>
      </div>
    </div>
    
    <div id='bar_div'  class="form-group" style='display:none'>
        <label class="control-label col-sm-3" for="fasta">Upload Progress:</label>
        <div class="col-sm-5">
          <div id='bar' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=""
                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
          </div>
        </div>
    </div>
    
    
    
  
<div class="form-group">
    <label class="control-label col-sm-3" for="fasta">Preparing the BIOM file:</label> 
    <div class="col-sm-8">
        
       
    </div>    
</div>
    
    
    
    
    <br><br>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <!-- <button id='submit_btn' type="submit" class="btn btn-default">Submit & Validate</button> -->
        <input id='submit_btn' type="button" class="btn btn-default" value='Submit & Validate' onclick="//process_upload_form('fasta')">
      </div>
    </div>
	<input type="hidden" name="type" value="">

</form>

	
<% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/import.js"></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
<script>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>