<% include ../../add_ins/begin.ejs %>


<p class="title">Import Data</p>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br>


<!-- ========== SIMPLE / SINGLE FASTA ============================================================================================== 
    Todo later: raw data processing (illumina -hiseq -miseq -newseq; 454)
    -->	
 
 <a href="/user_data/import_choices" >&lt;&lt;--back</a>
    
  <form class="form-horizontal" role="form" method="POST" action="fasta" enctype="multipart/form-data">
    
	<h4>Import Fasta Form: <small>(All fields are required)</small></h4>

	
	<div class="form-group">
      <label class="control-label col-sm-3" for="project">Project Name (required):</label>
	  <div class="col-sm-5">          
        <input type="text" name="project" class="form-control" id="pname_input" placeholder="Enter a Project Name" value="" onchange='check_fasta_inputs()')>
      </div>    
    </div>
    

	<div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Fasta File <small>(required)</small>:</label>
      <div class="col-sm-2">

        <input type="file" name="upload_files" class="" id="file_input" onchange='check_fasta_inputs()'>

      </div>
      <div class="col-sm-5">
        File can either be compressed (gzip only) or uncompressed (plain text)
	       <a href="/help/faq#formats" target="_blank" title="format"><span class="glyphicon glyphicon-question-sign"></span></a>
      </div>
    </div>
    
    
    <div class="form-group">
      <label class="control-label col-sm-3" for="fasta">Choose Fasta Format:</label>
      <div class="col-sm-5">
        <input type="radio" name="fasta_format" class="" value="single_ds" onchange="check_fasta_inputs()">
            Demultiplexed (The entire file represents one sample (dataset))
        <br>
        <input type="radio" name="fasta_format" class="" value="multi_ds" onchange="check_fasta_inputs()"> 
            Not Demultiplexed (Multiple samples (datasets) in fasta file) (Non-Uniqued ONLY)
        <div class="well well-sm">
            IMPORTANT definition line (defline) differences:
            <br>
            &nbsp;&nbsp;&nbsp;"single sample" example defline (Demultiplexed):<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>&gt;uniqueID| (+/-other information (not-used)) |frequency:xxx (only if uniqued)</small>
            <br>
            &nbsp;&nbsp;&nbsp;"multiple samples" example defline (Not-Demultiplexed):<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>&gt;sampleName|uniqueID| (+/-other information (not-used)) |frequency:xxx (only if uniqued)</small>
       </div>
       
      </div>
	  <!-- <a href="/help/faq#formats" target="_blank" title="format"><span class="glyphicon glyphicon-question-sign"></span></a> -->
    </div>
    
    <div class="form-group">
      
      <label class="control-label col-sm-3" for="fasta">Uniqued Sequences Status:</label>
      
      <div class="col-sm-2">
        <input type="radio" name="unique_status" class="" value="uniqued"  onchange='check_fasta_inputs()'> unique 
        <br>
        <input type="radio" name="unique_status" class="" value="not_uniqued"  onchange='check_fasta_inputs()'> non-unique

      </div>
      <div class="col-sm-5">
          Indicate whether or not the fasta file sequences represent unique (per sample) sequences or not.<br>If they are unique
          then the defline for each sequence MUST indicate the count by terminating like this:<br><pre>|frequency:XXX</pre> where XXX is the
          number of this sequence in the sample. 
      </div>
    </div>

<div id='dataset_input' class="form-group" style=''>
      <label class="control-label col-sm-3" for="dataset">Sample Name:</label>
	  <div class="col-sm-3">          
        <input type="text" disabled name="dataset" class="form-control" id="dname_input" placeholder="Disabled by default" value="" onchange='check_fasta_inputs()'>
      </div> 
    
</div>	

    <br><br>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button disabled id='submit_btn' type="submit" class="btn btn-default">Submit & Validate</button>
      </div>
    </div>
	<input type="hidden" name="type" value="">

</form>

	
<% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/import.js"></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
<script>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>