<% include ../../add_ins/begin.ejs %>


<p class="title">Import Data</p>
<% if(messages.success){ %>
  <div class="alert_flash_message_success" ><%- messages.success %> </div>
<% }else if(messages.fail){ %>
    <div class="alert_flash_message_fail" ><%- messages.fail %> </div>
<% } %>
<br>


<!-- ========== SIMPLE / SINGLE MATRIX ============================================================================================== 
    Todo later: raw data processing (illumina -hiseq -miseq -newseq; 454)
    -->	
 
 <a href="/user_data/import_choices" >&lt;&lt;--back</a>
    
  <form class="form-horizontal" role="form" method="POST" action="matrix" enctype="multipart/form-data">
    
	<h4>Import Matrix Form: </h4>

	
	<div class="form-group">
      <label class="control-label col-sm-3" for="project">Project Name (required):</label>
	  <div class="col-sm-5">          
        <input type="text" name="project" class="form-control" id="pname_input"  value="<%= def_name %>" >
      </div>    
    </div>
    

	<div class="form-group">
      <label class="control-label col-sm-3" for="matrix">Matrix File <small>(required)</small>:</label>
      <div class="col-sm-2">

        <input type="file" name="upload_files" class="" id="file_input" >

      </div>
      <div class="col-sm-5">
        File can either be compressed (gzipped with .gz extension) or uncompressed (plain text)
	       <a href="/help/faq#formats" target="_blank" title="format"><span class="glyphicon glyphicon-question-sign"></span></a>
      </div>
    </div>
    
    <div id='bar_div'  class="form-group" style='display:none'>
        <label class="control-label col-sm-3" for="matrix">Upload Progress:</label>
        <div class="col-sm-5">
          <div id='bar' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=""
                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
          </div>
        </div>
    </div>
    
    
    
  
<div class="form-group">
    <label class="control-label col-sm-3" for="matrix">Preparing the Matrix file:</label> 
    <div class="col-sm-8">
        
        The input Matrix file has to be formatted in a certain way
        as a requirement before uploading successfully. 
        <li>The delimiter MUST be a TAB character. 
        <li>Column names are the dataset names. 
        <li>The dataset names MUST start in Column #2.
        <li>Column #1 will contain the taxonomy strings and will start in Row #2.
        <li>Taxonomy strings cannot be more than eight ranks (domain..strain) and are separated by semi-colons(;).
        
    <small><pre>
 SAMPLE Format :   
                                                ds1	ds2	ds3	ds4	ds5
domain1;phylum2;class3;order3;family1;genus1	0	0	0	0	0
domain1;phylum2;class8;order9;family6;genus6	8	3	2	5	39
domain1;phylum9;class11;order2;family3	7	2	3	4	31
domain2;phylum5;class7;order7;family2;genus3	0	0	0	0	0
domain1;phylum3;class6;order4;family4;genus2	0	0	1	1	22
domain2;phylum4;class4;order6;family5;genus4	0	1	0	0	0
domain3;phylum6;class5;order5;family7;genus10	1	2	2	1	128
domain3;phylum7	0	1	0	0	1

    </pre></small>
        
    </div>    
</div>
    
    
    
    
    <br><br>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <!-- <button id='submit_btn' type="submit" class="btn btn-default">Submit & Validate</button> -->
        <input id='submit_btn' type="button" class="btn btn-default" value='Submit & Validate' onclick="process_upload_form('matrix')">
      </div>
    </div>
	<input type="hidden" name="type" value="">

</form>

	
<% include ../../add_ins/end.ejs %>
<script type="text/javascript" src="/javascripts/import.js"></script>
<script type='text/javascript' src='/javascripts/bootstrap-select.js'></script>
<script>
  $(document).ready(function(){
    $('.selectpicker').selectpicker({showSubtext:true, tickIcon: '',});
  });
</script>
 </body>
 </html>