<% menu_section='YOURDATA' %>
<% include ../add_ins/begin.ejs %>
<% user_info = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>

<p class='title center'>Investigator Profile</p>
<div class="row">
    <div class="col-lg-3"></div>	
	<div class='col-lg-6 well'>
			<li><%= user_info.first_name %> <%= user_info.last_name %>
			<li>username: <%= user_info.username %> 
			<li>email: <%= user_info.email %> 
			<li>institution: <%= user_info.institution %> 
			
	<% 			if(projects[0]) { %>
				
						<li>Owned Projects:<br>
				
						<div style='height:250px;overflow:auto;border:1px solid black;padding:2px 3px;'>
						<table>
						<% 	for(n in projects){ %>
									<tr><td><a href='/projects/<%= projects[n].project_id %>'><%= projects[n].project %></a></td></tr>
						<% 	} %>
						</table>
						</div>
			
	<% 			}else{ %>
						<li>No Projects
	<% 			} %>
				


	</div>
</div>
	
	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>