<% include ../add_ins/begin-no_menu.ejs %>
<% user_info = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>
<p class='title'>Investigator Profile
	
	<div class='well'>
			<li><%= user_info.first_name %> <%= user_info.last_name %>
			<li>username: <%= user_info.username %> 
			<li>email: <%= user_info.email %> 
			<li>institution: <%= user_info.institution %> 
			<% if(projects[0]) { %>
						<li>Projects:
						<% 	for(n in projects){ %>
									<br><a href='/projects/<%= projects[n].project_id %>'><%= projects[n].project %></a>
						<% 	} %>
			<% }else{ %>
				<li>No Projects
			<% } %>
	</div>
	
</p>	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>