<% include ../add_ins/begin.ejs %>
<% user_info = JSON.parse(user_info) %>

<% if (message) { %>
	<div class="alert_flash_message"><%= message %></div>
<% } %>

<p class='title center'>Investigator Profile</p>
	
	<div class='well'>
			<li><%= user_info.first_name %> <%= user_info.last_name %>
			<li>username: <%= user_info.username %> 
			<li>email: <%= user_info.email %> 
			<li>institution: <%= user_info.institution %> 
			<% if(projects[0]) { %>
				<li>Projects:
				<div style='height:200px;overflow;auto;'>
					<table>
						<% 	for(n in projects){ %>
									<tr><td><a href='/projects/<%= projects[n].project_id %>'><%= projects[n].project %></a></td></tr>
						<% 	} %>
					</table>
				</div>
			<% }else{ %>
				<li>No Projects
			<% } %>
	</div>

	
	
<% include ../add_ins/end.ejs %>
   
 </body>
 </html>