<% menu_section = 'HOME'; %>
<% include add_ins/begin-img.ejs %>

<% if (messages.success) { %>
<div class="alert_flash_message_success"><%= messages.success %></div>
<% }else if(messages.fail){ %>
<div class="alert_flash_message_fail"><%= messages.fail %></div>
<% } %>
<br>

<h4>How do I fill out the submission form?</h4>

<p>
    The submission form process starts on the project_submit page. You select the primary investigator for the new
    project you are creating, then using the guidelines below fill out the project name, title and description. as well
    as selecting the domain and region for your experiment.
    Also enter the funding code for the experiment and how many sample will be submitted.
</p>

<p>
    When you press the 'Validate' button it will check your entries for format and ask you to fix any errors before you
    are able to download it.
</p>

<ul>

    <li>Primary Investigator <strong>(do not leave empty)</strong>
        <ul>
            <li>
                Select an investigator from our database who will be the Primary Scientist associated with this project.
                If that person is not on this list they should request an account at vamps@mbl.edu.
            </li>
        </ul>
    </li>

    <li>
        Project Name <strong>(do not leave empty)</strong>

        <ul>
            <li>Format:</li>

            <li>
                The project names in VAMPS have three parts. The first part is usually the Primary Investigator's
                initials, but can be some other identifier. It is only 2-3 characters (alphabet with no digits)
            </li>

            <li>
                The second part is 3-4 characters (also alphabet with no digits) and is usually some abreviation or acronym identifing your project.
            </li>

            <li>
                The third part is determined by the type of analysis requested. It is in the form of Bv6 or Av4v5. where the 'B' and 'A' stand for Bacteria and Archaea respectively. Eukarya may also occur if you choose the ITS1 region.
                <br/>
                Currently for HiSEQ and MiSeq the dna_regions are v6 and v4v5 (or ITS1). The three parts are joined by an underscore to create the VAMPS project name. The submission form will report if the project name is already chosen and we reserve the right to change a submitted name.
            </li>
        </ul>
    </li>

    <li>
        Project Title <strong>(do not leave empty)</strong>
        This is a short statement about your project (one line - 60 characters).
    </li>

    <li>
        Project Description (~1000 characters do not leave empty)
        This is similar to an abstract about your project.
    </li>


    <li>
        Domain and Region <strong>(do not leave empty)</strong>
        Here is where you tell us what domain and DNA region should be analysed for this project.
    </li>

    <li>
        Funding Code <strong>(do not leave empty)</strong>
        This is the numeric code indicating the funding source for this project.
    </li>

    <li>
        Number of Samples to be Submitted <strong>(do not leave empty)</strong>
        Here you enter the number of sample tubes you will be submitting.
        When you download the form an empty row will be created for each row indicated.
    </li>

    Download and Fill in sample (dataset) information:
    When it validates you should download the file and open it on you local machine.
    The downloaded file is a Comma Separated Values (csv) file and it should be saved as a csv text file with no
    formatting,
    We recommend OpenOffice or Excel to edit the file.
    Once open you need to fill in the fields for your samples (datasets).
    When filling out the form be cautious not to change any of the headers as this will cause the validation to fail.

    Tube Number <strong>(do not leave empty)</strong>
    This is filled in already and is just a sequential number starting from one.

    Dataset Name <strong>(do not leave empty)</strong>
    Less than 30 characters (alphanumeric and '_' only and must start with a letter)
    This is how datasets will be named in VAMPS

    Dataset Description <strong>(do not leave empty)</strong>
    A short (1-2 sentances) description of the sample.

    Tube Label <strong>(do not leave empty)</strong>
    What is written on the sample tube for identification.

    Sample Concentration <strong>(do not leave empty)</strong>
    Numeric only (ng/ul)

    Quantitation Method <strong>(do not leave empty)</strong>
    can ONLY be one of:

    nanodrop
    picogreen
    qubit
    other

    Platform <strong>(do not leave empty)</strong>
    can ONLY be one of:

    454
    ion-torrent
    hiseq
    miseq
    nextseq

    Adaptor
    For illumina: A01 through H24 (okay to leave empty)

    For v4_hap: A25 through H36 (okay to leave empty)


    Environmental Source id <strong>(do not leave empty)</strong>
    Enter the ID associated with the environmental source from the table below:
    ID Sample Source
    10 Air
    20 Extreme Habitat
    30 Host Associated
    40 Human Associated
    41 Human - Skin
    42 Human - Oral
    43 Human - Gut
    44 Human - Vaginal
    45 Human - Amniotic Fluid
    46 Human - Urine
    47 Human - Blood
    50 Microbial Mat or Biofilm
    60 Miscellaneous or Artificial
    70 Plant Associated
    80 Sediment
    90 Soil or Sand
    100 Unknown
    110 Wastewater or Sludge
    120 Water - Freshwater
    130 Water - Marine
    140 Indoor


    <div class="hero-unit">
        <h2>VAMPS:</h2>
        <h3><i><u>V</u>isualization and <u>A</u>nalysis of <u>M</u>icrobial <u>P</u>opulation <u>S</u>tructures</i></h3>
        An integrated collection of tools for researchers to visualize and analyze data for microbial population
        structures and distributions.
    </div>


    <h4>There are two essential elements to VAMPS:</h4>
    <ul>


        <li><strong>Visualization and Analysis</strong> - Community Visualization including heat maps and comparative
            pie charts, as well as diversity estimates,
            rarefaction curves and spreadsheet-style output provide researchers with analytical tools for assessing
            individual microbial populations, based on either
            taxonomic assignments or independently-derived operational taxonomic units (OTUs).

        <li><strong>Data Ramp</strong> - Researchers who want to use the VAMPS tools with their own data can enter their
            sequence or taxonomy data to the VAMPS
            website and merge it with the existing shared datasets for individual or comparative analyses. Researchers
            will be given a user name and password,
            and their data will be visible only to registered users of their choice.
            <i>If your data is on our original vamps web application (<a href='https://vamps.mbl.edu'>https://vamps.mbl.edu</a>)
                and you would like it to be
                available on this new platform please contact us with your request: <a href='mailto:vamps@mbl.edu'>vamps@mbl.edu</a>
            </i>
    </ul>
    </p>

    <div class="row">
        <div class="col-lg-4">
            <br>
            <table class='table'>
                <% if (user === undefined) { %>
                <tr>
                    <td>Register for an Account:</td>
                    <td><a href='/users/signup' class="navbar-link">Register</a>
                        <small>(<a href='/users/login' class="navbar-link">or login</a>)</small>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td>Learn more about VAMPS:</td>
                    <td><a href="help/overview" class="">Overview Page</a></td>
                </tr>
                <tr>
                    <td>Recommended Analysis Start:</td>
                    <td><a href="visuals/visuals_index" class="">Data Selection Page</a></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <% include add_ins/end.ejs %>

    </body>
    </html>
